/*
 * Copyright 2012 The Toolkitchen Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style
 * license that can be found in the LICENSE file.
 */
 .mail {
   display: inline-block;
   height: 48px;
   width: 48px;
   background-image: url(../images/mail.png);
 }