#example2 .ht-root-wrapper {
  border: 5px solid transparent;
  border-image:
    repeating-linear-gradient(
      45deg,
      #f5f5f7 0,
      #f5f5f7 5px,
      transparent 5px,
      transparent 10px
    ) 5;
  border-radius: 4px;
  height: 300px;
  min-height: 120px;
  max-height: 600px;
  resize: vertical;
  overflow: auto;
}
