.example-controls-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #f7f7f9;
  border-radius: 8px;
  margin-top: 12px;
  padding: 12px 30px;
}

.example-controls-container .pagination-btn:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.example-controls-container .controls-row {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 12px;
  gap: 10px;
}

.example-controls-container .status-row {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  padding: 0 10px;

}

.example-controls-container .page-input-group {
  display: flex;
  align-items: center;
  gap: 10px;
}

.example-controls-container .page-input-group label {
  color: #485164;
}

.example-controls-container .page-input {
  width: 45px;
  padding: 4px;
  border: 1px solid #d1d5db;
  text-align: center;
  background: #fff;
  color: #22292f;
}

.example-controls-container .page-stats {
  color: #485164;
}
