
<!doctype html>
<html>
<head>
  <title>Test'em</title>
  <script src="//cdnjs.cloudflare.com/ajax/libs/jasmine/2.4.1/jasmine.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/jasmine/2.4.1/jasmine-html.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/jasmine/2.4.1/boot.js"></script>
  <script src="/testem.js"></script>
  <script>
    Testem.afterTests(function (config, data, callback) {
      var style = document.createElement('link');

      style.rel = 'stylesheet';
      style.href = 'https://cdnjs.cloudflare.com/ajax/libs/jasmine/2.4.1/jasmine.css';
      document.head.appendChild(style);
      document.querySelector('.jasmine_html-reporter').style.display = 'block';

      setTimeout(function () {
        callback();
      }, 10);
    });
  </script>

  {{#serve_files}}
    <script src="../{{{src}}}"></script>
  {{/serve_files}}

  {{#css_files}}
    <link rel="stylesheet" href="../{{{src}}}">
  {{/css_files}}
  <style>
    .jasmine_html-reporter {
      display: none;
    }
  </style>
</head>
<body>

</body>
</html>
