/* Selection */
.handsontable {
    .wtBorder {
        position: absolute;
        font-size: 0;

        &.hidden {
            display: none !important;
        }

        /* A layer order of the selection types */
        &.current {
            z-index: 10;
        }

        &.area {
            z-index: 8;
        }

        &.fill {
            z-index: 6;
        }

        /* fill handle */
        &.corner {
            font-size: 0;
            cursor: crosshair;
        }
    }
}
