/* 
  A stylesheet for the <BigExample> component
*/

.bigPreviewExample {

  $brandDarkBlue = #00309b;
  $brandLightBlue = #b5dafd;
  $brandVibrantBlue = #00e5ff;
  $bluishDarkWhite = #f5f6fa;

  & > div:not(.tab) {
    background-color: $bluishDarkWhite;
    padding: 0;
    border-radius: 0 0 8px 8px;
  }

  .tab {
    width: 100%;
    overflow: auto;
    white-space: nowrap;
    border-radius: 8px 8px 0 0;
    background-color: $brandDarkBlue;

    .text-left {
      position: relative;
      padding-left: .9375rem;
      padding-right: .9375rem;
      float: left;
      width: 15%;
    }

    .text-right {
      position: relative;
      padding-left: .9375rem;
      padding-right: .9375rem;
      float: right;
      text-align: right;
      width: 75%;
    }

    ul {
      padding: 0;
      margin: 0;
      list-style: none;
      display: inline-block;

      &:nth-child(2) {
        float: right;
      }

      li {
        display: inline-block;
        border-bottom: 4px solid transparent;
        outline: none;
        cursor: pointer;
        font-size: 16px;
        background-color: inherit;
        padding: 11px 14px 7px;
        color: #fff;

        a {
          color: #fff;
        }        

        a:hover {
          color: $brandLightBlue;
          text-decoration: none;
        }

        &.active, a.active {
          cursor: default;
          border-bottom: 3px solid $brandBlue;
          border-color: $brandVibrantBlue;

          &:hover {
            color: #fff;
          }
        }

        a.frameworks-label, a.frameworks-label:hover {
          color: #fff;
          cursor: default;
        }

        svg {
          position: relative;
          width: 17px;
          height: 17px;
          top: 3px;
          left: -6px;
          pointer-events: none;
        }
      }
    }
  }

  #tab-content-preview {
    /* Avoid sudden height expansion of the div holding Handsontable */
    min-height: 488px;

    iframe {
      width: 100%;
      height: 500px;
      border: 0;
      border-radius: 4px;
      overflow: hidden;
    }
  }
}

