.theme-default-content pre, .theme-default-content pre[class*="language-"] {
  padding: 16px;
}
html.theme-dark .tabs-component .tabs-component-panels section[id*="preview-"] {
  background: transparent;
}
