.form-codesandbox-external {
  height: 0;
  display: block;
  position: relative;

  .js-codesandbox-link {
    position: absolute;
    right: 48px;
    top: 8px;
    z-index: 1;

    button {
      padding: 7px 12px!important;
    }
    button:hover{
      background: #454554;
    }
  }
}
