/*
  related to issue #8987
*/

.theme-dark #CybotCookiebotDialogFooter .CybotCookiebotDialogBodyButton, .theme-dark #CybotCookiebotDialogNav .CybotCookiebotDialogNavItemLink {
  background-color: #fff;
  border-color: #fff;
}

.theme-dark #CybotCookiebotDialogDetailBodyContentCookieContainerTypes .CybotCookiebotDialogDetailBodyContentCookieProvider:not(.CybotCookiebotDialogDetailBodyContentCookieInfoCount), .theme-dark #CybotCookiebotDialogDetailBulkConsentLink {
  color: #fff;
}