/*
  a stylesheet to make sure that all cookiebot elements are visible in the dark theme
  (related to issue #8987)
*/

.theme-dark {
  /* footer and navigation background color */
  #CybotCookiebotDialogFooter .CybotCookiebotDialogBodyButton, 
  #CybotCookiebotDialogNav .CybotCookiebotDialogNavItemLink {
    background-color: #fff;
    border-color: #fff;
  }

  /* cookie providers' links' color */
  #CybotCookiebotDialogDetailBodyContentCookieContainerTypes .CybotCookiebotDialogDetailBodyContentCookieProvider:not(.CybotCookiebotDialogDetailBodyContentCookieInfoCount), 
  #CybotCookiebotDialogDetailBulkConsentLink {
    color: #fff;
  }
}

/* removing the fader */
.CybotCookiebotFader {
  display: none!important
}