/* 
  A stylesheet for demos that contain external 
  controls such as buttons, inputs, and more.
*/

.page {
  
  .controllers {
    padding: 10px 0 20px;

    input[type="checkbox"] {
      margin-right: 5px;
    }
  }

  /* guides/cell-features/selection */
  #selectOption {
    width: auto;
    margin: 0;
    padding: 6px;
  }

  /* guides/accessories-and-menus/searching-values */
  #search_field, #search_field1, #search_field2, #search_field3 {
    margin-bottom: 10px;
    padding: 4px 6px;
  }
  
  /* A custom demo at formulas/formula-calculation */
  #example-named-expressions1 {
    input[type="text"] {
      margin-right: 6px;
      padding: 6px;
    }
  }
  
  /* A custom demo at internationalization/language */
  .controls.select-language {
    margin-top: 0;
    padding: 0;
    
    select {
      padding: 3px 5px;
    }
  }
  
  .controls.v-model {
    margin-top: 0;
    padding: 0;

    input {
      margin-top: 6px;
      padding: 3px 5px;
    }
  }
  
  
}
