/* 
  A stylesheet for demos that contain external 
  controls such as buttons, inputs, and more.
*/

.page {
  
  .controllers {
    padding: 10px 0 20px;

    input[type="checkbox"] {
      margin-right: 5px;
    }
  }

  /* guides/cell-features/selection */
  #selectOption {
    margin-bottom: 10px;
  }

  /* guides/accessories-and-menus/searching-values */
  #search_field, #search_field1, #search_field2, #search_field3 {
    margin-bottom: 10px;
    padding: 4px 6px;
  }
}

