/*
  A stylesheet for different form elements:

  - button
  - input
  - textarea
  - select
  - checkbox
*/

/* BUTTON */

.controls {
  padding-bottom: 10px;
}

.page button {
  &:hover, &:focus, &:active {
    text-decoration: none;
  }

  &.button {

    // blue is default
    &--blue {
      background-color: #2456f2;
    }

    &--green {
      background-color: #43a047;
    }

    &--darkNavy {
      background-color: #15202f;
    }

    &--gray {
      color: #fff;
      background-color: #8D8D8D;
    }

    &--darkGray {
      color: #fff;
      background-color: #363636;
    }

    &--white {
      color: $textColor;
      border: 1px solid #cfdbe4;
      background-color: #fff;
    }
  }
}
