/* VuePress tabs */
@import '~vuepress-plugin-tabs/dist/themes/default'
@import 'vuepress-tabs-custom'

/* Font Import */  
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* Abstract */  
@import 'abstract/vars'

/* Base */  
@import 'base/reset'
@import 'base/icons'

/* Components */  
@import 'components/prism'
@import 'components/table-of-contents'
@import 'components/code'
@import 'components/tabs'

/* Layout */  
@import 'layout/layout'
@import 'layout/navbar'
@import 'layout/sidebar'
@import 'layout/page'
@import 'layout/footer'

/* Theme */  
@import 'theme/darkmode'
 
html {
scroll-behavior: smooth;
  color-scheme light
  /* Fix for anchor correct scroll positioning */
  //scroll-padding-top ($navbarHeight + 1.1rem)
}