body, html, #app {
    min-height 100vh

}

body div {
    user-select: initial;
}

.hot {
    position: relative;
    z-index: 9;
    font-size: 13px;
    font-family: Verdana, Helvetica, Arial, FreeSans, sans-serif;
    font-weight: 400;
    overflow-y: scroll;
    height: 320px;
    width: 100%;
}

/* Layout */

.page {
    padding-top: 3.6rem;
}

.page-top {
    max-width: 740px;
    margin: 0 auto;
    padding: 0 2.5rem;
}

.theme-default-content > h1:first-child {
    padding-top: 2rem;
}

/* iFrames */
.iframe-container {
    overflow: hidden;
    // aspect ration of the video (for 16:9 it is 9/16= 0.5625)
    padding-top: 56.25%;
    position: relative;
}

.iframe-container iframe {
    border: 0;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

/*
    TODO: It's workaround, and it should be removed. It seems that there is no option to disable title for a custom
    containers: https://v1.vuepress.vuejs.org/guide/markdown.html#custom-containers
 */
.custom-block-title {
    display: none;
}

/*
    TODO: It's workaround, and it should be removed. It seems that there is no option to disable title for a custom
    containers: https://v1.vuepress.vuejs.org/guide/markdown.html#custom-containers
 */
.custom-block.tip {
    border-color: #2456f2;
}

/* Larger bottom gap of H1, H2, H3 */
h1 {
    margin-bottom: 3rem!important;
}

h2 {
    margin-bottom: 2rem!important;
    font-size: 1.55rem;
}

h3 {
    margin-bottom: 1rem!important;
}

.page {
    ul, ol {
        padding-left: 2.2em;
    }
    ul {
        list-style-type: square;
    }
}

a {
    color: #3d84ff;
}

.sidebar {
    background-color: #fbfbfb;

    a.sidebar-link.active, a.sidebar-link:hover {
        color: #3d84ff;
    }

    .sidebar-sub-headers a.sidebar-link {
        color: #4d6379
    }
}

table {
    width: 100%;
    display: table;

    tr {
        border-top: none;
    }

    th, td {
        border: none;
        border-bottom: 1px solid #dfe2e5;
        line-height: 1.7;
        text-align: left;
    }
}

// floating sidebar should be inline on mobile, and float on wider screens
@media (min-width: 1080px) {
    .page {
        .page-edit
        .page-nav
        .page-top
        .theme-default-content {
            margin: 0;
            max-width:480px;
        }
    }
  
    .toc-container-header {
        font-weight: 600;
        padding: 1.2em 1rem;
    }

    .table-of-contents {
        font-size: 0.8em;
        position: fixed;
        right: 0;
        top: 100px;
        width: 200px;
        overflow-y: auto;
        overflow-x: hidden;
        border-left: 1px solid #eaecef;
        max-height: 100%;

        .toc-container-header {
            position: fixed;
            width: 100%;
            background: #fff;
            z-index: 10;
        }

        ul {
            padding: 0;
            margin: 46px 0 0 0;
            list-style-type: none;

            ul{
                padding-left: 1em;
                margin: 0;
            }
        }

        a {
            font-weight: 400;
            line-height: 1.4;
            padding: 0.35rem 1rem;
            color: #2c3e50;
            display: block;
        }
      
        a.active {
          color: #3d84ff;    
        }
      
        a:hover {
            color: #3d84ff;
            text-decoration: none;
        }
    }
}
@media (min-width: 1200px) {
  .page {
    .page-edit
    .page-nav
    .page-top
    .theme-default-content {
      max-width: 600px;
    }
  }
}
@media (min-width: 1400px) {
  .page {
    .page-edit
    .page-nav
    .page-top
    .theme-default-content {
      max-width: 800px;
    }
  }
}
  div.js-fiddle-link {
    position: relative;
    top: 10px;
    z-index: 10;
    float: right;
    right: 34px;

    button {
        background: #40404f;
        border: 0;
        border-radius: 5px;
        color: #7f8085;
    }
    button:hover{
        background: #454554;
    }
}

.search-box{
    margin-right: 24px;
}

.home-link{
    img{
        margin-top: 2px;
    }
}
