.form-jsfiddle-external {
  @media (max-width: 1092px) {
    order: 1;
    align-self: flex-end;
    .js-fiddle-link button {
      margin-right: 0;
    }
  }
  
  @media (min-width: 1093px) {
    height: 0;
    display: block;
    position: relative;

    .js-fiddle-link {
      position: absolute;
      right: 0;
      top: 8px;
      z-index: 1;

      button {
        padding: 7px 12px!important;
      }
      button:hover{
        background: #454554;
      }
    }
  }
}
