.form-jsfiddle-external {
  height: 0;
  display: block;
  position: relative;
  
  .js-fiddle-link {
    position: absolute;
    right: -9px;
    top: -54px;
    z-index: 1;

    button {
      margin-right: 0;
    }
  }
}
