$navbar-vertical-padding = 0.65rem
$navbar-horizontal-padding = 1.5rem

.navbar
  padding $navbar-vertical-padding $navbar-horizontal-padding
  line-height $navbarHeight - 1.4rem
  z-index 2000
  border-color: #e9eef2
  
  .navbar-wrapper {
    max-width 1700px
  }
  
  a, span, img
    display inline-block
    font-weight 500
    font-size: 14px
  .home-link
    margin-right 2rem
    position relative
    top .6rem
    @media (max-width: $medium) {
      margin-right 1.5rem
      top .4rem
    }
  #handsontable-logo
    height $navbarHeight - 2.2rem
    @media (max-width: $medium) {
      height 1rem
    }
  .links
    box-sizing border-box
    white-space nowrap
    font-size 0.9rem
    position absolute
    right $navbar-horizontal-padding
    top $navbar-vertical-padding
    display flex
    align-items center
    .search-box
      flex: 0 0 auto
      vertical-align top
@media (max-width: $medium)
  .navbar
    padding-left 4rem
    .can-hide
      display none
@media (max-width: $large)
  .navbar .nav-frameworks
    display none
