// colors
$accentColor = #1147f1
$textColor = #2c3e50
$borderColor = #eaecef
$codeBgColor = #282c34
$arrowBgColor = #2c3e51
$badgeTipColor = #1147f1
$badgeWarningColor = darken(#ffe564, 35%)
$badgeErrorColor = #DA5961

// layout
$navbarHeight = 3.6rem
$sidebarWidth = 17rem
$contentWidth = 740px
$homePageWidth = 960px

// responsive breakpoints
$MQNavbarNarrow = 1120px
$MQNarrow = 959px
$MQMobile = 719px
$MQMobileNarrow = 419px
