/*
// colors
$accentColor = #1147f1
$textColor = #2c3e50
$borderColor = #eaecef
$codeBgColor = #282c34
$arrowBgColor = #2c3e51
$badgeTipColor = #1147f1
$badgeWarningColor = darken(#ffe564, 35%)
$badgeErrorColor = #DA5961

// layout
$navbarHeight = 3.6rem
$sidebarWidth = 17rem
$contentWidth = 740px
$homePageWidth = 1500px

// Bootstrap-inspired layout breakpoints 
$extraSmall = 0
$small = 576px
$medium = 768px
$large = 992px
$extraLarge = 1200px

// Light scrollbars
$scrollbarBackgroundColor = #f9f9f9
$scrollbarThumbColor = #c1c1c1
$scrollbarThumbColorHover = #7c7c7c

// Dark scrollbars (for code fields)
$scrollbarDarkBackgroundColor = #282c34
$scrollbarDarkThumbColor = #626c74
$scrollbarDarkThumbColorHover = #6a757e

// Tabs component
$tabsComponentBackgroundColor = #282c34;
*/