/* 
  A temporary stylesheet containing various
  styles for random elements of the documentation.
*/


/* Fix the font color of the <pre> console in the saving-data.md page */
pre#example1console {
  color: #fff;
}
