/* 
  A temporary stylesheet containing various
  styles for random elements of the documentation.
*/


/* Fix the font color of the <pre> console in the saving-data.md page */
pre#example1console {
  color: #fff;
}

/* /column-filter.md demo */
// todo make as --css param
#externalFilter {
  width: 240px;

  .columnChoose {
    margin-bottom: 5px;

    select {
      width: 100%;
      margin-top: 5px;
      padding: 3px 6px;
      display: block;
      border-radius: 4px;
      border: 1px solid #cfdbe4;
    }
  }
  
  #filterSelect {
    margin-bottom: 5px;
    padding: 0 10px 8px;
    border-radius: 4px;
    border: 1px solid #cfdbe4;
  }
}
