/* Scrollbar stylings */
scrollbar($bgColor, $thumbColor, $thumbHoverColor) {
  // works on Chrome, Edge, and Safari
  &::-webkit-scrollbar {
    width 12px // width of the entire scrollbar
    height 12px // height of the entire scrollbar
  }

  &::-webkit-scrollbar-track {
    background $bgColor // color of the tracking area
  }

  &::-webkit-scrollbar-thumb {
    background $thumbColor
    border-radius 20px // roundness of the scroll thumb
    border 2px solid $bgColor // creates padding around scroll thumb
  }

  &::-webkit-scrollbar-thumb:hover {
    background $thumbHoverColor
  }

  &::-webkit-scrollbar-corner {
    background $bgColor
  }

  scrollbar-width thin
}
