.theme-switcher-item {
  position: relative;
  display: inline-block;
  margin-left: 1.5rem;
  line-height: 2rem;
  margin-top: 10px;

  @media (min-width: $large) {
    display: none;
  }
}

.framework-switcher-item {
  width: 235px;
  position: relative;
  display: inline-block;
  margin-left: 1.5rem;
  line-height: 2rem;
  font-weight: 600;
  margin-top: 10px;
  
  > span {
    float: left;  
  }

  .nav-frameworks {
    float: left;
    margin-left: 15px;
    font-weight: normal!important;

    .nav-dropdown {
      left: unset;

      @media (max-width: $medium) {
        right: -35px;
      }
    }
  }
  
  @media (min-width: $large) {
    display: none;
  }
}

.sidebar
  width $sidebarWidth
  z-index 1000
  border-color #e9eef2
  background-color #fff

  @media (max-width: $medium) {
    width 18rem
    padding-bottom: 20px;
  }

  ul
    padding 0
    margin 0
    list-style-type none
  a
    display inline-block
  & > .sidebar-links
    padding 1.5rem 0
    @media (max-width: $large) {
      padding-top 10px
    }
    & > li > a.sidebar-link
      padding 0.35rem 1.5rem 0.35rem 1.25rem
      font-weight 500
    & > li:not(:first-child)
      margin-top .75rem

  a.sidebar-link
    padding 0.3rem 1rem 0.3rem 2rem
    font-size 14px
    border none

  a.sidebar-link.active, a.sidebar-link:hover
    color #104bcd

  .sidebar-sub-headers a.sidebar-link
    color #4d6379

  a.sidebar-link.active
    font-weight 500;
    border-color #2556f2
    background-color #edf3fd

  .sidebar-heading
    position relative
    font-size 15px
    font-weight 600

  .sidebar-heading .arrow
    padding 2px
    position absolute
    top 15px
    left 9px
    border solid #2c3e50
    border-width 0 2px 2px 0
    transform rotate(315deg)
    -webkit-transform rotate(315deg)

    &.down
      transform rotate(45deg)
      -webkit-transform rotate(45deg)
      
  /* Switch between API and Guides in the mobile mode */
  .additional-menu
    display none
    .nav-item
      margin 5px 0
      padding-left 1.5rem!important
      display block
      border-radius 6px
      
      a 
        color $textColor
    @media (max-width: $medium)
      display block

  & > .sidebar-links > li:not(:first-child)
    margin-top 0
  
@media (max-width: $small)
  .sidebar
    .nav-links
      .mobile-dropdown-title
        font-size 15px
      display block
      .dropdown-wrapper .nav-dropdown .dropdown-item a.router-link-active::after
        top calc(1rem - 2px)
    & > .sidebar-links
      padding 1rem 0
