/* Table of contents */

.table-of-contents {
  width: 270px;
  max-height: calc(100vh - 110px);
  position: fixed;
  right: 0;
  top: 100px;
  display: none; //overwrite it for certain breaking points
  overflow-y: auto;
  overflow-x: hidden;
  font-size: 14px;
  border-left: 1px solid #e9eef2;

  .toc-container-header {
    padding: 1.2em 1rem;
    font-weight: 700;
  }

  ul {
    padding-left: 0!important;
    margin: 0;
    list-style-type: none!important;

    ul {
      padding-left: 1em!important;
      margin: 0;
    }
  }

  a {
    font-weight: 400;
    line-height: 1.2;
    padding: 0.35rem 1rem;
    color: $textColor;
    display: block;
    text-decoration: none!important;
  }

  a.active {
    color: #104bcd;
  }

  a:hover {
    color: #104bcd;
  }
  
  /* Display table of contents on the side of the article when minimum width is reached */
  @media (min-width: $large) {
    display: block;
  }
  // Custom breakpoints for purpose
  @media (min-width: 1500px) {
    right: 40px;
  }
  @media (min-width: 1850px) {
    right: auto;
    left: 1560px
  }
}
