$backgroundColor = #18191A
$fontColor = #f5f6f7
$fontColorLink = #2456F2
$searchBoxBackground = #20232A
$sectionBorderColor = #20232A
$scrollbarThumb = #444950
$searchIcon = #eeeeee
$rowItemBorderColor = #686868
$rowItemShadowColor = #797979
