$backgroundColor = #202224
$fontColor = #e5ebf1
$fontColorDisabled = #707070
$linkFontColor = #5c98f4
$sectionBorderColor = #43464d

$scrollbarBackgroundColor = #202224
$scrollbarThumbColor = #626c74
$scrollbarThumbColorHover = #6a757e

/* Row items container */
$rowItemBorderColor = #686868
$rowItemShadowColor = #797979

/* Sidebar links */
$sidebarSelectedBackgroundColor = #2d353d
$sidebarHoverBackgroundColor = #2b2f33

/* Table */
$tableEvenRowBackgroundColor = #282c34

/* kbd element */
$kbdFontColor = #ffffff
$kbdBackgroundColor = #2F2F2F
$kbdBorderColor = #5a5d61

/* Version alert */
$versionAlertBorderColor = #16110d

/* Code element */
$codeFontColor = #ffffff
$codeBackground = #33373c

/* Custom block tip */
$customBlockTipBackgroundColor = #282c34;

/* Custom block warning */
$customBlockWarningBackgroundColor = #877704;

/* Tabs component */
$tabsComponentBorderColor = #44464d
$tabsComponentBackgroundColor = #282c34;
$tabsComponentPanels = #282C34
$tabsScrollbarBackgroundColor = #282c34

/* Search Box */
$searchBoxBackground = #20232A
$searchBoxIconColor = #eeeeee
$searchBoxInputBorderColor = #43464d
$searchBoxFocusInputBorderColor = #2456f2
