$backgroundColor = #202224
$fontColor = #e5ebf1
$fontColorDisabled = #707070
$linkFontColor = #5c98f4
$sectionBorderColor = #20232A

$scrollbarBackgroundColor = #202224
$scrollbarThumbColor = #626c74
$scrollbarThumbColorHover = #6a757e

/* Row items container */
$rowItemBorderColor = #686868
$rowItemShadowColor = #797979

/* Sidebar links */
$sidebarSelectedBackgroundColor = #34404d
$sidebarHoverBackgroundColor = #2b2f33

/* Table */
$tableEvenRowBackgroundColor = #292929

/* kbd element */
$kbdFontColor = #ffffff
$kbdBackgroundColor = #2F2F2F
$kbdBorderColor = #5a5d61

/* Version alert */
$versionAlertBorderColor = #16110d

/* Code element */
$codeFontColor = #ffffff
$codeBackground = #2F2F2F

/* Custom block tip */
$customBlockTipBackgroundColor = #24384b

/* Tabs component */
$tabsComponentBorderColor = #4d4d4e
$tabsComponentBackgroundColor = #2f3133
$tabsComponentPanels = #282C34

/* Search Box */
$searchBoxBackground = #20232A
$searchBoxIconColor = #eeeeee
$searchBoxInputBorderColor = #43464d
