$backgroundColor = #18191A
$fontColor = #f5f6f7
$fontColorDisabled = #707070
$linkFontColor = #4B92FF
$sectionBorderColor = #20232A
$scrollbarThumb = #444950

/* Row items container */
$rowItemBorderColor = #686868
$rowItemShadowColor = #797979

/* Sidebar link */
$sidebarSelectedBackgroundColor = #242526

/* Table */
$tableEvenRowBackgroundColor = #292929

/* kbd element */
$kbdFontColor = #ffffff
$kbdBackgroundColor = #2F2F2F
$kbdBorderColor = #5a5d61

/* Version alert */
$versionAlertBorderColor = #16110d

/* Code element */
$codeFontColor = #ffffff
$codeBackground = #2F2F2F

/* Custom block tip */
$customBlockTipBackgroundColor = #0c0a08

/* Tabs component */
$tabsComponentBorderColor = #4d4d4e
$tabsComponentBackgroundColor = #2f3133
$tabsComponentPanels = #282C34

/* Search Box */
$searchBoxBackground = #20232A
$searchBoxIconColor = #eeeeee
$searchBoxInputBorderColor = #43464d
