{
  "parser": "babel-eslint",
  "extends": "airbnb-base",
  "env": {
    "browser": true,
    "commonjs": true,
    "jasmine": true,
    "jest": true
  },
  "globals": {},
  "rules": {
    "class-methods-use-this": 0,
    "func-names": 0,
    "import/extensions": 0,
    "import/no-extraneous-dependencies": 0,
    "no-extra-semi": 0,
    "no-multiple-empty-lines": [
      2,
      {
        "max": 1
      }
    ],
    "no-param-reassign": 0,
    "no-restricted-properties": 0,
    "no-undef": 0,
    "no-underscore-dangle": 0,
    "no-restricted-globals": ["error", "Handsontable"],
    "no-use-before-define": 0,
    "no-var": 0,
    "no-void": 0,
    "object-curly-spacing": 0,
    "one-var": 0,
    "padded-blocks": 0,
    "prefer-const": 0,
    "vars-on-top": 0,
    "linebreak-style": 0,
    "import/no-unresolved": [
      2,
      {
        "ignore": ["handsontable"]
      }
    ],
    "no-mixed-operators": [
      2,
      "groups": [
        ["+", "-", "*", "/", "%", "**"]
      ]
    ],
    "no-console": [
      2,
      {
        "allow": ["error", "warn", "info"]
      }
    ],
    "indent": [
      2,
      2,
      {
        "SwitchCase": 1,
        "FunctionDeclaration": {"parameters": "first"},
        "FunctionExpression": {"parameters": "first"}
      }
    ],
    "max-depth": [
      2,
      5
    ],
    "max-len": [
      2,
      {
        "code": 170,
        "ignoreComments": true
      }
    ],
    "max-params": [
      2,
      9
    ],
  }
}
