.DS_Store
.grunt
.idea
.vscode
_SpecRunner.html
test/E2ERunner.html
test/UnitRunner.html
test/MobileRunner.html
test/dist/
src/3rdparty/walkontable/test/dist/
src/3rdparty/walkontable/dist/
cars.sqlite
dev*.html
npm-debug.log

!dist/README.md
node_modules/
commonjs/
es/
