.DS_Store
.grunt
.config
.github
.idea
_SpecRunner.html
cars.sqlite
dev.html
webpack.config.js

!dist/README.md
!test/
node_modules/

# this directories are necessary for build PRO package
#demo/
#src/
#lib/
#test/
#tasks/
