# Ignore all files and directories in this repository...
*
*/

# ...and add files and directories that are the only ones that match the pattern below
!commonjs/**/*
commonjs/3rdparty/walkontable/test
!dist/*.js
!dist/*.css
!dist/README.md
!dist/languages/*
!es/**/*
es/3rdparty/walkontable/test
!languages/*
!lib/**/*
!handsontable-general-terms.pdf
!handsontable-non-commercial-license.pdf
!handsontable.d.ts
