language: node_js

sudo: false

node_js:
  - '8'

before_script:
  - export TZ=Europe/Warsaw
  - chmod ugo+x test/scripts/trigger-hot-builder-tests.sh
  - chmod ugo+x test/scripts/trigger-pro-tests.sh

after_success:
  - "./test/scripts/trigger-hot-builder-tests.sh"
  - "./test/scripts/trigger-pro-tests.sh"

notifications:
  email: false
  slack:
    secure: LDlPC3IbXLbve4yq6kNznoIR5WgMhS2x+/KomgbVRDkUpySzyt27dUtRJqgkAqtkHhDhd0FbpROZNPriQVJI8nLLux0xdl9dngy6Lazl2qVzShrtdN01I3lVxysJlDM3phKHQCPmGhd/1v1qjfTAu45tM9pnYACSnDfdfh46b84=
