@use "../../utils/mixins";

// Dropdown Editor [Listbox]

@mixin output {
  .handsontable {
    &.listbox {
      margin: 0;
      border: var(--ht-menu-border-width, 1px) solid
        var(--ht-menu-border-color, #e5e5e9);
      @include mixins.menu-box-shadow;

      .ht_master {
        overflow: hidden;
      }

      .wtHolder {
        overflow: auto;
      }

      table {
        overflow: hidden;

        th,
        tr:first-child th,
        tr:last-child th,
        tr:first-child td,
        td {
          border-color: transparent !important;
        }

        th,
        td {
          white-space: nowrap;
          text-overflow: ellipsis;
        }

        td.htDimmed {
          cursor: default;
          font-style: inherit;
          color: inherit;
        }

        .wtBorder {
          visibility: hidden;
        }

        strong {
          font-weight: var(--ht-font-weight);
          color: inherit;
        }

        tr td.current {
          background: var(--ht-menu-item-active-color, #e5e5e9);
          
          &:hover {
            background: var(--ht-menu-item-hover-color, #e5e5e9);
            cursor: pointer;
          }
        }

        thead th {
          height: auto !important;
          text-align: left;
          border-width: 0px 1px 1px;

          > div {
            padding-top: 8px;
            padding-bottom: 8px;
          }

          &:first-child {
            padding-left: 8px;
          }
        }
      }

      .ht_clone_top {
        .wtHider {
          overflow: hidden;
        }

        table {
          border-radius: 0;
        }
      }

      .htBorders {
        div {
          background: none !important;
        }
      }
    }

    &.autocompleteEditor {
      tr {
        &.ht__row_even {
          th,
          td {
            background-color: var(--ht-background-color, #ffffff);
          }
        }

        &.ht__row_odd {
          th,
          td {
            background-color: var(--ht-background-color, #ffffff);
          }
        }
      }
    }
  }
}
