/*
  Handsontable Select Editor
*/

@mixin output {
  .htSelectEditor {
    position: absolute;

    select {
      position: absolute;
      inset: 0;
      width: 100%;
      height: 100%;
      font-family: var(--hot-font-family);
      font-size: inherit;
      line-height: var(--hot-base-line-height);
      padding: var(--hot-cell-vertical-padding) var(--hot-cell-horizontal-padding);
      padding-right: 26px;
      -webkit-appearance: none !important;
      border-color: var(--hot-accent-color);
      box-shadow: 0 0 0px 1px inset var(--hot-accent-color);
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      color: var(--hot-foreground-color);
      background: var(--hot-background-color);
      
      &:focus {
        outline: none;
      }
    }

    .htAutocompleteArrow {
      top: 50%;
      transform: translateY(-50%);
      margin-inline-end: 4px;
      z-index: 1;
    }
  }
}
