// Handsontable Select Editor

@mixin output {
  .htSelectEditor {
    position: absolute;

    select {
      position: absolute;
      inset: 0;
      width: 100%;
      height: 100%;
      padding: calc(
          var(--ht-cell-horizontal-padding, 4px) +
            var(--ht-cell-horizontal-border-width, 1px)
        )
        calc(
          var(--ht-cell-vertical-padding, 8px) +
            var(--ht-cell-vertical-border-width, 1px)
        );
      padding-right: 26px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      color: var(--ht-cell-editor-foreground-color);
      background: var(--ht-background-color);
      font-family: inherit !important;
      font-size: inherit !important;
      line-height: inherit !important;
      color: var(--ht-cell-editor-foreground-color);
      background-color: var(--ht-background-color);
      box-shadow: inset 0px 0px 0px var(--ht-cell-editor-border-width)
          var(--ht-cell-editor-border-color),
        0 0 var(--ht-cell-editor-shadow-blur-radius)
          var(--ht-cell-editor-shadow-color);
      border: none;
      -webkit-appearance: none !important;

      &:focus {
        outline: none;
      }
    }

    .htAutocompleteArrow {
      top: 50%;
      transform: translateY(-50%);
      margin-inline-end: 4px;
      z-index: 1;
    }
  }
}
