/*
  Handsontable Input Editor
*/

@mixin output {
  .handsontableInputHolder {
    position: absolute;
    top: 0;
    left: 0;

    .handsontableInput {
      display: block;
      margin: 0;
      padding: var(--hot-border-vertical-size) !important;
      padding-bottom: 0 !important;
      padding-left: calc(
        var(--hot-cell-horizontal-padding) + var(--hot-border-horizontal-size)
      ) !important;
      padding-right: calc(
        var(--hot-cell-horizontal-padding) + var(--hot-border-horizontal-size)
      ) !important;
      border: none;
      border-radius: 0;
      resize: none;
      box-shadow: 0 0 0 calc(var(--hot-border-horizontal-size) * 2)
        var(--hot-accent-color) inset;
      font-family: inherit;
      font-size: inherit;
      line-height: calc(
        var(--hot-base-line-height) + (var(--hot-cell-vertical-padding) * 2)
      );
      color: var(--hot-foreground-color-active);
      background-color: var(--hot-background-color);

      /* Miscellaneous */
      outline-width: 0;
      /*overwrite styles potentially made by a framework*/
      &:focus {
        outline: none;
      }
    }
  }
}
