/*
    Handsontable Input Editor
*/

@mixin output {
    .handsontableInputHolder {
        position: absolute;
        top: 0;
        left: 0;

        .handsontableInput {
            border: none;
            outline-width: 0;
            margin: 0;
            padding-top:  var(--hot-border-vertical-size) !important;
            padding-bottom: 0 !important;
            padding-left:   calc( var(--hot-cell-horizontal-padding) + var(--hot-border-horizontal-size) )  !important;
            padding-right:  calc( var(--hot-cell-horizontal-padding) + var(--hot-border-horizontal-size) )  !important;
            font-family: inherit;
            line-height: calc( var(--hot-cell-line-height) + ( var(--hot-cell-vertical-padding) * 2 ) );
            font-size: inherit;
            box-shadow: 0 0 0 calc(var(--hot-border-horizontal-size) * 2) var(--hot-input-border-color) inset;
            resize: none;
            /*below are needed to overwrite stuff added by jQuery UI Bootstrap theme*/
            display: block;
            color: var(--hot-foreground-color-active);
            border-radius: 0;
            background-color: var(--hot-background-color);
            /*overwrite styles potentionally made by a framework*/
            &:focus {
                outline: none;
            }
        }
    }
}