@mixin user-select-none {
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-overflow-scrolling: touch;
}

@mixin cursor-grab {
  cursor: move;
  cursor: -moz-grab;
  cursor: -webkit-grab;
  cursor: grab;
}

@mixin cursor-grabbing {
  cursor: move;
  cursor: -moz-grabbing;
  cursor: -webkit-grabbing;
  cursor: grabbing;
}

@mixin area-styles {
  position: relative;

  &:before {
    content: '';
    position: absolute;
    inset:0;
    background: var(--hot-accent-color);
  }
}

@mixin pseudo {
  content: '';
  display: block;
}

@mixin selection-opacity($index) {
  $opacity: 0.1 + ($index * 0.07);
  .handsontable tbody td[rowspan][class*="area"][class*="highlight"][class*="fullySelectedMergedCell-#{$index}"]:before {
    opacity: $opacity;
  }
}

// Function to return opacity values - selection [area]
@function get-opacity($index) {
  @return 0.1 + ($index * 0.07);
}

@mixin icon($url) {
  width: var(--hot-icon-size);
  height: var(--hot-icon-size);
  mask-size: contain;
  mask-image: url($url);
  background-color: currentColor;
}