#example1_events {
  height: 166px;
  padding: 6px;
  margin: 10px 0;
  overflow-y: scroll;
  font-size: 13px;
  border: 1px solid #ccc;
  box-sizing: border-box;
}
#example1_events div {
  padding: 4px 0;
}
#example1_events div:nth-child(odd) {
  background-color: rgba(255, 255, 255, 0.1);
}
#example1 {
  margin-top: 0;
}
#example3 .controls {
  margin: 0 0 16px;
  padding: 0;
}
#example3 .controls label {
  display: block;
}
#example3 .controls label input {
  margin-right: 6px;
}
#hooksList {
  padding: 0;
  height: 300px;
  overflow: auto;
}
#hooksList li {
  list-style: none;
  width: 33%;
  display: inline-block;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
