.page .footer { 
    max-width: 720px
    margin: 24px auto
    padding: 32px 24px 24px
    background: $sideColor
    border-radius: $radius-xxl
    box-sizing: border-box;

    .footer-links { 
        display: flex
        justify-content: space-between
        color: $text2Color

        p,a { 
            font-size: $font-size-xs
            line-height: $line-height-xs
        }

        p { 
            opacity .6
        }
        
        .socail-links {
            margin: 0 0 -8px -8px
            
            a {
                padding: 8px
                border-radius: $radius-xxl
                transition: all $t ease-in-out
                display: block

                @media (hover: hover) {
                    &:hover {  
                        background: $bgColor
                    }
                }
            }
        }
        
        div { 
            display: flex
            gap:8px
            a { 
                color: $text2Color
                text-decoration: none
                transition: all $t ease-in-out

                @media (hover: hover) {
                    &:hover {  
                        color: $textColor
                    }
                }
            }
        }
    }

    .footer-support { 
        display: flex
        font-size: $font-size-xs
        line-height: $line-height-xs
        justify-content: space-between
        padding: 0 0 16px 0
        color: $text2Color

        .edit-link a { 
            display: flex
            gap: 8px
            transition: all $t ease-in-out

            i { filter:none }

            @media (hover: hover) {
                &:hover {  
                    color: $textColor
                }
            }
        }
    }

    .rate-post {
        padding: 24px 0 
        text-align: center

        p {
            font-weight: 300
            padding-bottom: 8px
        }

        .btn-group { 
            margin: 0 auto 24px
            display: flex;
            gap: 8px;
            width: fit-content;
        }

        button { 
            border:0;
            padding: 8px 16px;
            font-size: $font-size-xs
            line-height: $line-height-xs
            border-radius: $radius
            background: $borderColor  !important
            cursor: pointer
            transition: all $t ease-in-out

            @media (hover: hover) {
                &:hover {  
                    background: $bgColor  !important
                }
            }
        }
    }
}