.footer { 
    margin: 24px auto 0
    padding: 32px 0 16px
    border-top: 1px solid $borderColor    
    box-sizing: border-box;

    .footer-links { 
        display: flex
        justify-content: space-between
        color: $text2Color
        align-items: center

        p,a { 
            font-size: $font-size-xs
            line-height: $line-height-xs
        }

        p { 
            opacity .6
            text-align: center
        }
        
        .socail-links {
            margin: 0 0 0 -8px
            
            a {
                padding: 8px
                border-radius: $radius-xxl
                transition: all $t ease-in-out
                display: block

                @media (hover: hover) {
                    &:hover {  
                        background: $onsurfaceColor
                    }
                }
            }
        }
        
        div { 
            display: flex
            gap:8px
            a { 
                color: $text2Color
                text-decoration: none
                transition: all $t ease-in-out

                @media (hover: hover) {
                    &:hover {  
                        color: $textColor
                    }
                }
            }
        }
    }

    .footer-support { 
        display: flex
        font-size: $font-size-xs
        line-height: $line-height-xs
        justify-content: space-between
        color: $text2Color

        .edit-link a { 
            display: flex
            gap: 8px
            transition: all $t ease-in-out
            font-weight: 300

            i { filter:none }

            @media (hover: hover) {
                &:hover {  
                    color: $textColor
                }
            }
        }
    }

    .rate-post {
        padding: 48px 0 
        text-align: center

        p {
            font-weight: 300
            padding-bottom: 8px
        }

        .btn-group { 
            display: flex;
            gap: 8px
            margin: 8px auto 0 
            width: fit-content;
        }

        button { 
            border:0;
            padding: 8px 16px;
            font-size: $font-size-xs
            line-height: $line-height-xs
            border-radius: $radius
            background: $onsurfaceColor !important
            cursor: pointer
            transition: all $t ease-in-out

            @media (hover: hover) {
                &:hover {  
                    background: $bgColor  !important
                }
            }
        }
    }

    .dark-mode { 
        cursor pointer

        .inner { 
            display:flex
            padding: 8px 16px 8px 8px
            font-size: $font-size-xs
            line-height: $line-height-xs
            background: $bgColor 
            color: $textColor
            border-radius: $radius-xl
            transition: all $t ease-in-out
            
            span {
                display: flex;
                gap: 8px;
                align-items: center;
            }

            i { 
                display: inline-block
            }
            input { 
                display none 
            }

            @media (hover: hover) {
                &:hover {  
                    background: $borderColor
                }
            }
        }
    }

    @media (max-width: $medium) {
        background: $borderColor
        margin: 80px -32px -24px
        padding: 32px 32px 32px
        border-radius: 0
    }
    
}