.navbar {  
    position: fixed
    top: 0
    margin: 0 0 0 0
    background: none
    border: none 
    height: auto
    z-index: 10100
    backdrop-filter: blur(14px);
    background: $dropColor

    .tag  { 
        font-size: $font-size-xxs
        line-height: $line-height-xxs
        display: block;
        border-radius: $radius-s
        padding: 2px 8px;
        background-color: $accentColor
        color: $bgColor
        margin: -2px 0;
    }

    .navbar-wrapper {
        box-sizing: border-box;
        display: flex
        height: 72px
        padding: 8px 32px

        > * {
            box-sizing: border-box;
        }

        .top-bar {
            display: flex
            justify-content: space-between
            width:100%

            .top-bar_left { 
                display: flex
                gap:16px
            }
        }

        .home-link {
            padding-top: 2px
            width: auto
            margin-right: 24px
            border-radius: $radius-xl
            position relative

            .version {
                display: block 
                position: absolute
                font-size: $font-size-xxs
                line-height: $line-height-xxs
                color: $textColor
                left: 16px
                bottom: 0
            }

        }

        .Logo { 
            margin: 16px
            height: 24px 
            width: 145px
            display: block
            background-repeat: no-repeat
            background-size: 100%
        }

        .menu {
            display: flex

            .nav-links {
                display: flex

                .nav-item {
                    a, button { 
                        font-size:$font-size-xs
                        line-height: $line-height-xs
                        color: $text2Color
                        padding: 18px 16px
                        display: block
                        display: flex
                        white-space: nowrap
                        gap:8px
                        font-weight: 400
                        border-radius: $radius-xl
                        transition: all $t ease-in-out

                        &.router-link-active { 
                            position relative
                            
                            &:before { 
                                width: 16px
                                position: absolute
                                bottom: 12px
                                left: 50%
                                transform: translateX(-50%)
                                display: block
                                content: ''
                                background: $accentColor
                                height: 1px

                            }
                            color: $textColor
                        }

                        @media (hover: hover) {
                            &:hover { 
                                color: $textColor
                            }
                        }
                    }

                    button { 
                        background:none
                        border: none
                        display: flex
                        color: $text2Color
                        align-items: center
                    }

                    .nav-dropdown {
                        a { 
                            padding: 6px 8px
                            font-size:$font-size-xs
                            line-height: $line-height-xs
                        }    
                    }

                    .external span { 
                        display:none
                    }
                }
            }
        }

        .framework-and-version { 
            display: flex
            //display: none
            

            > nav > i {
                margin-right -16px
                z-index 1
                position relative
            } 
            
            .nav-frameworks { 
                display: flex
                align-items: center
                gap: 8px
                margin: 0

                .dropdown-wrapper > button { 
                    border-radius: $radius-xl
                    display: flex
                    gap: 8px
                    padding-left: 48px
                    padding:20px 16px 20px 48px
                    margin-left:-32px
                    margin-top: 4px
                    font-size: $font-size-xs
                    line-height: $line-height-xs
                    align-items: center;

                    + .nav-dropdown { 
                        left: -16px
                    }
                }
            }
        }

        .dropdown-wrapper { 
            position: relative
            height: 64px

            > button { 
                display: flex
                padding: 16px
                display: flex
                gap: 8px
                background: none
                border:0
                cursor pointer
                transition all $t ease
                text-transform: capitalize
                font-size: $font-size-xs
                line-height: $line-height-xs

                .title {
                    display: flex; gap: 8px
                }

                i { 
                    transition all $t ease
                }
            }

            &.open { 
                > button { 
                    i { 
                        transform:rotate(-180deg)
                    }

                    & + .nav-dropdown {
                        visibility: visible
                        opacity 1
                    }
                }
            }
            @media (hover: hover) {
                &:hover { 
                    > button { 
                        i { 
                            transform:rotate(-180deg)
                        }

                        & + .nav-dropdown {
                            visibility: visible
                            opacity 1
                        }
                    }
                }
            }

            .nav-dropdown { 
                transition all $t ease
                display:block !important
                visibility: hidden
                opacity 0
                position absolute
                top: 48px
                left: 0
                background: $sideColor
                padding: 12px 8px
                border-radius: $radius-xl
                //right: 0
                min-width: 120px

                a { 
                    color: $text2Color
                    font-size: $font-size-xs
                    line-height: $line-height-xs
                    padding: 6px 8px 
                    border:0
                    position: relative
                    transition all $t ease
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    z-index 1

                    &:before { 
                        content: ''
                        display: block
                        position absolute
                        inset: 0 0
                        background: $onsurfaceColor
                        z-index -1
                        border-radius: $radius
                        opacity: 0
                        transition all $t ease
                    }

                    @media (hover: hover) {
                        &:hover { 
                            color: $textColor

                            &:before {
                                opacity: 1
                            }
                        }
                    }
                    
                    &.active { 
                        color: $textColor
                        font-weight: 400
                        
                        &:before { 
                            opacity: 1    
                        }
                    }  
                }
            }
        } 

        //Icons
        .icons-nav {
            display: flex
            padding: 8px
            gap: 8px
            
            a {
                display: block
                padding: 12px
            }

            button { 
                cursor pointer
                background: none
                border: none
                padding: 12px
            }

            a, button, label {
                border-radius: $radius*4

                @media (hover: hover) {
                    &:hover { 
                        background: $onsurfaceColor
                    }
                }
            }

            .menuButton { 
                display: none
            }

            .github-stars {
                padding: 12px 16px
                display: flex
                border: 1px solid $borderColor
                gap: 8px
                color: $text2Color
                font-size: $font-size-xs
                line-height: $line-height-xxs

                i { }
            }
        }   

        //Search
        .search-box { 
            position: absolute;
            z-index 2
            display: flex
            padding: 4px
            width: auto
            transform: translateX(-50%)
            left: 50%

            > i { 
                position: absolute
                top: 20px
                left: 20px
            }

            input { 
                width: 320px;
                box-sizing: border-box;
                border-radius: $radius
                background: $borderColor
                border: none
                padding: 14px 16px 14px 48px
                font-size: $font-size-xs
                line-height: $line-height-xs
                color: $text2Color
                font-family: $font
                transition all $ts ease

                &:focus { 
                    //box-shadow: 0 0 0 1px $accentColor
                    //width: 480px

                    + .kbd-hint { 
                        opacity 0 
                    }
                }
            }

            .kbd-hint { 
                transition all $ts ease
                position:absolute
                display: 
                flex; gap:6px
                right: 12px
                top:12px

                kbd { 
                    display: block
                    line-height: 32px
                    width: 32px
                    border-radius: $radius-s
                    text-align: center
                    background: $onsurfaceColor
                    color: $text2Color
                    font-size: $font-size-xxs
                }
            }

            .suggestions { 
                position absolute
                top 64px
                right:-160px;
                left: -160px
                min-width:320px
                background: $onsurfaceColor
                padding: 8px 0
                border-radius: $radius-xl
                list-style: none

                &:before {
                    content: ''
                    display: block
                    inset:  -2000px
                    position fixed
                    background: rgba(0,0,0,.6)
                    z-index -1
                    backdrop-filter: blur(14)
                    transition: all .2s ease-in-out
                }

                li { 
                    color: $textColor
                    font-size: $font-size-xs
                    line-height: $line-height-xs
                    padding: 4px 8px 
                    margin:0 8px
                    align-items: baseline
                    
                    &:not(.suggestion) {
                        padding: 16px 16px 12px
                        border-bottom: 1px solid $borderColor
                        margin: 8px 0
                    }
                    
                    &.focused {
                        a {
                            background: $borderColor
                            color: $textColor
                        }
                    }

                    a { 
                        color: $text2Color
                        font-size: $font-size-xs
                        line-height: $line-height-xs
                        padding: 6px 8px 
                        margin: 0 -8px
                        border:0
                        position: relative
                        transition all $t ease
                        display: block;
                        z-index 1
                        font-weight: 400
                        border-radius: $radius
                        display: flex;

                        i {
                            //padding: 2px
                            opacity .8
                            transform:rotate(-90deg)
                            display: inline-block
                            position: relative
                            top: 2px
                        }

                        span { 
                            display: inline-block
                            white-space: pre
                        }

                        .header { 
                            font-size: $font-size-xs
                            line-height: $line-height-xs
                            display: inline-flex;
                        }

                        @media (hover: hover) {
                            &:hover { 
                                background: $borderColor
                                color: $textColor
                            }
                        }

                    }
                }
            }
        }
    }
    
    @media (max-width: $extraLarge) {
        .navbar-wrapper .menu .nav-links .nav-item a,
        .navbar-wrapper .menu .nav-links .nav-item button {
            //padding: 22px 12px
        }
        .navbar-wrapper {
            padding: 8px 24px
        }
    }

    @media (max-width: $large) {
        .navbar-wrapper {
            .search-box { 
                display: none
            }
        }
    }

    @media (max-width: $medium) {
        margin: 0
        z-index: 200
        padding: 0

        &:after{
            display: none
        }

        .navbar-wrapper {
            padding: 0 8px
            border-radius: 0
            
            .framework-and-version,
            .search-box,
            .menu .nav-links { 
                display: none
            }

            .icons-nav {
                button:not(.menuButton), a {
                    display: none
                }
            }

            .icons-nav .menuButton {
                display: flex;

                i:nth-child(1) { display: block}
                i:nth-child(2) { display: none}
            }

            .Logo { 
                margin: 24px
                height: 24px 
                width: 145px
                display: block
                background-repeat: no-repeat
                background-size: 100%
            }

            .home-link { 
                padding-top: 4px
            }

            .top-bar { 
                align-items: center
            }
        }
    }
}

.sidebar-open .navbar {
     @media (max-width: $medium) {
        .navbar-wrapper {
            background: none !important

            .menuButton {
                i:nth-child(2) { display: block}
                i:nth-child(1) { display: none}
            }
        }
     }
}