.theme-default-content:not(.custom) > h1, 
.theme-default-content:not(.custom) > h2, 
.theme-default-content:not(.custom) > h3, 
.theme-default-content:not(.custom) > h4, 
.theme-default-content:not(.custom) > h5, 
.theme-default-content:not(.custom) > h6 {
    padding: 0;
    margin: 0;
}

.header-framework {display: none !important}
.page { 
    opacity 1
    margin: 96px 400px 0
    padding: 0 0 24px 0
    position: relative
    z-index: 1

    .theme-default-content {
        font-size: $font-size-s
        line-height: $line-height-s
        font-weight: 400
        color: $text2Color
        letter-spacing: $letterSpacingText
        
        &:not(.custom) { 
            max-width: 720px
            padding: 0 0 80px
        }

        .header-framework { 
            font-size: $font-size-s
            line-height: $line-height-s
            display: block
            font-weight: 400
            padding-bottom: 8px
            color: $text2Color
        }

        h1, h2, h3, h4, h5, h6 {
            color: $textColor
            font-weight 400

            &:first-child {
                margin-top 0
                margin-bottom 16px

                + p, + pre, + .custom-block {
                    margin-top 0
                }
            }
            &:focus .header-anchor,
            &:hover .header-anchor {
                opacity: 1        
            }
        }

        h1 { 
            font-size: $font-size-xl
            line-height: $line-height-xl
            font-weight: 400
            margin:0 !important
            padding: 48px 0 0
            position: relative
        }

        h2 { 
            padding-top: 32px
            padding-bottom: 0
            font-size: $font-size
            line-height: $line-height
            margin: 0
            position relative
        }

        h3 { 
            padding-top: 32px
            padding-bottom: 0
            font-size: $font-size-m
            line-height: $line-height-m
            margin: 0
            position: relative
        }

        h4, h5 { 
            padding-top: 24px
            padding-bottom: 0
            font-size: $font-size-s
            line-height: $line-height-s
            margin: 0
            position: relative
        }

        a.header-anchor {
            margin-left: -40px
        }

        > div { 
            padding: 16px 0 0 
        }

        p { 
            font-size: $font-size-s
            line-height: $line-height-s
            font-weight: 400
            padding: 8px 0 0 
            color: $text2Color
            letter-spacing: $letterSpacingText
            display: block

            //&:empty { 
            //    display:none 
            //}
        }
        
        li {
            font-size: $font-size-s
            line-height: $line-height-s
        }

        > ul, > ol { 
            padding: 16px 8px 8px
            word-wrap: break-word

            li {
                font-size: $font-size-s
                line-height: $line-height-s
                font-weight: 400
                list-style square 
                margin-left: 24px
                color: $text2Color
                padding-bottom: 8px

                ul, ol {
                    padding: 8px 8px 8px
                }
            }
        }

        
        
        img { 
            border-radius: $radius
        }

        a { 
            color: $linkColor
            text-decoration: none 
            font-weight: 400
            transition: $t all ease-in-out

            @media (hover: hover) {
                &:hover { 
                    text-decoration:none
                    color: $textColor
                }
            }
            svg { padding: 4px}
        }
    }

    a.header-anchor { 
        &:before {
            content: '#'
            font-weight: 300
        }
    }

    
    
    kbd {
        border: 1px solid $borderColor
        border-bottom: 2px solid $borderColor
        background: $bgColor
        padding: 2px 6px
        border-radius: $radius-s
        font-weight: 400
        font-family: 'Inter'
        font-size: $font-size-xs
        line-height: $line-height-xs
        
        strong { 
            font-weight: 400
        }
    }

    table.htCore {
        display: table
    }
    
    table:not(.htCore) { 
        font-size: $font-size-xs
        line-height: $line-height-xs
        font-weight: 400
        margin: 32px 0
        width: 100%

        td,th { 
            padding: 16px
        }

        thead { 
            tr { 
                th { 
                    border-top:1px solid $borderColor
                    font-weight: 400
                    text-align: left
                }
            }
        }

        tbody {
            tr {
                background: $sideColor
                td {
                    
                }
                &:nth-child(2n) { 
                    background: $bgColor
                }
            }
        }
    }

    .form-jsfiddle-external .js-fiddle-link { 
        button {
            background: $editorColor !important
        }
    }
    
    button:not(.theme-code-group__nav-tab, .handsontable *) {
        padding: 8px 16px
        background: $editorColor !important

        @media (hover: hover) {
            &:hover { 
                background: $editorHeadColor !important
            }
        }
    }

    #hooksList {
        padding-top: 16px 
        font-size: $font-size-xs
        line-height: $line-height-xs
    }

    @media (max-width: $xLarge) {
        margin: 128px 32px 24px 320px
        
        .theme-default-content .table-of-contents { 
            display:none
        }
    }

    @media (max-width: $medium) {
        margin: 128px 32px 0

        .theme-default-content {

            h1 { 
                padding: 32px 0 8px
            }

            pre {
                padding: 16px 32px
                margin: 16px -32px 0
                border-radius: 0
            }

            .theme-code-group {
                margin: 0 -32px

                .theme-code-group__nav {
                    padding: 8px 32px 16px
                    border-radius: 0
                }

                pre { 
                    border-radius: 0 
                }
            }
        }
    }
}

.handsontable-drawing p:last-child { 
    display: none
}