.theme-default-content:not(.custom) > h1, 
.theme-default-content:not(.custom) > h2, 
.theme-default-content:not(.custom) > h3, 
.theme-default-content:not(.custom) > h4, 
.theme-default-content:not(.custom) > h5, 
.theme-default-content:not(.custom) > h6 {
    padding: 0;
    margin: 0;
}

.header-framework {display: none !important}
.page { 
    opacity 1
    margin: 128px 360px 24px
    padding: 0 0 0 0

    .breadcrumbs {
        max-width: 720px
        display: flex
        margin:0 auto
        padding: 16px 0 0 !important
        
        a, span {
            font-size: $font-size-xs
            line-height: $line-height-xs
        }
        a {
            color: $textColor
            margin:0 !important
            i { 
                display: inline-block
                position relative
                top: 2px
            }
            &:after { 
                content: "/"
                display: inline-block
                padding: 0 12px 0 12px
            }
        }
        span { 
            color: $text2Color
        }
    }

    .theme-default-content {
        font-size: $font-size-s
        line-height: $line-height-s
        font-weight: 400
        color: $text2Color
        letter-spacing: $letterSpacingText
        
        &:not(.custom) { 
            max-width: 720px
            padding: 0
        
        }

        .header-framework { 
            font-size: $font-size-s
            line-height: $line-height-s
            display: block
            font-weight: 400
            padding-bottom: 8px
            color: $text2Color
        }

        h1, h2, h3, h4, h5, h6 {
            color: $textColor
            font-weight 400

            &:first-child {
                margin-top 0
                margin-bottom 16px

                + p, + pre, + .custom-block {
                    margin-top 0
                }
            }
            &:focus .header-anchor,
            &:hover .header-anchor {
                opacity: 1        
            }
        }

        h1 { 
            font-size: $font-size-xl
            line-height: $line-height-xl
            font-weight: 400
            margin:0 !important
            padding: 32px 0 16px
            position: relative
        }

        h2 { 
            padding-top: 48px
            padding-bottom: 0
            font-size: $font-size
            line-height: $line-height
            margin: 0
            position relative
        }

        h3 { 
            padding-top: 48px
            padding-bottom: 0
            font-size: $font-size-m
            line-height: $line-height-m
            margin: 0
            position: relative
        }

        h4 { 
            padding-top: 32px
            padding-bottom: 0
            font-size: $font-size-s
            line-height: $line-height-s
            margin: 0
            position: relative
        }

        a.header-anchor {
            margin-left: -40px
        }

        p { 
            font-size: $font-size-s
            line-height: $line-height-s
            font-weight: 400
            padding: 16px 0 0 
            color: $text2Color
            letter-spacing: $letterSpacingText

            &:empty { 
                display:none 
            }
        }

        h1 + p + p + p,
        h1 + p,
        .table-of-contents + p + p + p {
            font-size: $font-size
            line-height: $line-height
            font-weight: 300
            padding-top: 0
            color: $textColor
        }
        
        > ul, > ol { 
            padding: 16px 8px 8px

            li {
                font-size: $font-size-s
                line-height: $line-height-s
                font-weight: 400
                list-style square inside
                margin-left: 24px
                color: $text2Color
                padding-bottom: 8px

                ul, ol {
                    padding: 8px 8px 8px
                }
            }
        }

        img { 
            border-radius: $radius
        }

        a { 
            color: $linkColor
            text-decoration: none 
            font-weight: 400
            transition: $t all ease-in-out

            @media (hover: hover) {
                &:hover { 
                    text-decoration:none
                    color: $textColor
                }
            }
            svg { padding: 4px}
        }

        pre { 
            margin-top: 16px
            background: $editorColor 
            padding: 16px 24px
            margin: 16px -16px 0
            border-radius: $radius-l
            font-size: $font-size-s
            line-height: $line-height-s
        }

        div[class*="language-"] {
            background: $editorColor 
            border-radius: $radius-l
            margin-bottom: 24px
        }
        
        .theme-code-group { 
            margin: 0 -16px 

            .theme-code-block {
                margin-top: -32px
            }

            pre { 
                margin: 16px 0
                border-radius: 0 0 16px 16px
                padding-bottom: 24px
            }
        }

        .theme-code-group__nav { 
            background: $editorHeadColor 
            margin: 16px 0
            padding: 8px 16px 16px
            border-radius: $radius-l
            margin-bottom: -16px

            button {
                font-size: $font-size-s
                line-height: $line-height-s
                font-weight: 400
                padding:8px 8px 8px
                color: $text2Color

                &.theme-code-group__nav-tab-active {
                    color: $textColor
                    border-color: $linkColor
                }
            }
        }

        .custom-block {
            background: $sideColor
            border-radius: $radius-xl
            margin:0 -16px
            padding: 24px 16px 24px 48px
            border:0
            margin-top: 16px
            position: relative

            &:before { 
                content: ''
                display: block
                position absolute
                top: 28px
                bottom: 28px
                left: 24px
                width: 1px
                background: $gradient
            }

            &.tip { }
            
            .tip-icon { 
                height: 24px
                width: 24px
                display: inline-block
                vertical-align: middle
                margin-right: 8px
            }
            .custom-block-title {  
                display: none                
            }

            p { 
                padding: 0
                vertical-align: middle
                
                a { 
                    font-weight: 400
                }
            }

            code { 
                background: $bgColor 
            }
        }
    }

    a.header-anchor { 
        &:before {
            content: '#'
            font-weight: 300
        }
    }

    .page-nav { 
        padding: 24px 0 0
        max-width: 720px
        
        .inner { 
            border: 0
            display: flex
            gap: 16px
            padding: 0

            > span { 
                border: 1px solid $borderColor
                border-radius: $radius-xl
                width: 50%
                padding: 24px
                position: relative
                z-index: 1
                color: $linkColor
                font-size: $font-size-x
                line-height: $line-height-x
                font-weight: 400

                &:before {
                    display: block
                    content: 'Preview'
                    font-size: $font-size-xxs
                    line-height: $line-height-xxs
                    color: $text2Color
                    pointer-events: none
                }
                
                @media (hover: hover) {
                    &:hover { 
                        a:after {
                            background: $borderColor
                        }
                    }
                }

                &.next { 
                    text-align: right 
                    margin-right: 0
                    margin-left: auto

                    &:before {
                        content: 'Next'
                    }
                }

                a { 
                    font-weight: 300

                    &:after { 
                        position absolute
                        inset: 0 
                        content: ''
                        display: block
                        border-radius: $radius-xl
                        z-index -1
                        transition all $t ease

                    }
                    &:before { 
                        position absolute
                        inset: 0 
                        content: ''
                        display: block
                        z-index 1
                    }

                    @media (hover: hover) {
                        &:hover:after {  
                            background: $borderColor
                        }
                    }
                }
            }
        }
    }
    
    kbd {
        border: 1px solid $borderColor
        border-bottom: 2px solid $borderColor
        background: $bgColor
        padding: 2px 6px
        border-radius: 4px
        font-weight: 400
        font-family: 'Inter'
        
        strong { 
            font-weight: 400
        }
    }

    table.htCore {
        display: table
    }
    
    table:not(.htCore) { 
        font-size: $font-size-s
        line-height: $line-height-s
        font-weight: 400

        td,th { 
            padding: 16px
        }

        thead { 
            tr { 
                th { 
                    border-top:1px solid $borderColor
                    font-weight: 400
                    text-align: left
                }
            }
        }

        tbody {
            tr {
                background: $sideColor
                td {
                    
                }
                &:nth-child(2n) { 
                    background: $bgColor
                }
            }
        }
    }

    .form-jsfiddle-external .js-fiddle-link { 
        button {
            background: $editorColor !important
        }
    }
    
    button:not(.theme-code-group__nav-tab, .handsontable *) {
        padding: 8px 16px
        background: $editorColor !important

        @media (hover: hover) {
            &:hover { 
                background: $editorHeadColor !important
            }
        }
    }

    #example1_events {
        border: 1px solid $borderColor
        border-radius: $radius
        padding: 16px
        font-size: $font-size-s
        line-height: $line-height-s
        margin: 24px 0
    }
    #hooksList {
        padding-top: 16px 
        font-size: $font-size-s
        line-height: $line-height-s
    }

    @media (max-width: $xLarge) {
    }

    @media (max-width: $medium) {
    }
}

.handsontable-drawing p:last-child { 
    display: none
}