.sidebar { 
    position fixed !important
    left: 16px
    width: 320px
    top: 72px 
    bottom: 0
    border:0
    z-index: 100
    padding: 24px 0
    background: transparent
    overflow: hidden
    flex-direction: column
    display: flex
    padding-bottom: 0

    .mobile-nav {
        display: none
    }

    .home-link { 
        display: block;
        padding: 24px
        display: none 

        .Logo { 
            height: 22px 
            width: 145px
            display: block
            background-repeat: no-repeat
            background-size: 100%
        }
    }

    .info-box { 
        position relative
        padding: 8px
        margin:0 28px 16px
        background: $sideColor
        border-radius: $radius
        display: flex
        gap: 12px
        align-items: start
        transition all $t ease-in-out
        transition-delay: $t
        max-height: 120px
        border: 1px solid $borderColor

        //&.slide-fade-enter, 
        &.slide-fade-leave-to {
            opacity: 0;
            max-height: 0;
            margin-bottom: 0;
            padding-bottom: 0;
            padding-top: 0;

            > * {
                opacity 0
            }
        }

        > * { 
            transition all $t ease-in-out
        }

        span {
            position: relative
            border-radius: $radius-s
            padding: 11px

             &:before {
                content: ''
                position: absolute
                inset: 0
                border-radius: $radius-s
                background-color: $accentColor
                opacity: 1
            }
            
            i { 
                filter:brightness(0) invert(1) 
                opacity .7
                
                //animation-play-state: paused
            }
        }

        @media (hover: hover) {
            &:hover {
                span i {
                    animation: dingdong .6s ease-in-out 1
                }

                div a:before {
                    opacity:1
                }
            }
        }
        div {
            padding-top: 2px
            width: -webkit-fill-available;

            p { 
                display: block
                font-size: $font-size-xs
                line-height: $line-height-xs
                font-weight: 400
                color: $textColor
            }
            > a { 
                cursor: pointer
                display: block
                font-size: 12px
                line-height: $line-height-xxs
                color: $textColor

                &:before { 
                    content: ''
                    display: block 
                    position absolute
                    inset: 0 
                    border-radius: $radius
                    box-shadow: 0 0 0 1px $accentColor
                    opacity 0
                    transition all $t ease
                }
            }
        }
        > .close {
            background: none;
            outline: none;
            border: none;
            cursor:pointer
            opacity .6
            transition all $t ease
            padding: 9px
            border: 0
            margin: -8px -8px 0 0
            
            i { 
                max-width: 14px
                max-height: 14px
                min-width: 14px
                min-height: 14px
                background-size: 14px
            }

            @media (hover: hover) {
                &:hover { 
                    opacity 1
                }
            }
        }
    }
    .sidebar-nav {
        height: -webkit-fill-available;
        overflow: scroll;
    }
    .sidebar-nav > .sidebar-links, > div > .sidebar-links {
        > li { 
            display: block;

            a { 
                display: flex
                gap: 8px
                align-items: center
                padding: 12px 32px
                font-size: $font-size-xs
                line-height: $line-height-xs
                font-weight: 400
                color: $text2Color
                transition all $t ease
                cursor: pointer
                border: none

                span {
                    width: 100%
                }

                i {
                    opacity .7
                    transition all $t ease
                    background-size: 18px 
                }
                
                .i-arrow { 
                    opacity: .5    
                }

                &.active { 
                    color: $textColor
                    i { opacity: 1}
                    .i-arrow { 
                        transform: rotate(180deg)
                    }
                }
                @media (hover: hover) {
                    &:hover { 
                        color: $textColor
                    }
                }
            }
            > .sidebar-group {
                display: grid
                transition: grid-template-rows 0.2s ease-out;
                grid-template-rows: min-content 0fr;
                &.open {
                    grid-template-rows: min-content 1fr;
                    p, a {
                        color: $textColor
            
                        i { opacity: 1}
                        .i-arrow { 
                            transform: rotate(180deg)
                        }
                    }
                    p, a {
                        + ul {
                            padding-bottom: 12px
                        }
                    }
                }
                p, a {
                    grid-template-rows: min-content 1fr;
                    display: flex
                    gap: 8px
                    align-items: center
                    padding: 13px 16px
                    margin: 0 24px 0 16px
                    font-size: $font-size-xs
                    line-height: $line-height-xs
                    font-weight: 400
                    color: $textColor
                    transition all $t ease
                    cursor: pointer
                    border-radius: $radius

                    span {
                        width: 100%
                    }

                    i {
                        opacity .7
                        transition all $t ease
                    }
                    
                    .i-arrow { 
                        opacity: .5    
                    }

                    @media (hover: hover) {
                        &:hover { 
                            color: $textColor
                        }
                    }

                    + ul { 
                        overflow: hidden;
                    }
                }
                p { 
                    //font-weight: 600
                }
            
                > .sidebar-links {
                    a { 
                        color: $text2Color
                        font-size: $font-size-xs
                        line-height: $line-height-xs
                        padding: 7px 8px 7px 32px
                        border:0
                        margin: 0 24px 0 24px;
                        position: relative
                        transition all $ts ease
                        display: flex;
                        width: auto
                        align-items: center;
                        //justify-content: space-between;

                        &:before { 
                            content: ''
                            display: block
                            position absolute
                            inset: 0 0
                            background: $sideColor
                            z-index -1
                            border-radius: $radius
                            opacity: 0
                            transition all $t ease
                        }

                        &:after { 
                            content: ''
                            display: block
                            position absolute
                            top 0    
                            left:16px
                            bottom: 0
                            border-left: 1px solid $borderColor
                            transition all $t ease
                        }

                        @media (hover: hover) {
                            &:hover { 
                                color: $textColor

                                &:after {
                                    top: 8px
                                    bottom: 8px
                                }
                            }
                        }
                        
                        &.active { 
                            color: $textColor
                            font-weight: 400
                            
                            &:before { 
                                opacity: 1    
                            }

                            &:after { 
                                top: 8px
                                bottom: 8px
                                border-color: $accentColor
                            }
                        }  
                        .tag-update, .tag-new, .tag-deprecated  { 
                            font-size: 11px
                            line-height: $line-height-xxs
                            display: block;
                            border-radius: $radius-s
                            padding: 1px 5px;
                            background-color: #238349
                            color: $bgColor
                            margin:-1px 0;
                            width:auto
                        }
                        .tag-new { 
                            background-color: $accentColor
                        }
                        .tag-deprecated { 
                            background-color: $depricatedColor
                        }
                    }
                }
            }
        }
    }

    .mobile-show {
        .nav-links {
            display: flex
            flex-direction: column

            .nav-item {
                a, button { 
                    font-size: $font-size-xs
                    line-height: $font-size-xs
                    color: $text2Color
                    padding: 16px 32px
                    display: block
                    display: flex
                    white-space: nowrap
                    gap:8px
                    font-weight: 400

                    &.router-link-active { 
                        color: $textColor
                    }
                }

                button { 
                    background:none
                    border: none
                    display: flex
                    color: $text2Color
                    align-items: center
                }

                .nav-dropdown {
                    a { padding: 4px 8px}    
                }
            }
        }

        .framework-and-version { 
            display: flex

            > nav > i {
                margin-right -16px
                z-index 1
                position relative
            } 
            
            .nav-frameworks { 
                padding-left: 24px
                display: flex
                align-items: center
                flex-direction: row
                gap: 8px

                .dropdown-wrapper > button { 
                    display: flex
                    gap: 8px
                    padding-left: 48px
                    margin-left:-32px

                    + .nav-dropdown { 
                        left: -16px
                    }
                }
            }
        }

        .dropdown-wrapper { 
            position: relative
            height: auto

            > button { 
                display: flex
                padding: 24px 16px
                display: flex
                gap: 8px
                background: none
                border:0
                cursor pointer
                transition all $t ease
                text-transform: capitalize

                .title {
                    display: flex; gap: 8px
                }

                i { 
                    transition all $t ease
                }
            }

            &.open { 
                > button { 
                        i { 
                            transform:rotate(-180deg)
                        }

                        & + .nav-dropdown {
                            visibility: visible
                            opacity 1
                        }
                    }
            }

            @media (hover: hover) {
                &:hover { 
                    > button { 
                        i { 
                            transform:rotate(-180deg)
                        }

                        & + .nav-dropdown {
                            visibility: visible
                            opacity 1
                        }
                    }
                }
            }

            .nav-dropdown { 
                transition all $t ease
                display:block !important
                visibility: hidden
                opacity 0
                position absolute
                top: 48px
                left: 0
                background: $sideColor
                padding: 8px 8px
                border-radius: $radius
                //right: 0
                min-width: 96px

                a { 
                    color: $text2Color
                    font-size: $font-size-xs
                    line-height: $line-height-xs
                    padding: 4px 8px 
                    border:0
                    position: relative
                    transition all $t ease
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    z-index 1

                    &:before { 
                        content: ''
                        display: block
                        position absolute
                        inset: 0 0
                        background: $bgColor
                        z-index -1
                        border-radius: $radius
                        opacity: 0
                        transition all $t ease
                    }

                    @media (hover: hover) {
                        &:hover { 
                            color: $textColor

                            &:before {
                                opacity: 1
                            }
                        }
                    }
                    
                    &.active { 
                        color: $textColor
                        font-weight: 400
                        
                        &:before { 
                            opacity: 1    
                        }
                    }  
                }
            }
        } 

        //Icons
        .icons-nav {
            display: flex
            padding: 12px
            
            a {
                display: block
                padding: 12px
            }

            button { 
                cursor pointer
                background: none
                border: none
                padding: 12px
            }

            a, button, label {
                border-radius: $radius*4

                @media (hover: hover) {
                    &:hover { 
                        background: $borderColor
                    }
                }
            }
        }      
    }

    
    @media (max-width: $large) {
        padding-top: 0
        width 100%
        top: 0
        transform: translateX(100%)
        
        .home-link {
            visibility: hidden
        }
    }
}

@media (max-width: $extraLarge) {
    .sidebar {
        left:0
    }
}

@media (max-width: $xLarge) {
    .sidebar {
        width: 280px
    }
}

@media (max-width: $xLarge) {
  .mobile-nav {
    border-bottom: 1px solid $borderColor
    margin-bottom: 12px
    padding-bottom: 12px
    display: block !important;


    .nav-frameworks {
        button, 
        .ico {
            display: none
        }
        
        .nav-dropdown { 
            display: flex !important
            margin: 16px
            padding: 4px
            border-radius: $radius-xl
            background: $sideColor

            li {
                display: block
                width 100%
            }
            a { 
                padding: 7px
                display: block
                text-align: center
                border-radius: $radius
            }
        }
    }

    /* active item */
    .i-react + .nav-item .nav-dropdown .dropdown-item:nth-child(2) a,
    .i-javascript + .nav-item .nav-dropdown .dropdown-item:nth-child(1) a  {
        background: $borderColor
    }

    .nav-links {
        .changelog { 
            display: none
        }

        &:not(.nav-frameworks) {
            div:first-child {
                display: none
            }
        }

        a { 
            display: flex
            gap: 8px
            align-items: center
            padding: 12px 32px
            font-size: $font-size-xs
            line-height: $line-height-xs
            font-weight: 400
            color: $text2Color
            transition all $t ease
            cursor: pointer
            border: none

            span {
                width: 100%
            }

            i {
                opacity .7
                transition all $t ease
                background-size: 18px 
            }
            
            .i-arrow { 
                opacity: .5    
            }

            &.active { 
                color: $textColor
                i { opacity: 1}
                .i-arrow { 
                    transform: rotate(180deg)
                }
            }

            
        }
    }
}
}

@media (max-width: $large) {
    .sidebar{
        z-index: 100
        background: $bgColor
        margin: 0
        left: 0
        bottom: 0
        top:0
        padding-top: 72px
        padding-bottom: 0
        width: 100%
        max-width: 100vw

        .sidebar-links:first-child {
            margin-top: 16px
        }

        .info-box { 
            margin-top: 16px
        }

        div > .sidebar-links {
            padding-bottom: 32px
        }
    }

    .theme-container.sidebar-open .sidebar { 
        transform: translateX(0);
    }
}

@keyframes dingdong {
  0% { transform: rotate(0); }
  20% { transform: rotate(20deg); }
  40% { transform: rotate(-20deg); }
  60% { transform: rotate(10deg); }
  80% { transform: rotate(-10deg); }
  100% { transform: rotate(0); }          
}
