.handsontable {
    touch-action: manipulation;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Helvetica Neue", Arial, sans-serif;
    font-size: 13px;
    font-weight: normal;
    color: #373737;
  }
  
  .handsontable a {
    color: #104acc;
  }
  
  .handsontable.htAutoSize {
    visibility: hidden;
    left: -99000px;
    position: absolute;
    top: -99000px;
  }
  
  .handsontable td.htInvalid {
    /*gives priority over td.area selection background*/
    background-color: #ffbeba !important;
  }
  
  .handsontable td.htNoWrap {
    white-space: nowrap;
  }
  
  .handsontable td.invisibleSelection,
  .handsontable th.invisibleSelection {
    outline: none;
  }
  
  .handsontable td.invisibleSelection::selection,
  .handsontable th.invisibleSelection::selection {
    background: rgb(255 255 255 / 0%);
  }
  
  .hot-display-license-info {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Helvetica Neue", Arial, sans-serif;
    font-size: 10px;
    font-weight: normal;
    color: #373737;
    padding: 5px 0 3px 0;
    text-align: left;
  }
  
  .hot-display-license-info a {
    color: #104acc;
    font-size: 10px;
  }
  
  .handsontable .htFocusCatcher {
    position: absolute;
    z-index: -1;
    opacity: 0;
    border: 0;
    margin: 0;
    padding: 0;
    width: 0;
    height: 0;
  }
  
  /* plugins */
  
  /* row + column resizer*/
  .handsontable .manualColumnResizer {
    position: absolute;
    top: 0;
    cursor: col-resize;
    z-index: 210;
    width: 5px;
    height: 25px;
  }
  
  .handsontable .manualRowResizer {
    position: absolute;
    left: 0;
    cursor: row-resize;
    z-index: 210;
    height: 5px;
    width: 50px;
  }
  
  .handsontable .manualColumnResizer:hover,
  .handsontable .manualColumnResizer.active,
  .handsontable .manualRowResizer:hover,
  .handsontable .manualRowResizer.active {
    background-color: #34a9db;
  }
  
  .handsontable .manualColumnResizerGuide {
    position: absolute;
    inset-inline-end: unset;
    top: 0;
    background-color: #34a9db;
    display: none;
    width: 0;
    border-inline-end: 1px dashed #777;
    border-inline-start: none;
    margin-inline-start: 5px;
    margin-inline-end: unset;
  }
  
  .handsontable .manualRowResizerGuide {
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: #34a9db;
    display: none;
    height: 0;
    border-bottom: 1px dashed #777;
    margin-top: 5px;
  }
  
  .handsontable .manualColumnResizerGuide.active,
  .handsontable .manualRowResizerGuide.active {
    display: block;
    z-index: 209;
  }
  
  .handsontable td.area,
  .handsontable td.area-1,
  .handsontable td.area-2,
  .handsontable td.area-3,
  .handsontable td.area-4,
  .handsontable td.area-5,
  .handsontable td.area-6,
  .handsontable td.area-7 {
    position: relative;
  }
  
  .handsontable td.area:before,
  .handsontable td.area-1:before,
  .handsontable td.area-2:before,
  .handsontable td.area-3:before,
  .handsontable td.area-4:before,
  .handsontable td.area-5:before,
  .handsontable td.area-6:before,
  .handsontable td.area-7:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #005eff;
  }
  
  .handsontable td.area:before {
    opacity: 0.1;
  }
  .handsontable td.area-1:before {
    opacity: 0.2;
  }
  .handsontable td.area-2:before {
    opacity: 0.27;
  }
  .handsontable td.area-3:before {
    opacity: 0.35;
  }
  .handsontable td.area-4:before {
    opacity: 0.41;
  }
  .handsontable td.area-5:before {
    opacity: 0.47;
  }
  .handsontable td.area-6:before {
    opacity: 0.54;
  }
  .handsontable td.area-7:before {
    opacity: 0.58;
  }
  
  .handsontable tbody th.current,
  .handsontable thead th.current {
    box-shadow: inset 0 0 0 2px #4b89ff;
  }
  
  .handsontable tbody th.ht__highlight,
  .handsontable thead th.ht__highlight {
    background-color: #dcdcdc;
  }
  
  .handsontable tbody th.ht__active_highlight,
  .handsontable thead th.ht__active_highlight {
    background-color: #8eb0e7;
    color: #000;
  }
  
  .handsontableInput {
    border: none;
    outline-width: 0;
    margin: 0;
    padding: 1px 5px 0 5px;
    font-family: inherit;
    line-height: 21px;
    font-size: inherit;
    box-shadow: 0 0 0 2px #5292F7 inset;
    resize: none;
    /*below are needed to overwrite stuff added by jQuery UI Bootstrap theme*/
    display: block;
    color: #000;
    border-radius: 0;
    background-color: #FFF;
    /*overwrite styles potentionally made by a framework*/
  }
  
  .handsontableInput:focus {
    outline: none;
  }
  
  .handsontableInputHolder {
    position: absolute;
    top: 0;
    left: 0;
  }
  
  .htSelectEditor {
    -webkit-appearance: menulist-button !important;
    position: absolute;
    width: auto;
  }
  
  .htSelectEditor:focus {
    outline: none;
  }
  
  /*
  TextRenderer readOnly cell
  */
  
  .handsontable .htDimmed {
    color: #777;
  }
  
  .handsontable .htSubmenu {
    position: relative;
  }
  
  .handsontable .htSubmenu :after {
    content: '\25B6'; // right-pointing triangle
    color: #777;
    position: absolute;
    right: 5px;
    font-size: 9px;
  }
  
  [dir=rtl].handsontable .htSubmenu :after {
    content: '';
  }
  
  [dir=rtl].handsontable .htSubmenu :before {
    content: '\25C0'; // left-pointing triangle
    color: #777;
    position: absolute;
    left: 5px;
    font-size: 9px;
  }
  
  /*
  TextRenderer horizontal alignment
  */
  .handsontable .htLeft {
    text-align: left;
  }
  .handsontable .htCenter {
    text-align: center;
  }
  .handsontable .htRight {
    text-align: right;
  }
  .handsontable .htJustify {
    text-align: justify;
  }
  /*
  TextRenderer vertical alignment
  */
  .handsontable .htTop {
    vertical-align: top;
  }
  .handsontable .htMiddle {
    vertical-align: middle;
  }
  .handsontable .htBottom {
    vertical-align: bottom;
  }
  
  /*
  TextRenderer placeholder value
  */
  
  .handsontable .htPlaceholder {
    color: #999;
  }
  
  /**
   * Handsontable listbox theme
   */
  
  .handsontable.listbox {
    margin: 0;
  }
  
  .handsontable.listbox .ht_master table {
    border: 1px solid #ccc;
    border-collapse: separate;
    background: white;
  }
  
  .handsontable.listbox th,
  .handsontable.listbox tr:first-child th,
  .handsontable.listbox tr:last-child th,
  .handsontable.listbox tr:first-child td,
  .handsontable.listbox td {
    border-color: transparent !important;
  }
  
  .handsontable.listbox th,
  .handsontable.listbox td {
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  
  .handsontable.listbox td.htDimmed {
    cursor: default;
    color: inherit;
    font-style: inherit;
  }
  
  .handsontable.listbox .wtBorder {
    visibility: hidden;
  }
  
  .handsontable.listbox tr td.current,
  .handsontable.listbox tr:hover td {
    background: #eee;
  }
  
  .ht_editor_hidden {
    z-index: -1;
  }
  
  .ht_editor_visible {
    z-index: 200;
  }
  
  .handsontable td.htSearchResult {
    background: #fcedd9;
    color: #583707;
  }