/*
  Checkbox
*/

@mixin output {
  .handsontable {
    .htCheckboxRendererInput {
      position: relative;
      display: inline-block;
      width: var(--hot-control-size);
      height: var(--hot-control-size);
      margin-inline-end: calc(2 * var(--hot-base-grid));
      vertical-align: middle;
      cursor: pointer;
      appearance: none;

      &:checked::before {
        background-color: var(--hot-accent-color);
        border-color: var(--hot-accent-color);
      }

      &::before {
        content: "";
        display: inline-block;
        width: var(--hot-control-size);
        height: var(--hot-control-size);
        border: 1px solid var(--hot-border-color);
        border-radius: var(--hot-border-radius);
        box-sizing: border-box;
        background-color: var(--hot-background-color);
        transition: all 0.5s ease-in-out;
        pointer-events: none;
      }
      &::after {
        content: "";
        width: 6px;
        height: 10px;
        position: absolute;
        left: calc(var(--hot-control-size) * 0.5);
        top: 6.5px;
        border-left: 2px solid var(--hot-background-color);
        border-top: 2px solid var(--hot-background-color);
        transform: translate(-50%, -50%) rotate(-135deg);
        box-sizing: border-box;
        transition: all 0.2s ease-in-out;
        pointer-events: none;
      }

      &.noValue {
        opacity: 0.5;
      }
    }

    .htCheckboxRendererLabel {
      font-size: inherit;
      vertical-align: middle;
      display: flex;
      align-items: center;
      gap: var(--hot-base-grid);
      position: relative;
      cursor: pointer;

      &.fullWidth {
        width: 100%;
      }
    }
  }
}
