@use "../../utils/mixins";

// Handsontable License info

@mixin output {
  .hot-display-license-info {
    padding: var(--ht-license-horizontal-padding, 16px)
      var(--ht-license-vertical-padding, 16px);
    @include mixins.font-family;
    font-size: calc(var(--ht-font-size) + 2px);
    line-height: calc(var(--ht-line-height) + 2px);
    color: var(--ht-license-foreground-color);
    background-color: var(--ht-license-background-color, #f7f7f9);
    text-align: left;
    border: 1px solid var(--ht-border-color, #f7f7f9);
    border-top-width: 0;

    a {
      font-size: var(--ht-license-font-size);
      color: var(--ht-link-color);

      &:hover {
        color: var(--ht-link-hover-color);
      }
    }
  }
}
