@use "../../utils/mixins";

// Selection

@mixin output {
  .handsontable {
    // Fill
    @for $i from 0 through 7 {
      td.area#{if($i == 0, "", "-#{$i}")} {
        @include mixins.area-styles;
      }
    }

    @for $i from 0 through 7 {
      td.area#{if($i == 0, "", "-#{$i}")}:before {
        opacity: mixins.get-opacity($i);
      }
    }

    // Borders
    .wtBorder {
      position: absolute;
      font-size: 0;

      &.hidden {
        display: none !important;
      }

      // A layer order of the selection types
      &.current {
        z-index: 10;
        background-color: var(--ht-cell-selection-border-color, #1a42e8) !important;
      }

      &.area {
        z-index: 8;
        background-color: var(--ht-cell-selection-border-color, #1a42e8) !important;
      }

      &.fill {
        z-index: 6;
        background-color: var(--ht-read-only-color, #68696c) !important;
      }

      // Fill handle
      &.corner {
        width: var(--ht-cell-autofill-size, 4px) !important;
        height: var(--ht-cell-autofill-size, 4px) !important;
        border: var(--ht-cell-autofill-border-width, 1px) solid var(--ht-cell-autofill-border-color, #000) !important;
        border-radius: var(--ht-cell-autofill-border-radius) !important;
        background-color: var(--ht-cell-autofill-background-color, #1a42e8) !important;
        margin-top: 4px;
        margin-left: 4px;
        transform: translate(-50%, -50%);
        font-size: 0;
        cursor: crosshair;
        z-index: 10;
      }
    }
  }
}
