@use "../../utils/mixins";

// Selection

@mixin output {
  @keyframes marching-ants {
    0% {
      background-position: 0 0, 8px 100%, 0 8px, 100% 0;
    }
    100% {
      background-position: 8px 0, 0 100%, 0 0, 100% 8px;
    }
  }

  .handsontable {
    // Fill
    @for $i from 0 through 7 {
      td.area#{if($i == 0, "", "-#{$i}")} {
        @include mixins.area-styles;
      }
    }

    @for $i from 0 through 7 {
      td.area#{if($i == 0, "", "-#{$i}")}:before {
        opacity: mixins.get-opacity($i);
      }
    }

    // Borders
    .wtBorder {
      position: absolute;
      font-size: 0;

      // //Sizes
      // &:nth-child(1) {
      //   height: var(--ht-cell-editor-border-width) !important;
      // }

      // &:nth-child(2) {
      //   width: var(--ht-cell-editor-border-width) !important;
      // }

      // &:nth-child(3) {
      //   height: var(--ht-cell-editor-border-width) !important;
      // }

      // &:nth-child(4) {
      //   width: var(--ht-cell-editor-border-width) !important;
      // }

      &.hidden {
        display: none !important;
      }

      // A layer order of the selection types
      &.current {
        z-index: 10;
        background-color: var(--ht-cell-selection-border-color) !important;
      }

      &.area {
        z-index: 8;
        background-color: var(--ht-cell-selection-border-color) !important;
      }

      &.fill {
        z-index: 6;
        background-image: linear-gradient(90deg, white 50%, transparent 50%),
          linear-gradient(90deg, white 50%, transparent 50%),
          linear-gradient(0, white 50%, transparent 50%),
          linear-gradient(0, white 50%, transparent 50%);
        background-repeat: repeat-x, repeat-x, repeat-y, repeat-y;
        background-size: 8px 2px, 0px 0px, 2px 8px, 0px 0px;
        animation: marching-ants 600ms infinite linear;
        background-color: var(--ht-cell-selection-border-color) !important;
      }

      // Fill handle
      &.corner {
        width: var(--ht-cell-autofill-size) !important;
        height: var(--ht-cell-autofill-size) !important;
        border-width: var(--ht-cell-autofill-border-width) !important;
        border-style: solid;
        border-color: var(--ht-cell-autofill-border-color) !important;
        border-radius: var(--ht-cell-autofill-border-radius) !important;
        background-color: var(--ht-cell-autofill-background-color) !important;
        margin-top: 3px;
        margin-left: 3px;
        transform: translate(-50%, -50%);
        font-size: 0;
        cursor: crosshair;
        z-index: 10;
      }
    }
  }
}
