.editor {
    box-sizing: border-box;
    display: flex;
    gap: 3px;
    padding: 3px;
    background: rgb(238, 238, 238);
    border: 1px solid rgb(204, 204, 204);
    border-radius: 4px;
    height: 100%;
    width: 100%;
}

.button.active:hover,
.button.active {
    background: #007bff;
    color: white;
}

.button:hover {
    background: #f0f0f0;
}

.button {
    background: #fff;
    color: black;
    border: none;
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
}