// font
$font = 'Inter'

// Font Size 
$font-size-xl  = 40px
$font-size-l   = 28px
$font-size     = 24px
$font-size-m   = 20px
$font-size-s   = 16px
$font-size-xs  = 14px
$font-size-xxs = 10px

// Line Height 
$line-height-xl  = 56px
$line-height-l   = 40px
$line-height     = 36px
$line-height-m   = 30px
$line-height-s   = 26px
$line-height-xs  = 20px
$line-height-xxs = 16px

// Transision time
$t = .2s
$ts = .05s

// Border-radius
$radius-xxl = 24px
$radius-xl = 16px
$radius-l = 12px
$radius = 8px
$radius-s = 4px

// colors
:root {
    --color-white:      #ffffff
    --color-gray-100:   #f7f7f9
    --color-gray-200:   #efeff3
    --color-gray-300:   #d1d1d2
    --color-gray-400:   #b5b5b5
    --color-gray-500:   #9D9E9F //#898A8B
    --color-gray-600:   #343436
    --color-gray-700:   #222326
    --color-gray-800:   #191A1D
    --color-gray-900:   #121316
    --color-black:      #000000
    --color-blue:       #1A42E8
    --color-accentblue: #2856EA
    --color-success:    #37BC6C
    --color-lightblue:  #5A88FF
    --color-yellow:     #f8c555
    --color-orange:     #FF5A12
}
   

$accentColor        = var(--color-blue)
$successColor       = var(--color-success)
$textColor          = var(--color-black)
$text2Color         = var(--color-gray-500)
$borderColor        = var(--color-gray-100)
$bgColor            = var(--color-white)
$sideColor          = var(--color-gray-100)
$bgCode             = $borderColor
$editorColor        = var(--color-gray-100)
$editorHeadColor    = var(--color-gray-200)
$onsurfaceColor     = var(--color-gray-200)
$linkColor          = var(--color-accentblue)


$editorCommentColor         = var(--color-gray-500)
$editorTagColor             = var(--color-lightblue)
$editorFunctionNameColor    = var(--color-lightblue)
$editorFunctionColor        = var(--color-yellow)
$editorSymbolColor          = var(--color-success)
$editorSelectorColor        = var(--color-success)
$editorStringColor          = var(--color-success)
$editorOperatorColor        = var(--color-success)
$editorInsertedColor        = var(--color-success)
$editorPunctuationColor     = var(--color-gray-300)

$dropColorDark      = rgba(25,26,29,.8);
$dropColor          = rgba(239,239,243,.8)
$letterSpacingText  = -0.072px

$gradient = linear-gradient(86deg, #1A42E8 3.5%, #27C2FF 197.36%);
$gradient0 = linear-gradient(86deg, rgba(26,66,232,0) 3.5%, rgba(39,194,255,0) 197.36%);

$small = 576px
$medium = 768px
$large = 992px
$xLarge = 1200px
$extraLarge = 1480px
$xxxLarge = 1720px


html.theme-dark {
    color-scheme dark


}