// Font Size 
$font-size-xl  = 28px
$font-size-l   = 20px
$font-size     = 16px
$font-size-s   = 14px
$font-size-xs  = 12px
$font-size-xxs  = 10px

// Line Height 
$line-height-xl  = 36px
$line-height-l   = 28px
$line-height     = 24px
$line-height-s   = 20px
$line-height-xs  = 16px
$line-height-xxs  = 16px

// Transision time
$t = .2s

// Border-radius
$radius = 8px
$radius-s = 4px

// colors
:root {
    --color-white:      #ffffff
    --color-gray-100:   #f7f7f9
    --color-gray-200:   #efeff3
    --color-gray-300:   #d1d1d5
    --color-gray-400:   #b5b5b5
    --color-gray-500:   #868686
    --color-gray-600:   #5d5d5d
    --color-gray-700:   #353535
    --color-gray-800:   #222222
    --color-gray-900:   #141414
    --color-black:      #000000
    --color-blue:       #1A42E8
    --color-accentblue: #27C2FF
    --color-success:    #37BC6C
}


$accentColor        = var(--color-blue)
$successColor       = var(--color-success)
$textColor          = var(--color-black)
$text2Color         = var(--color-gray-500)
$borderColor        = var(--color-gray-200)
$bgColor            = var(--color-white)
$sideColor          = var(--color-gray-100)
$sideColor          = var(--color-gray-100)
$bgCode             = $borderColor
$editorColor        = var(--color-gray-900)
$editorHeadColor    = var(--color-gray-800)

$small = 576px
$medium = 768px
$large = 992px
$xLarge = 1200px
$extraLarge = 1480px


// layout
//$navbarHeight = 3.6rem
//$sidebarWidth = 17rem
//$contentWidth = 740px
//$homePageWidth = 1500px

// Bootstrap-inspired layout breakpoints 
//$extraSmall = 0
//$small = 576px
//$medium = 768px
//$large = 992px
//$extraLarge = 1200px

// Light scrollbars
//$scrollbarBackgroundColor = #f9f9f9
//$scrollbarThumbColor = #c1c1c1
//$scrollbarThumbColorHover = #7c7c7c

// Dark scrollbars (for code fields)
//$scrollbarDarkBackgroundColor = #282c34
//$scrollbarDarkThumbColor = #626c74
//$scrollbarDarkThumbColorHover = #6a757e

// Tabs component
//$tabsComponentBackgroundColor = #282c34;
