html.theme-dark .handsontable {
    color-scheme: light;
}

html.theme-dark {
    color-scheme dark

    $accentColor        = var(--color-accentblue)
    $textColor          = var(--color-gray-300)
    $text2Color         = var(--color-gray-500)
    $borderColor        = var(--color-gray-700)
    $bgColor            = var(--color-gray-900)
    $sideColor          = var(--color-gray-800)
    $bgCode             = $borderColor 
    $onsurfaceColor     = var(--color-gray-700)
    $linkColor          = var(--color-lightblue)
    $editorColor        = var(--color-gray-700)
    $editorHeadColor    = var(--color-gray-800)
    $lightBorderColor   = var(--color-gray-600)

    $editorCommentColor         = #d4d0ab
    $editorTagColor             = var(--color-lightblue)
    $editorFunctionNameColor    = var(--color-lightblue)
    $editorFunctionColor        = var(--color-lightblue)
    $editorSymbolColor          = $text2Color
    $editorSelectorColor        = #dcc6e0
    $editorStringColor          = #fe86a8
    $editorOperatorColor        = var(--color-success)
    $editorInsertedColor        = var(--color-success)
    $editorPunctuationColor     = var(--color-gray-300)

    $dropColor          = $dropColorDark

    background: $bgColor url('{{$basePath}}/img/noise.png') repeat
    color: $textColor

    body { 
        background: $bgColor url('{{$basePath}}/img/noise.png') repeat
    }


    i.Logo { background:  url('{{$basePath}}/img/logo-white.svg');}
    i.ico { filter: brightness(0) invert(1)}

    :not(.handsontable) {
        * { 
            outline: $accentColor solid 0 ;
        }
        *:focus-visible {
            outline: $accentColor solid 1px 
        }
    }

    a { 
        color: $linkColor 
    }

    #nprogress .bar { 
        background: $accentColor 
    }

    .decoration-left {
    
    }
    .decoration-right {
        opacity .4
    }

    /* Sidebar 
    ------------------------------- */
    .sidebar { 
        //background: $darkDrop

        .os-scrollbar .os-scrollbar-handle { 
            background: $borderColor
        }

        .info-box { 
            background: $borderColor

            span { 
                background-color: $accentColor
                
                i { 
                    //filter: hue-rotate(190deg) invert(1); /* 190 degrees shifts the hue towards #27C2FF */
                }
            }
            div {
                p {
                    color: $textColor
                }
                a { 
                    color:$text2Color

                    &:before {
                        box-shadow: 0 0 0 1px $accentColor
                    }
                }

                .close {
                    filter brightness(0) invert(1)
                }
            }
        }
        
        .sidebar-links > li {
            > a { 
                color: $text2Color

                &.active { 
                    color: $textColor
                    .i-arrow { 
                        transform: rotate(180deg)
                    }
                }
                @media (hover: hover) {
                    &:hover { 
                        color: $textColor
                    }
                }
            }
            > .sidebar-group {
                p, a { 
                    color:  $textColor 

                    &.open { 
                        color: $textColor
                    }

                    @media (hover: hover) {
                        &:hover { 
                            color: $textColor
                        }
                    }
                }
                > .sidebar-links {
                    a { 
                        color: $text2Color

                        &:after {
                            border-color: $borderColor
                        }

                        &:before{ 
                            background: $borderColor 
                        }

                        @media (hover: hover) {
                            &:hover { 
                                color: $textColor
                            }
                        }
                        
                        &.active {
                            color: $textColor
                            
                            &:after {
                                border-color: $accentColor
                            }
                        }

                        .tag-update, .tag-new  { 
                            background-color: $successColor
                            color: $bgColor
                        }
                        .tag-new {
                            background: $gradient
                            color: $textColor
                        }
                    }
                }
            }
        }

        .mobile-show {
            .nav-links {
                .nav-item {
                    a, button { 
                        color: $text2Color

                        &.router-link-active { 
                            color: $textColor
                        }
                    }

                    button { 
                        color: $text2Color
                    }
                }
            }

            .dropdown-wrapper { 
                .nav-dropdown { 
                    background: $sideColor

                    a { 
                        color: $text2Color

                        &:before { 
                            background: $bgColor
                        }

                        @media (hover: hover) {
                            &:hover { 
                                color: $textColor
                            }
                        }
                        
                        &.active { 
                            color: $textColor
                        }  
                    }
                }
            } 

            //Icons
            .icons-nav {
                > a, > span, button, label {
                    @media (hover: hover) {
                        &:hover { 
                            background: $onsurfaceColor
                        }
                    }
                }

                #HW_badge_cont .HW_badge.HW_softHidden { 
                    background: $linkColor
                }
            }   

            //Search
            .search-box { 
                input { 
                    color: $text2Color
                }

                .kbd-hint { 
                    kbd { 
                        background: $borderColor
                        color: $text2Color
                    }
                }

                .suggestions { 
                    background: $sideColor

                    li { 
                        color: $textColor
                        
                        &:not(.suggestion) {
                            border-bottom: 1px solid $borderColor
                        }

                        &.focused {
                            a {
                                background: $borderColor
                                color: $textColor 
                            }
                        }

                        a { 
                            color: $text2Color

                            @media (hover: hover) {
                                &:hover { 
                                    background: $borderColor
                                }
                            }

                        }
                    }
                }
            }
        }
    }

    /* Navbar 
    ------------------------------- */
    .navbar {
        background: $dropColor
        border-bottom: 0 none


        .tag  { 
            background-color: $accentColor
            color: $bgColor
        }  

        .navbar-wrapper { 
            .home-link {
                .version {
                    color: $textColor
                }
            }
            
            .dropdown-wrapper { 
                .nav-dropdown { 
                    background: $borderColor
                    border:0

                    a { 
                        color: $text2Color

                        &:before { 
                            background: $onsurfaceColor
                        }

                        @media (hover: hover) {
                            &:hover { 
                                color: $textColor
                            }
                        }
                    }
                }
            }

            .menu {
                .nav-links {
                    .nav-item {
                        a, button { 
                            color: $text2Color

                            &.router-link-active { 
                                color: $textColor

                                &:before {
                                    background: $accentColor    
                                }
                            }

                            @media (hover: hover) {
                                &:hover { 
                                    color: $textColor
                                }
                            }
                        }
                    }
                }
            }   

            .icons-nav {
                > a, > span, button, label {
                    @media (hover: hover) {
                        &:hover { 
                            background: $borderColor
                        }
                    }
                }

                .github-stars {
                    border: 1px solid $borderColor
                    color: $text2Color
                }
            }   

            .search-box { 
                input { 
                    background: $borderColor
                    color: $text2Color
                    font-family: $font
                    
                    &:focus {
                        //box-shadow: 0 0 0 1px $accentColor
                        background: $bgColor
                    }
                }

                .kbd-hint { 
                    kbd { 
                        background: $sideColor
                        color: $text2Color
                    }
                }
                .suggestions {
                    background: $sideColor

                    li {
                        color: $textColor

                        &:not(.suggestion) {
                            border-bottom: 1px solid $borderColor
                        }

                        &.focused {
                            a {
                                background: $borderColor
                                color: $textColor 
                            }
                        }
                        
                        a { 
                            color: $text2Color

                            @media (hover: hover) {
                                &:hover { 
                                    background: $borderColor
                                    color: $textColor
                                }
                            }

                        }
                    }
                }
            }
        }
    }

    

    //Page
    .page {
        .breadcrumbs {
            a {
                color: $textColor
                
                &:after {
                    color: $textColor !important
                }
                @media (hover: hover) {
                    &:hover {
                        color: $linkColor
                    }
                }
            }
            span { 
                color: $text2Color
            }
        }
        
        #example1_events {
            border: 1px solid $borderColor

            div {
                &:nth-child(odd) {
                    background-color: $borderColor
                }
            }
        }
        
        .theme-default-content {  
            color: $text2Color
            
            h1, h2, h3, h4, h5, h6 {
                color: $textColor
            }
            
            p {
                color: $text2Color
            }
            ul, ol { 

                li {
                    color: $text2Color
                }
            }

            pre { 
                background: $editorColor 
            }
            .language-bash:before { 
                display: none
            }
            div[class*="language-"] { 
                background: $editorColor 
            }

            a {
                color: $linkColor

                @media (hover: hover) {
                    &:hover { 
                        text-decoration:none
                        color: $textColor
                    }
                }
            }
            
            .source-code-link {
                color: $text2Color
                background: $sideColor
                border-color: $borderColor

                @media (hover: hover) {
                    &:hover { 
                        border-color: $linkColor
                    }
                }
            }
            
            code {
                background: $editorColor 
                color:$textColor
            }
            a code {
                color: $linkColor
                
                @media (hover: hover) {
                    &:hover { 
                        color: $textColor
                    }
                }
            }
            
            a > code,
            li > code,
            p > code {
                background: $onsurfaceColor 
            }
            
            .table-of-contents { 
                ul {
                    li { 

                        a { 
                            color: $text2Color

                            &:after { 
                                border-left: 1px solid $borderColor
                            }

                            @media (hover: hover) {
                                &:hover { 
                                    color: $textColor

                                    &:after {
                                        background: $accentColor
                                    }
                                }
                            }
                        }
                        &.active a { 
                            color: $textColor

                            &:after { 
                                border-color: $accentColor
                            }
                        }  
                    }
                }
            }
            
            .theme-code-group__nav { 
                background: $editorHeadColor

                button {
                    color: $text2Color

                    &.theme-code-group__nav-tab-active {
                        color: $textColor
                        border-color: $accentColor
                    }
                }
            }
            
            .custom-block {
                background: $sideColor
                //border: 1px solid $borderColor

                p { 
                    a { 
                        //color: $textColor 
                    }
                }

                code { 
                    background: $bgColor 
                }
            }
        }

        .page-nav {             
            .inner { 
                > span { 
                    border: 1px solid $borderColor
                    color: $linkColor

                    &:before {
                        color: $text2Color
                    }
                    
                    @media (hover: hover) {
                        &:hover { 
                            a:after {
                                background: $borderColor
                            }
                        }
                    }

                    a { 
                        @media (hover: hover) {
                            &:hover:after {  
                                background: $borderColor
                            }
                        }
                    }
                }
            }
        }

        kbd {
            border: 1px solid $borderColor
            border-bottom: 2px solid $borderColor
            background: $bgColor
        }
        
        table:not(.htCore) { 
            thead { 
                tr { 
                    th { 
                        border-top:1px solid $borderColor
                    }
                }
            }

            tbody {
                tr {
                    background: $sideColor
                    td {
                        
                    }
                    &:nth-child(2n) { 
                        background: $bgColor
                    }
                }
            }
        }
        
        .footer {
            border-top: 1px solid $borderColor   
            color: $text2Color

            .copyright {
                border-top: 1px solid $borderColor
            }

            .footer-links { 
                color: $text2Color

                div { 
                    a { 
                        color: $text2Color

                        @media (hover: hover) {
                            &:hover {  
                                color: $textColor
                            }
                        }
                    }
                }

                .socail-links {                    
                    a {
                        @media (hover: hover) {
                            &:hover {  
                                background: $borderColor
                            }
                        }
                    }
                }
            }

            .footer-support { 
                color: $text2Color

                .edit-link a { 
                    i { filter: hue-rotate(190deg) invert(1) }

                    @media (hover: hover) {
                        &:hover {  
                            color: $textColor
                        }
                    }
                }
            }

            .rate-post { 
                button { 
                    background: $borderColor !important
                    @media (hover: hover) {
                        &:hover {  
                            background: $bgColor !important
                        }
                    }
                }
            }

            .dark-mode { 
                .inner { 
                    background: $borderColor 
                    color: $textColor

                    @media (hover: hover) {
                        &:hover {  
                            background: $sideColor
                        }
                    }
                }
            }
        }

        button:not(.theme-code-group__nav-tab, .handsontable *) {
            background: $sideColor 
            border: 1px solid $lightBorderColor
            color: $textColor

            @media (hover: hover) {
                &:hover { 
                    background: $borderColor 
                    border: 1px solid $accentColor
                }
            }
        }
    }

    .handsontable-drawing p:last-child { 
        display: block
    }
    .handsontable-drawing p:first-child { 
        display: none
    }

    .token.comment,
    .token.block-comment,
    .token.prolog,
    .token.doctype,
    .token.cdata {
        color: $editorCommentColor
    }

    .token.punctuation {
        color: $editorPunctuationColor
    }

    .token.tag,
    .token.attr-name,
    .token.namespace,
    .token.deleted {
        color: $editorTagColor
    }

    .token.function-name {
        color: $editorFunctionNameColor;
    }

    .token.boolean,
    .token.number,
    .token.function {
        color: $editorFunctionColor
    }

    .token.property,
    .token.class-name,
    .token.constant,
    .token.symbol {
        color: $editorSymbolColor
    }

    .token.selector,
    .token.important,
    .token.atrule,
    .token.keyword,
    .token.builtin {
        color: $editorSelectorColor
    }

    .token.string,
    .token.char,
    .token.attr-value,
    .token.regex,
    .token.variable {
            color: $editorStringColor
    }

    .token.operator,
    .token.entity,
    .token.url {
        color: $editorOperatorColor
    }

    .token.inserted {
        color: $editorInsertedColor
    }

    .theme-default-content  .tabs-component {
        .tabs-component-panels {
            background: $borderColor
        }  

        .option-label {
            color: $text2Color !important
        }
        
        ul.tabs-component-tabs  {
            background: $editorHeadColor
           
            li.tabs-component-tab  {
                a.tabs-component-tab-a {
                    color: $text2Color
                }

                &.is-active { 
                    border-bottom: 1px solid $linkColor
                    a {
                        color: $textColor
                    }
                }
            }
        }
    }

    .form-jsfiddle-external {
        .js-fiddle-link { 
            button { 
                background: $sideColor !important
                
                @media (hover: hover) {
                    &:hover {
                        background: $bgColor !important
                    }
                }
            }
        }
    }

    div[class*="language-"]::before { 
        color: $text2Color
        background: $bgColor 
    }

    .page .boxes-list {
        li {
            border: 1px solid $borderColor
            background: $gradient0
            
            i+a:before {
                background-color: $sideColor
            }

            &:before { 
                background: $gradient
            }

            a {
                color: $textColor
            }

            strong { 
                color: $textColor
            }

            @media (hover: hover) {
                &:hover { 
                    border: 1px solid $bgColor

                    &:after { 
                        background: $accentColor
                    }
                    
                }
            }
        }

        &.gray {
            li {
                &:before { 
                    opacity: 1
                    background: $sideColor
                }
                i+a:before { 
                    background: $borderColor 
                }

                @media (hover: hover) {
                    &:hover { 
                        background: $bgColor
                        box-shadow: 0 0 0 1px $accentColor
                    }
                }
            }
        }
    }

    .icons-only {
            li {
                background: $sideColor;

            @media (hover: hover) {
                &:hover { 
                    background: $bgColor
                    box-shadow: 0 0 0 1px $accentColor
                }
            }
        }
    }

    .icons-wrapper {
        > div  { 
            background: $sideColor

            svg { 
                fill: $textColor
            }
        }
    }

    .simple-list { 
        li a { 
            color: $text2Color
        }
    }

    @media (max-width: $medium) {
        .sidebar { 
            background: $bgColor
        }
        .page .footer {
            background: $borderColor
        }
    }

    #CybotCookiebotDialog { 
        background: $borderColor
        color: $text2Color

        h2 { 
            color: $textColor
        }

        svg path {
            fill: $textColor
        }

        #CybotCookiebotDialogBodyEdgeMoreDetails a {
            color: $linkColor

            &:after {
                border-color: $linkColor
            }
        }

        #CybotCookiebotDialogFooter #CybotCookiebotDialogBodyButtonAccept, 
        #CybotCookiebotDialogFooter #CybotCookiebotDialogBodyLevelButtonAccept, 
        #CybotCookiebotDialogFooter #CybotCookiebotDialogBodyLevelButtonLevelOptinAllowAll {
            border-color: $linkColor
            background: $linkColor
            color: $textColor
        }

        #CybotCookiebotDialogFooter .CybotCookiebotDialogBodyButton {
            border-color: $linkColor
            color: $linkColor
        }

        .CybotCookiebotScrollContainer .CybotCookiebotScrollbarContainer {
            background: $bgColor
        }

        #CybotCookiebotDialogHeader,
        .CybotCookiebotScrollContainer { 
            border-color: $bgColor
        }

        #CybotCookiebotDialogPoweredByText a {
            color: $text2Color
        }

        .CookieCard {
            border-color: $bgColor
        }

        .CybotCookiebotDialogBodyLevelButtonIABContainerToggleHide, 
        .CybotCookiebotDialogBodyLevelButtonIABContainerToggleShow, 
        a:after, 
        a:before, 
        button:after, 
        button:before {
            border-color: $text2Color
        }

        .CookieCard .CybotCookiebotDialogDetailBodyContentCookieContainerButton:hover, 
        .CookieCard .CybotCookiebotDialogDetailBodyContentIABv2Tab:hover, 
        #CybotCookiebotDialogDetailBodyContentCookieContainerTypes .CybotCookiebotDialogDetailBodyContentCookieProvider:not(.CybotCookiebotDialogDetailBodyContentCookieInfoCount):hover {
            color: $linkColor
        }

        #CybotCookiebotDialogDetailBodyContentCookieContainerTypes .CybotCookiebotDialogDetailBodyContentCookieGroup {
            border-color: $bgColor
        }

        #CybotCookiebotDialogDetailBodyContentCookieContainerTypes .CybotCookiebotDialogDetailBodyContentCookieProvider:not(.CybotCookiebotDialogDetailBodyContentCookieInfoCount) {
            color: $textColor
        }

        #CybotCookiebotDialogTabContent .CybotCookiebotDialogDetailBulkConsentCount {
            background: $bgColor
        }

        #CybotCookiebotDialogBodyContentText a, 
        #CybotCookiebotDialogBodyLevelButtonIABHeaderViewPartnersLink, 
        #CybotCookiebotDialogDetailBulkConsentList dt a, 
        #CybotCookiebotDialogDetailFooter a, 
        .CybotCookiebotDialogBodyLevelButtonIABDescription a, 
        .CybotCookiebotDialogDetailBodyContentCookieLink, 
        #CybotCookiebotDialogDetailBodyContentTextAbout a {
            color: $linkColor
        }

        .CybotExternalLinkArrow {
            filter: invert(1);
        }

        #CybotCookiebotDialogNav .CybotCookiebotDialogNavItemLink {
            color: $text2Color
            border-color: $bgColor
        }
        
        #CybotCookiebotDialogNav .CybotCookiebotDialogNavItemLink.CybotCookiebotDialogActive {
            color: $linkColor
            border-color: $linkColor
        }

        #CybotCookiebotDialogNav {
            border-color: $bgColor
        }

        #CybotCookiebotDialogDetailBulkConsent {
            border-color: $bgColor
        }

        #CybotCookiebotDialogDetailBulkConsentLink {
            color: $text2Color
        }
    }

    .HW_frame { 
        filter: invert(.86) hue-rotate(195deg)
    }
    .HW_frame_cont { 
        border-radius: $radius
        background: none
    }

    output.console {
        border: 1px solid $borderColor
        background: $sideColor
    }
}

