# --------------------
# OSX Files
# --------------------
.DS_Store
.AppleDouble
.LSOverride
Icon
._*
.Spotlight-V100
.Trashes

# --------------------
# IntelliJ Files
# --------------------
*.iml
*.ipr
*.iws
.idea/

# --------------------
# Sublime Files
# --------------------
*.sublime-project
*.sublime-workspace

# --------------------
# App Files
# --------------------
node_modules/