.page {
    .breadcrumbs {
        max-width: 720px
        display: flex
        margin:0 auto
        padding: 16px 0 0 !important
        flex-wrap: wrap
        
        a, span {
            font-size: $font-size-xs
            line-height: $line-height-xs
        }
        a {
            color: $textColor
            margin:0 !important
            transition: all $ts ease-in-out 
            white-space: pre

            i { 
                display: inline-block
                position relative
                top: 2px
            }
            &:after { 
                content: "/"
                display: inline-block
                padding: 0 12px 0 12px
                color: $textColor !important
            }

            @media (hover: hover) {
                &:hover {
                    color: $linkColor
                }
            }
        }

        span { 
            color: $text2Color
        }
    }
}