.page {
    .theme-default-content code { 
        background: $bgCode 
        font-size: $font-size-xs
        line-height: $line-height-xs
        font-weight: 400
        vertical-align: middle
        padding: 4px 8px
        border-radius: $radius
        color: $textColor 
    }

    .theme-default-content {
        a > code,
        li > code,
        p > code {
            background: $onsurfaceColor 
        }

        .language-bash:before { 
            display: none
        }
        div[class*="language-"] { 
            background: $editorColor 
        }
        
        .source-code-link {
            padding: 8px 16px
            color: $text2Color
            background: $sideColor
            border-radius: $radius
            top: -28px
            position: relative
            float: right
            font-size: $font-size-xs
            
            i { 
                display: inline-block
                vertical-align: text-top;
            }

            + p { 
                margin-top: -28px 
            }
        }

        pre { 
            margin-top: 16px
            background: $editorColor 
            padding: 16px 24px
            margin: 16px -16px 0
            border-radius: $radius
            font-size: $font-size-s
            line-height: $line-height-s
        }
    }

    .theme-default-content a code {
        color: $linkColor
        transition: $t all ease-in-out

        @media (hover: hover) {
            &:hover { 
                text-decoration:none
                color: $textColor
            }
        }
    }

    div[class*="language-"]::before { 
        font-size: $font-size-xxs
        line-height: $line-height-xxs
        color: $text2Color
        top: 8px;
        right: -8px;
        padding: 8px;
        border-radius: $radius;
        background: $bgColor
    }
    .tabs-component {
        div[class*="language-"]::before {
            right: 8px
        }
    }

    .theme-default-content div[class*="language-"] {
        background: $editorColor 
        border-radius: $radius
        margin-bottom: 24px
        padding: 0
    }

    .theme-code-group { 
        margin: 0 -16px 

        .theme-code-block {
            margin-top: -38px
        }

        pre { 
            margin: 16px 0
            border-radius: 0 0 $radius $radius
            padding-bottom: 24px
        }
    }

    .theme-code-group__nav { 
        background: $editorHeadColor 
        margin: 16px 0
        padding: 8px 16px 16px
        border-radius: $radius
        margin-bottom: -16px

        button {
            font-size: $font-size-s
            line-height: $line-height-s
            font-weight: 400
            padding:8px 8px 8px
            color: $text2Color

            &.theme-code-group__nav-tab-active {
                color: $textColor
                border-color: $linkColor
            }
        }
    }
}

.theme-default-content pre code, 
.theme-default-content pre[class*="language-"] code {
    color: $textColor
}

div[class*="language-"] pre, 
div[class*="language-"] pre[class*="language-"] {
    background: $editorColor
}