/*
  A stylesheet customizing Handsontable style
*/

.handsontable {
  font-size: 13px;
  color #222222;

  *:not(a) { 
    outline: blue solid 0 !important
  }

  *:not(a):focus-visible {
    outline: blue solid 0 !important
  }

  img {
    border-radius: 0 !important
  }

  .handsontable tr {
    background: none;
  }
}

table.htCore {
    display: table;
}

// reset common TD, TH styles from the style.styl file (default styles from VuePress)
[dir=rtl].handsontable {
  table {
    th {
      text-align center
    }
    td {
      text-align start
    }
  }
}