/**
 * prism.js tomorrow night eighties for JavaScript, CoffeeScript, CSS and HTML
 * Based on https://github.com/chriskempson/tomorrow-theme
 * @author Rose Pritchard
 */

code[class*="language-"],
pre[class*="language-"] {
	color: $text2Color;
    background: $editorColor 
	font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
	font-size: $font-size-xs
    font-size: $line-height-xs
	text-align: left;
	white-space: pre;
	word-spacing: normal;
	word-break: normal;
	word-wrap: normal;

	-moz-tab-size: 4;
	-o-tab-size: 4;
	tab-size: 4;

	-webkit-hyphens: none;
	-moz-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;

}

/* Code blocks */
pre[class*="language-"] {
	padding: 1px
	margin: 8px 0
	overflow: auto
}

:not(pre) > code[class*="language-"],
pre[class*="language-"] {
	background: $editorColor
}

/* Inline code */
:not(pre) > code[class*="language-"] {
	padding: 2px;
	border-radius: $radius-xl
	white-space: normal;
}

.token.comment,
.token.block-comment,
.token.prolog,
.token.doctype,
.token.cdata {
	color: $editorCommentColor
}

.token.punctuation {
	color: $editorPunctuationColor
}

.token.tag,
.token.attr-name,
.token.namespace,
.token.deleted {
	color: $editorTagColor
}

.token.function-name {
	color: $editorFunctionNameColor;
}

.token.boolean,
.token.number,
.token.function {
	color: $editorFunctionColor
}

.token.property,
.token.class-name,
.token.constant,
.token.symbol {
	color: $editorSymbolColor
}

.token.selector,
.token.important,
.token.atrule,
.token.keyword,
.token.builtin {
	color: $editorSelectorColor
}

.token.string,
.token.char,
.token.attr-value,
.token.regex,
.token.variable {
		color: $editorStringColor
}

.token.operator,
.token.entity,
.token.url {
	color: $editorOperatorColor
}

.token.important,
.token.bold {
	font-weight: bold;
}
.token.italic {
	font-style: italic;
}

.token.entity {
	cursor: help;
}

.token.inserted {
	color: $editorInsertedColor
}

