.search-box.search-box
  display inline-block
  position relative
  margin-right 2rem
  input
    cursor text
    width 12rem
    height: 2rem
    display inline-block
    border 1px solid #cfdbe4
    border-radius 2rem
    font-size 0.9rem
    line-height 2rem
    padding 0 0.5rem 0 2rem
    outline none
    background #fff url('/img/search.svg') 0.6rem 0.5rem no-repeat
    background-size 1rem
    &:focus
      color #104bcd
      cursor auto
      border-color $accentColor
  .suggestions
    background #fff
    width 26rem
    position absolute
    top 1.6rem
    border 1px solid darken($borderColor, 10%)
    border-radius 6px
    padding 0.4rem
    list-style-type none
    &.align-right
      right 0
    li:not(.suggestion) {
      padding 0.4rem 0.6rem
      margin-bottom 0.4rem
      font-weight 600
      font-size 13px
      border-bottom 1px solid #e9eef2
    }
  .suggestion
    line-height 1.4
    padding 0.4rem 0.6rem
    border-radius 4px
    cursor pointer
    a
      white-space normal
      color lighten($textColor, 25%)
      font-weight 500
      .page-title

      .header
        font-size 0.9em
        margin-left 0.25em
    &.focused
      background-color #f3f4f9
      a
        color $accentColor

@media (max-width: $MQNavbarNarrow)
  .search-box.search-box
    margin-right 0
    input
      cursor pointer
      width 0
      background-color transparent
      border-color transparent
      position relative
      font-size 16px
      &:focus
        cursor text
        left 0
        width 8rem

@media (max-width: $MQMobile)
  .search-box.search-box
    input
      left 1rem
// Match IE11
@media all and (-ms-high-contrast: none)
  .search-box input
    height 2rem

@media (max-width: $MQNavbarNarrow) and (min-width: $MQMobile)
  .search-box
    .suggestions
      left 0

@media (max-width: $MQMobile)
  .search-box
    margin-right 0
    input
    .suggestions
      right 0

@media (max-width: $MQMobileNarrow)
  .search-box
    .suggestions
      width calc(100vw - 4rem)
    input:focus
      width 8rem
