.page .theme-default-content .tabs-component {
    border: none
    margin: 16px -16px 0
    border-radius: $radius
    padding: 0

    .option-label {
        color: $text2Color !important

        input[type=checkbox] {
            margin: 6px
        }
    }

    .placeholder-input {
        padding: 8px;
        border:none
        border-radius: $radius
    }

    .controls:not(button) {
        font-size: $font-size-xs
        line-height: $line-height-xs
        margin-top: 8px;
        margin-bottom: 8px;
        padding: 8px 8px 0 0;

        label input {
            margin: 4px
        }

        #mainInput, select, input[type=text], input[type=search], .placeholder-input {
            padding: 8px;
            //margin-top: 12px;
            border:none
            border-radius: $radius
        }

        &.select-language {
            label { 
                display: block
            }
        }
        
        &:last-child { 
            margin-bottom:0
        }
    }

    .tabs-component-panels {
        padding: 0
        margin-top: -16px
        background: $borderColor
        position: relative
        min-height: 32px
        border-radius: 0 0 $radius $radius !important

        pre { 
            margin: -16px -16px -40px
            border-radius: 0 
            border-radius: 0 0 $radius $radius !important
        }

        .tabs-component-panel {
            padding: 16px
        }
    }

    ul.tabs-component-tabs  {
        background: $editorHeadColor
        padding: 8px 16px 16px
        border-bottom: none
        box-sizing: border-box;
        border-radius: $radius $radius 0 0 !important

        li.tabs-component-tab  {
            a.tabs-component-tab-a {
                padding: 4px 16px 12px
                margin:0
                text-decoration: none
                color: $text2Color
                font-size: $font-size-xs
                line-height: $line-height-s
                opacity .9
                font-weight: 400
            }

            &.is-active { 
                border-bottom: 1px solid $accentColor
                font-weight: 400
                a{
                    color: $textColor
                }
            }
        }
    }

    @media (max-width: $medium) {
        margin: 0 -16px

        ul.tabs-component-tabs  {
        }

        .tabs-component-panels {

            .tabs-component-panel {
                padding: 16px 16px
            }
        }
    }
}

.form-jsfiddle-external {
    margin-top: 24px
    position relative

    .js-fiddle-link { 
        position absolute
        left: auto
        top: 10px
        right: -8px

        button { 
            display: flex
            gap: 4px
            background: $sideColor
            transition: all $t ease-in-out
            cursor pointer
            border: 0 
            border-radius: $radius
            
            @media (hover: hover) {
                &:hover {
                    background: $bgColor
                }
            }
        }
    }
}

.example-container {
    .checkbox-container {
        margin: 16px 0

        .checkbox-group > div { 
            display: flex
            font-size: $font-size-xs
            line-height: 32px


            label { display: flex
                align-items: center
            }

            > a { 
                margin-left: auto
                margin-right: 0
            }
        }
    }
    #example1 {
        margin: 16px 0
    }
}