.placeholder-input {
  max-width: 20rem;
  padding: 0.4rem 0.625rem;
  font-size: var(--sl-text-sm);
  line-height: 1.25rem;
  color: var(--sl-color-text);
  background: none;
  border: 1px solid var(--sl-color-gray-5);
  border-radius: 0;
  outline: none;
}

.placeholder-input::placeholder {
  color: var(--sl-color-gray-3);
}

.placeholder-input:focus {
  border-color: var(--sl-color-accent);
}

.example-container {
  gap: 1rem;
  display: flex;
  flex-direction: column;
}
