/*
  Handsontable Input
  Used in Dropdown Menu
*/

@mixin output {
  .handsontable {
    .htFiltersMenuCondition .htUIInput input,
    .htFiltersMenuValue .htUIMultipleSelectSearch input {
      width: 100%;
      padding: calc(var(--hot-base-grid) + 1px) calc(2 * var(--hot-base-grid));
      border: 1px solid var(--hot-border-color);
      border-radius: var(--hot-border-radius);
      box-sizing: border-box;
      font-family: inherit;
      line-height: var(--hot-line-height);
      font-size: var(--hot-font-size);
      background-color: var(--hot-background-color);
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      outline: none !important;

      &:hover,
      &:focus {
        border-color: var(--hot-accent-color);
      }
    }

    /* Input */
    .htUIInput {
      position: relative;
      padding: 0;
      outline: none !important;
      text-align: center;

      input {
        border-radius: var(--hot-border-radius);
        border: 1px solid var(--hot-border-color);
      }
    }

    .htUIInputIcon {
      position: absolute;
    }
  }
}
