<div>
  <hot-table
    class="hot"
    id="root"
    [data]="dataset"
    height="450"
    [colWidths]="[140, 210, 135, 100, 90, 110, 120, 115, 140]"
    [colHeaders]="colHeaders"
    [rowHeaders]="true"
    [dropdownMenu]="true"
    [hiddenColumns]="hiddenColumns"
    [contextMenu]="true"
    [mergeCells]="true"
    [multiColumnSorting]="true"
    [filters]="true"
    [afterOnCellMouseDown]="changeCheckboxCell"
    [headerClassName]="headerClassNameValue"
    [afterGetRowHeader]="drawCheckboxInRowHeaders"
    [beforeRenderer]="addClassesToRows"
    [manualRowMove]="true"
    [navigableHeaders]="true"
    [comments]="true"
    [manualColumnMove]="true"
    [customBorders]="true"
    [themeName]="themeName"
    licenseKey="non-commercial-and-evaluation"
  >
    <hot-column data="1"></hot-column>
    <hot-column data="3"></hot-column>
    <hot-column data="4" type="date" [allowInvalid]="false"></hot-column>
    <hot-column data="6" type="checkbox" className="htCenter" headerClassName="htCenter"></hot-column>
    <hot-column data="7" type="numeric" headerClassName="htRight"></hot-column>
    <hot-column
      data="8"
      [renderer]="progressBarRenderer"
      [readOnly]="true"
      className="htMiddle"
    ></hot-column>
    <hot-column
      data="9"
      [renderer]="starsRenderer"
      [readOnly]="true"
      className="star htCenter"
      headerClassName="htCenter"
    ></hot-column>
    <hot-column data="5"></hot-column>
    <hot-column data="2"></hot-column>
  </hot-table>
</div>
