{{#modules~}}
{{#if @first~}}
{{>heading-indent}}Modules

<table>
  <thead>
    <tr>
      <th>Module</th><th>Description</th>
    </tr>
  </thead>
  <tbody>
{{/if~}}
    <tr>
    <td>{{>sig-link-html}}</td>
    <td>{{{md (inlineLinks description)}}}</td>
    </tr>
{{#if @last~}}
  </tbody>
</table>

{{/if~}}
{{/modules}}
