@mixin box-sizing($box-model) {
    -webkit-box-sizing: $box-model; // Safari <= 5
       -moz-box-sizing: $box-model; // Firefox <= 19
            box-sizing: $box-model;
}

@mixin user-select-none {
    -webkit-touch-callout: none;
      -webkit-user-select: none;
       -khtml-user-select: none;
         -moz-user-select: none;
          -ms-user-select: none;
              user-select: none;
    -webkit-tap-highlight-color: transparent;
    -webkit-overflow-scrolling: touch;
}

@mixin box-shadow($box-shadow) {
    -webkit-box-shadow: $box-shadow;
	   -moz-box-shadow: $box-shadow;
	        box-shadow: $box-shadow;
}

@mixin area-styles {
	position: relative;
	
	&:before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		/* Fix for IE9 to spread the ":before" pseudo element to 100% height of the parent element */
		bottom: -100%\9;
		background: var(--hot-area-color);

		/* Fix for IE10 and IE11 to spread the ":before" pseudo element to 100% height of the parent element */
		@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
			bottom: -100%;
		}
	}
}

// Function to return opacity values - area
@function get-opacity($index) {
	@return 0.1 + ($index * 0.07);
}