i.ico { 
    display: block;
    font-size: 16px
    line-height: 16px
    text-align: center
    width: 16px
    height: 16px
    min-width: 16px
    min-height: 16px
    font-family: hot_icons
    font-weight: 400
    filter: brightness(0)
}

i.Logo { 
    background:  url('{{$basePath}}/img/logo.svg');
}

.i-arrow        { background:  url('{{$basePath}}/img/svg/chevron-down.svg'); }
.i-bell         { background:  url('{{$basePath}}/img/svg/bell.svg'); }
.i-close        { background:  url('{{$basePath}}/img/svg/x.svg'); }
.i-angular      { background:  url('{{$basePath}}/img/svg/brand-angular.svg'); }
.i-react        { background:  url('{{$basePath}}/img/svg/brand-react-native.svg'); }
.i-vue          { background:  url('{{$basePath}}/img/svg/brand-vue.svg'); }
.i-javascript   { background:  url('{{$basePath}}/img/svg/brand-javascript.svg'); }
.i-github       { background:  url('{{$basePath}}/img/svg/brand-github.svg'); }
.i-dm-light     { background:  url('{{$basePath}}/img/svg/moon.svg'); }
.i-dm-dark      { background:  url('{{$basePath}}/img/svg/sun.svg'); }
.i-search       { background:  url('{{$basePath}}/img/svg/search.svg'); }
.i-menu         { background:  url('{{$basePath}}/img/svg/menu.svg'); }


.sidebar > .sidebar-links > li {
    &:nth-child(1)  > section p i:first-child { background:  url('{{$basePath}}/img/svg/rocket.svg'); }             // Getting started
    &:nth-child(2)  > section p i:first-child { background:  url('{{$basePath}}/img/svg/brand-angular.svg'); }      // Integrate with Angular
    &:nth-child(3)  > section p i:first-child { background:  url('{{$basePath}}/img/svg/brand-vue.svg'); }          // Integrate with Vue 2
    &:nth-child(4)  > section p i:first-child { background:  url('{{$basePath}}/img/svg/brand-vue.svg'); }          // Integrate with Vue 3
    &:nth-child(5)  > section p i:first-child { background:  url('{{$basePath}}/img/svg/layout-columns.svg'); }     // Columns
    &:nth-child(6)  > section p i:first-child { background:  url('{{$basePath}}/img/svg/layout-columns2.svg'); }    // Rows
    &:nth-child(7)  > section p i:first-child { background:  url('{{$basePath}}/img/svg/forms.svg'); }              // Cell features
    &:nth-child(8)  > section p i:first-child { background:  url('{{$basePath}}/img/svg/function.svg'); }           // Cell functions
    &:nth-child(9)  > section p i:first-child { background:  url('{{$basePath}}/img/svg/settings-2.svg'); }         // Cell types
    &:nth-child(10)  > section p i:first-child { background:  url('{{$basePath}}/img/svg/math-function.svg'); }     // Formulas
    
    &:nth-child(11)  > section p i:first-child { background:  url('{{$basePath}}/img/svg/keyboard.svg'); }         // Navigation
    &:nth-child(12)  > section p i:first-child { background:  url('{{$basePath}}/img/svg/accessible.svg'); }        // Accessibility
    &:nth-child(13)  > section p i:first-child { background:  url('{{$basePath}}/img/svg/layout-list.svg'); }       // Accessories and menus

    &:nth-child(14)  > section p i:first-child { background:  url('{{$basePath}}/img/svg/language.svg'); }          // Internationalization
    &:nth-child(15)  > section p i:first-child { background:  url('{{$basePath}}/img/svg/tools.svg'); }             // Tools and building
    &:nth-child(16)  > section p i:first-child { background:  url('{{$basePath}}/img/svg/chart-line.svg'); }        // Optimization
    &:nth-child(17)  > section p i:first-child { background:  url('{{$basePath}}/img/svg/shield-half.svg'); }       // Security
    &:nth-child(18)  > section p i:first-child { background:  url('{{$basePath}}/img/svg/code.svg'); }              // Technical specification
    &:nth-child(19)  > section p i:first-child { background:  url('{{$basePath}}/img/svg/git-branch.svg'); }        // Upgrade and migration
   
    > section a i:first-child { background:  url('{{$basePath}}/img/svg/plugin.svg'); }                             // Plugin
} 