@mixin light {
  .handsontable,
    body // for test
  {
    /* Typography */
    --hot-font-family: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI",
      "Roboto", "Oxygen", "Ubuntu", "Helvetica Neue", Arial, sans-serif;
    --hot-base-font-size: 12px;
    --hot-label-font-size: 10px;
    --hot-base-line-height: 20px;
    --hot-label-line-height: 18px;

    /* Sizing */
    --hot-border-horizontal-size: 1px;
    --hot-border-vertical-size: 1px;
    --hot-base-grid: 4px;
    --hot-border-radius: 4px;
    --hot-base-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.12);
    --hot-control-size: 16px; // Radio & Checkbox
    --hot-icon-size: 16px;

    /* Core Colors */
    --hot-background-color: white;
    --hot-border-color: #d1d1d5;
    --hot-off-background-color: #f7f7f9;
    --hot-highlight-color: #efeff3;

    /* Text Colors */
    --hot-foreground-color: #222222;
    --hot-foreground-color-active: #000;
    --hot-search-highlight-background-color: #fbe952;
    --hot-invalid-background-color: rgba(250, 77, 50, 0.3);
    --hot-read-only-text: color-mix(
      in srgb,
      var(--hot-background-color),
      var(--hot-foreground-color) 37%
    );
    --hot-placeholder-text: var(--hot-read-only-tex);

    /* Accents Colors */
    --hot-accent-color: #1a42e8;
    --hot-input-border-color: var(--hot-accent-color); // htInput
    --hot-mobile-focus-color: var(--hot-input-border-color);

    /* Global */
    --hot-transition-time: 0.2s;

    /* Cell */
    --hot-cell-horizontal-padding: 8px;
    --hot-cell-vertical-padding: 4px;

    /* Header Colors */
    --hot-header-background-color: var(--hot-off-background-color);
    --hot-header-highlight-active-background-color: var(--hot-accent-color);
    --hot-header-foreground-color: color-mix(
      in srgb,
      var(--hot-background-color),
      var(--hot-foreground-color) 64%
    );
    --hot-header-active-text-color: color-mix(
      in srgb,
      var(--hot-header-highlight-active-background-color),
      var(--hot-background-color) 64%
    );
    --hot-header-current-color: var(--hot-accent-color);
    --hot-header-highlight-active-border-color: color-mix(
      in srgb,
      var(--hot-border-color),
      var(--hot-header-highlight-active-background-color) 82%
    );

    /* Dropdown */
    --hot-dropdown-background: var(--hot-background-color);
    --hot-dropdown-border-color: var(--hot-border-color);
    --hot-dropdown-border-width: 0;

    /* Comments */
    --hot-comment-indicator-size: 6px;
    --hot-comment-indicator-color: var(--hot-accent-color);

    --hot-comment-textarea-height: 88px;
    --hot-comment-textarea-width: 240px;

    /* Frozen */
    --hot-frozen-size: 2px;
    --hot-frozen-shadow: rgba(0, 0, 0, 0.2);
  }
}

@mixin dark {
  .handsontable,
    body // for test
  {
    /* Typography */
    --hot-font-family: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI",
      "Roboto", "Oxygen", "Ubuntu", "Helvetica Neue", Arial, sans-serif;
    --hot-base-font-size: 12px;
    --hot-label-font-size: 10px;
    --hot-base-line-height: 20px;
    --hot-label-line-height: 18px;

    /* Sizing */
    --hot-border-horizontal-size: 1px;
    --hot-border-vertical-size: 1px;
    --hot-base-grid: 4px;
    --hot-border-radius: 4px;
    --hot-base-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.12);
    --hot-control-size: 16px; // Radio & Checkbox
    --hot-icon-size: 16px;

    /* Core Colors */
    --hot-background-color: #222222;
    --hot-border-color: #333;
    --hot-off-background-color: #121212;
    --hot-highlight-color: #000;

    /* Text Colors */
    --hot-foreground-color: #fff;
    --hot-foreground-color-active: #fff;
    --hot-search-highlight-background-color: #fbe952;
    --hot-invalid-background-color: rgba(250, 77, 50, 0.3);
    --hot-read-only-text: color-mix(
      in srgb,
      var(--hot-background-color),
      var(--hot-foreground-color) 37%
    );
    --hot-placeholder-text: var(--hot-read-only-tex);

    /* Accents Colors */
    --hot-accent-color: #1a42e8;
    --hot-input-border-color: var(--hot-accent-color); // htInput
    --hot-mobile-focus-color: var(--hot-input-border-color);

    /* Global */
    --hot-transition-time: 0.2s;

    /* Cell */
    --hot-cell-horizontal-padding: 8px;
    --hot-cell-vertical-padding: 4px;

    /* Header Colors */
    --hot-header-background-color: var(--hot-off-background-color);
    --hot-header-highlight-active-background-color: var(--hot-accent-color);
    --hot-header-foreground-color: color-mix(
      in srgb,
      var(--hot-background-color),
      var(--hot-foreground-color) 64%
    );
    --hot-header-active-text-color: color-mix(
      in srgb,
      var(--hot-header-highlight-active-background-color),
      var(--hot-background-color) 64%
    );
    --hot-header-current-color: var(--hot-accent-color);
    --hot-header-highlight-active-border-color: color-mix(
      in srgb,
      var(--hot-border-color),
      var(--hot-header-highlight-active-background-color) 82%
    );

    /* Dropdown */
    --hot-dropdown-background: var(--hot-background-color);
    --hot-dropdown-border-color: var(--hot-border-color);
    --hot-dropdown-border-width: 0;

    /* Comments */
    --hot-comment-indicator-size: 6px;
    --hot-comment-indicator-color: var(--hot-accent-color);

    --hot-comment-textarea-height: 88px;
    --hot-comment-textarea-width: 240px;

    /* Frozen */
    --hot-frozen-size: 2px;
    --hot-frozen-shadow: rgba(0, 0, 0, 0.2);
  }
}
