tmp/
dist

# see the explanation about package-lock.json in /examples/README.md
*/docs/angular/*/package-lock.json
*/docs/js/*/package-lock.json
*/docs/react/*/package-lock.json
*/docs/ts/*/package-lock.json
*/docs/vue/*/package-lock.json
