@use 'sass:color';

/* Core */
@use './core/selection';
@use './core/license-notification';

/* Plugins */
@use './plugins/colapsible-columns';
@use './plugins/nested-headers';
@use './plugins/nested-rows';           // TODO
@use './plugins/hidden-columns';        // TODO  styling
@use './plugins/hidden-rows';           // TODO  styling
@use './plugins/dropdown-menu';         // TODO  check submenu RTL
@use './plugins/context-menu';  
@use './plugins/filters';               // TODO  styling
@use './plugins/comments';              // TODO  styling
@use './plugins/manual-column-sorting'; 
@use './plugins/multi-column-sorting'; 
@use './plugins/manual-column-freeze'; 
@use './plugins/manual-column-resizer'; 
@use './plugins/manual-row-resizer'; 
@use './plugins/marge-cells'; 
@use './plugins/manual-column-move'; 
@use './plugins/manual-row-move'; 

/* Renderers */
@use './renderers/text-renderer';
@use './renderers/autocomplete-renderer';
@use './renderers/checkbox-renderer';

/* Editors */
@use './editors/text-editor';
@use './editors/select-editor';         // TODO  styling        
@use './editors/dropdown-editor';       // TODO  styling     

/* 
    Components  
*/

/* Core */
@mixin core-components-styles() {
    @include selection.output();
    @include license-notification.output();
    /* Renderers */
    @include autocomplete-renderer.output();
    @include checkbox-renderer.output();
    @include text-renderer.output();
    /* Editor */
    @include text-editor.output();
    @include select-editor.output();
}

/* Plugins */
@mixin plugins-components-styles() {
    @include colapsible-columns.output();
    @include nested-headers.output();
    @include nested-rows.output();
    @include hidden-columns.output();
    @include hidden-rows.output();
    @include dropdown-menu.output();
    @include context-menu.output();
    @include filters.output();
    @include comments.output();
    @include manual-column-sorting.output();
    @include multi-column-sorting.output();
    @include manual-column-freeze.output();
    @include manual-column-resizer.output();
    @include manual-row-resizer.output();
    @include marge-cells.output();
    @include manual-column-move.output();
    @include manual-row-move.output();
}

// TEMP

////////////////////////////////////////////////////// TO DO
/* theme vars */
.handsontable {

    thead th { 
        &.ht__active_highlight { 
            .columnSorting.sortAction {
                &:before {
                    filter: invert(1);
                    opacity: .6;
                }
            }
        }
    }
    tbody th,
    thead th {
        position: relative;
        overflow: visible;

        &.current {
            box-shadow:     inset 0 0 0 calc(var(--hot-border-horizontal-size) * 1) var(--hot-header-current-color);
        }

        &.ht__active_highlight {
            border-color: var(--hot-header-highlight-active-border-color);
            box-shadow: calc(var(--hot-border-vertical-size) * -1) calc(var(--hot-border-horizontal-size) * -1) 0  var(--hot-header-highlight-active-border-color), 
                        0 calc(var(--hot-border-horizontal-size) * -1) 0  var(--hot-header-highlight-active-border-color), 
                        calc(var(--hot-border-vertical-size) * -1) 0 0 var(--hot-header-highlight-active-border-color);

            &:before {
                background: var(--hot-header-highlight-active-background-color)
            }
        }

        &.ht__highlight {                 
            &:before { 
                content:'';
                display: block;;
                position: absolute;
                left: -1px;
                bottom: -1px;
                right: -1px;
                height: 1px;
                background-color: var(--hot-accent-color);
            }
        }
    }

    tbody th {
        &.ht__highlight {
            &:before {
                width: 1px;
                height: auto;
                right: -1px;
                top: -1px;
                bottom: -1px;
                left: auto;
            }
        }
    }

    

    // Active Highlight
    .ht__active_highlight {
        .ht_nestingLevel_empty {
            border-color:#666666;

            &:before { 
                border-color:#666;
            }
        }

        .collapsibleIndicator,
        .ht_nestingButton {
            border: 1px solid #000000;
            background-color: #171717;

            &:hover { 
                background-color: #373737;
                &:before,
                &:after {
                    background-color: #ffffff;
                }
            }
        }

        .changeType {
            &:hover {
                background-color: #000000;
            }
            &:hover { 
                background-color: #000000;
                box-shadow: 0 0 0 1px #333333;

                &:before {
                    border-color: var(--hot-background-color);
                }
            }
        }
    } 
}


/* button */
.htUIInput.htUIButton {
    input {
        border-radius: var(--hot-border-radius);
        padding: var(--hot-button-padding);
        box-sizing: border-box;
        outline: none !important;

        &:focus-visible {
            border-color: var(--hot-accent-color);
        }
    }

    &.htUIButtonOK {
        input {
            &:focus-visible {
                border-color: var(--hot-button-primary-focus-border-color);
            }
        }
    }
}


.handsontable {
    /* Checkbox */
    .htCheckboxRendererInput {
        margin-top: var(--hot-checkbox-margin-bottom-top);
        margin-inline-end: var(--hot-checkbox-margin-bottom-end);
        margin-bottom: var(--hot-checkbox-margin-bottom-bottom);
        margin-inline-start: var(--hot-checkbox-margin-bottom-start);
        vertical-align: middle;
        height: var(--hot-checkbox-height);
    }
    
    /* Input */
    .htUIInput {
        padding: var(--hot-form-input-wrapper-padding);
        position: relative;
        text-align: center;
    
        input {
            border-radius: var(--hot-border-radius);
            border: var(--hot-form-input-border-size) solid var(--hot-form-input-border-color);
        }
    }
  
    .htUIInputIcon {
        position: absolute;
    }
    
    /* Button */
    .htUIInput {
        &.htUIButton {
            cursor: pointer;
            display: inline-block;
    
            input {
                border-radius: var(--hot-border-radius);
                border: var(--hot-button-border-size) solid var(--hot-button-border-color);
                background-color: var(--hot-button-background-color);
                color: var(--hot-button-text-color);
                cursor: pointer;
                font-family: inherit;
                font-size: var(--hot-button-font-size);
                font-weight: var(--hot-button-font-weight);
                height: var(--hot-button-height);
                min-width: var(--hot-button-width);;
        
                &:hover {
                    border-color: var(--hot-button-hover-border-color);
                    background-color: var(--hot-button-hover-background-color);
                    color: var(--hot-button-hover-text-color);
                }
            }
        }
  
        &.htUIButtonOK {
            margin-inline-start: 0;
            margin-inline-end: var(--hot-button-margin);

            input {
                border-color: var(--hot-button-primary-border-color);
                background-color: var(--hot-button-primary-background-color);
                color: var(--hot-button-primary-text-color);

                &:focus-visible {
                    background-color: var(--hot-button-primary-focus-background-color);
                    border-color: var(--hot-button-primary-focus-border-color);
                    color: var(--hot-button-primary-focus-text-color);
                }

                &:hover {
                    border-color: var(--hot-button-primary-hover-border-color);
                    background-color: var(--hot-button-primary-hover-background-color);
                    color: var(--hot-button-primary-hover-text-color);
                }
            }
        }
    }

    /* Select */
    .htUISelect {
        cursor: pointer;
        margin: var(--hot-select-wrapper-margin);
        position: relative;
    }

    .htUISelectCaption {
        background-color: var(--hot-select-background-color);
        border-radius: var(--hot-border-radius);
        color: var(--hot-select-text-color);
        border: var(--hot-select-border-size) solid var(--hot-select-border-color);
        font-family: inherit;
        font-size: var(--hot-select-font-size);
        font-weight: var(--hot-select-font-weight);
        padding: var(--hot-select-padding);
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;

        &:hover {
            background-color: var(--hot-select-hover-background-color);
            border: var(--hot-select-border-size) solid var(--hot-select-hover-border-color);
            color: var(--hot-select-text-color);
        }
    }

    /* Select Icon */
    .htUISelectDropdown {
        &:after {
            content: '\25B2';
            font-size: 7px;
            position: absolute;
            right: 10px;
            top: 0;
        }

        &:before {
            content: '\25BC';
            font-size: 7px;
            position: absolute;
            right: 10px;
            top: 8px;
        }
    }

    /* SelectMultiple */
    .htUIMultipleSelect .ht_master .wtHolder {
        overflow-y: scroll;
    }

    .htUIMultipleSelect .handsontable .htCore {
        border: none;

        td:hover {
            background-color: var(--hot-dropdown-menu-item-active);
        }
    }

    /* Search */
    .htUIMultipleSelectSearch input {
        border-radius: var(--hot-border-radius);
        border: var(--hot-form-input-border-size) solid var(--hot-form-input-border-color);
    }

    /* Radio */
    .htUIRadio {
        display: inline-block;
        margin-inline-start: 0;
        margin-inline-end: var(--hot-radio-wrapper-margin);
        height: 100%;

        &:last-child {
            margin-right: 0;
        }

        > input[type=radio] {
            margin-inline-start: 0;
            margin-inline-end: var(--hot-radio-margin);
        }

        label {
            vertical-align: middle;
        }
    }
}  