/*
  A stylesheet customizing app (custom renderers)
*/

table.htCore .star {
  color: #fcb515;
}

table.htCore tr.odd td {
  background: #fafbff;
}

table.htCore td .progressBar {
  background: #37bc6c;
  height: 10px;
}

table.htCore tr.selected td {
  background: #edf3fd;
}

/*
  A stylesheet customizing Handsontable style
*/

.handsontable {
  font-size: 13px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Helvetica Neue", Arial, sans-serif;
  font-weight: 400;
}

.collapsibleIndicator {
  text-align: center;
}

.handsontable .htRight .changeType {
  margin: 3px 1px 0 13px;
}
