/*
    Handsontable listbox theme
*/
  
.handsontable.listbox {
    margin: 0;
    
    .ht_master table {
        border: var(--hot-listbox-border-size) solid var(--hot-listbox-border-color);
        border-collapse: separate;
        background: var(--hot-listbox-background-color);
    }

    th,
    tr:first-child th,
    tr:last-child th,
    tr:first-child td,
    td {
        border-color: transparent !important;
    }

    th, 
    td {
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    td.htDimmed {
        cursor: default;
        color: inherit;
        font-style: inherit;
    }

    .wtBorder {
        visibility: hidden;
    }

    tr td.current,
    tr:hover td {
        background: var(--hot-dropdown-item-active);

        strong {
            font-weight: var(--hot-listbox-background-current-font-weight);
        }
    }
}