.handsontable .htSubmenu {
    position: relative;
}

.handsontable .htSubmenu :after {
    content: '\25B6'; // right-pointing triangle
    color: #777;
    position: absolute;
    right: 5px;
    font-size: 9px;
}

[dir=rtl].handsontable .htSubmenu :after {
    content: '';
}

[dir=rtl].handsontable .htSubmenu :before {
    content: '\25C0'; // left-pointing triangle
    color: #777;
    position: absolute;
    left: 5px;
    font-size: 9px;
}