.handsontable.customFilterButtonExample1 .changeType {
  background: #e2e2e2;
  border-radius: 100%;
  width: 16px;
  color: #0075ff;
  height: 16px;
  padding: 3px 2px;
  border: none;
}

.handsontable.customFilterButtonExample1 .changeType::before {
  content: '▼ ';
  zoom: 0.9;
}