html, body {
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  margin: 0;
}

html {
  position: absolute;
  top: 0;
  left: 0;
  padding: 0;
  overflow: auto;
}

body {
  padding: 1rem;
  overflow: auto;
}
