.handsontable {
  font-size: 13px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Helvetica Neue", Arial, sans-serif;
  font-weight: 400;
}

.handsontable td .progressBar {
  background: #37bc6c !important;
  height: 10px;
}

.handsontable td .star {
  color: #fcb515 !important;
}

.ht-wrapper .handsontable .htCore tr.selected td {
  background: #edf3fd !important;
}

.handsontable .ht_nestingParent,
.handsontable .ht_nestingParent ~ td {
  background: #B5B5B5 !important;
  color: #222 !important;
}
