/*
  A stylesheet customizing Handsontable style
*/

.collapsibleIndicator {
  text-align: center;
}

.handsontable .green {
  background: #37bc6c !important;
  color: #222 !important;
  font-weight: bold;
}

.handsontable .orange {
  background: #fcb515 !important;
  color: #222 !important;
  font-weight: bold;
}

.btn {
  padding: 20px;
  font: 1.4em sans-serif;
}

[data-color='green'] {
  background: #37bc6c !important;
  color: #222 !important;
}

[data-color='orange'] {
  background: #fcb515 !important;
  color: #222 !important;
}

.bold-text {
  font-weight: bold;
}

.italic-text {
  font-style: italic;
}

.htMergedCell {
  background-color: #ffd966 !important;
  color: #000 !important;
  font-weight: bold;
  text-align: center;
}
