.handsontable td .progressBar {
  background: #37bc6c !important;
  color: #222 !important;
  height: 10px;
}

.handsontable td.star {
  color: #fcb515;
}

.ht-wrapper .handsontable .htCore tr.selected td {
  background: #edf3fd !important;
  color: #222 !important;
}

.handsontable .green {
  background: #37bc6c !important;
  color: #222 !important;
  font-weight: bold;
}

.handsontable .orange {
  background: #fcb515 !important;
  color: #222 !important;
  font-weight: bold;
}

.btn {
  padding: 20px;
  font: 1.4em sans-serif;
}
[data-color="green"] {
  background: #37bc6c !important;
  color: #222 !important;
}
[data-color="orange"] {
  background: #fcb515 !important;
  color: #222 !important;
}

.handsontable .ht_nestingParent,
.handsontable .ht_nestingParent ~ td {
  background: #B5B5B5 !important;
  color: #222 !important;
}
