#root {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

body {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

html {
  font-family: Inter var, ui-sans-serif, system-ui, -apple-system,
    BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans,
    sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol,
    Noto Color Emoji;
}

/*
  A stylesheet customizing app (custom renderers)
*/

table.htCore div.star {
  color: #fcb515;
}

table.htCore tr.odd td {
  background: #fafbff;
}

table.htCore td .progressBar {
  background: #37bc6c;
  height: 10px;
}

table.htCore tr.selected td {
  background: #edf3fd;
}

/*
  A stylesheet customizing Handsontable style
*/

.collapsibleIndicator {
  text-align: center;
}

.handsontable .htRight .changeType {
  margin: 3px 1px 0 13px;
}

.handsontable .green {
  background: #37bc6c;
  font-weight: bold;
}

.handsontable .orange {
  background: #fcb515;
  font-weight: bold;
}

.btn {
  padding: 20px;
  font: 1.4em sans-serif;
}

[data-color="green"] {
  background: #37bc6c;
}

[data-color="orange"] {
  background: #fcb515;
}

.checkboxContainer {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
}

.checkboxGroup {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.checkboxGroup > div {
  display: flex;
}

.checkboxGroup > div > label {
  padding: 2px;
  display: flex;
  gap: 0.2rem;
}

.externalLink {
  color: black;
  position: relative;
  top: 2px;
  margin-left: 0.5rem;
}

.externalLink:hover {
  color: #0000ee;
}

input {
  max-width: 20rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  border-color: rgb(228, 228, 231);
  border-image-outset: 0;
  border-style: solid;
  border-radius: 6px;
  border-width: 1px;
}
