/*
    Custom Variables for themeing
*/

@use "sass:color";

:root {
    /* Font */
    --hot-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Helvetica Neue", Arial, sans-serif;
    --hot-base-font-size: 13px;

    /* Main Colors */
    --hot-background-color: #ffffff;
    --hot-border-color: color-mix(in srgb, var(--hot-background-color), var(--hot-foreground-color) 24% );
    --hot-separator-color: color-mix(in srgb, var(--hot-background-color), var(--hot-foreground-color) 12% );

    /* Text Colors */
    --hot-read-only-text: color-mix(in srgb, var(--hot-background-color), var(--hot-foreground-color) 64% );
    --hot-placeholder-text: color-mix(in srgb, var(--hot-background-color), var(--hot-foreground-color) 50% );
    --hot-foreground-color: #373737;
    --hot-foreground-color-active: #000000;

    /* Accents Colors */
    --hot-accent-color: #104acc;
    --hot-area-color: #005eff;
    --hot-input-border-color: color-mix(in srgb, var(--hot-accent-color), var(--hot-background-color) 50% ); //htInput
    --hot-mobile-focus-color: var(--hot-input-border-color);
    
    /* Cell States */
    --hot-search-highlight-color: #583707;
    --hot-search-highlight-background-color: #fcedd9;
    --hot-invalid-background-color: #ffbeba;

    /* Colutm Resizer Colors */
    --hot-column-resizer-color: #34a9db;
    --hot-column-resizer-guide-color: #777777;

    /* Header Colors */
    --hot-header-background-color: color-mix(in srgb, var(--hot-background-color), var(--hot-foreground-color) 6% );
    --hot-header-foreground-color: color-mix(in srgb, var(--hot-foreground-color), var(--hot-foreground-color-active) 6% );
    --hot-header-active-background-color: var(--hot-border-color);
    --hot-header-active-text-color: var(--hot-foreground-color-active);
    --hot-header-highlight-background-color: #dcdcdc; 
    --hot-header-highlight-active-background-color: #8eb0e7; 
    --hot-header-current-color: #4b89ff;

    /* Dropdown */
    --hot-dropdown-background: var(--hot-background-color);
    --hot-dropdown-item-active: #f3f3f3;
    --hot-dropdown-item-margin: 10px; // Start & End
    --hot-dropdown-border-color: var(--hot-border-color);
    --hot-dropdown-border-width: 1px 2px 2px 1px;
    --hot-dropdown-item-padding: 4px 6px 0;
    --hot-dropdown-separator-size: 1px;

    /* Context Menu */
    --hot-contextmenu-item-margin: 10px 6px; // Start & End

    /* Listbox */
    --hot-listbox-border-color: var(--hot-border-color);
    --hot-listbox-background-color: var(--hot-background-color);
    --hot-listbox-background-current-font-weight: bold;

    /* Comments */
    --hot-comment-indicator-size: 6px;
    --hot-comment-indicator-color: var(--hot-foreground-color-active);
    
    --hot-comment-textarea-font-family: monospace;
    --hot-comment-textarea-font-size: calc(var(--hot-base-font-size) - 1px);
    --hot-comment-textarea-background-color: var(--hot-background-color);
    --hot-comment-textarea-border-color: var(--hot-border-color);
    --hot-comment-textarea-border-size: 3px; // Start
    --hot-comment-textarea-padding: 5px;
    --hot-comment-textarea-height: 90px;
    --hot-comment-textarea-width: 215px;
    --hot-comment-textarea-focus-color: var(--hot-input-border-color);
    --hot-comment-textarea-shadow: rgba(0, 0, 0, 0.117647) 0 1px 3px, rgba(0, 0, 0, 0.239216) 0 1px 2px;
    --hot-comment-textarea-focus-shadow: rgba(0, 0, 0, 0.117647) 0 1px 3px, rgba(0, 0, 0, 0.239216) 0 1px 2px, inset 0 0 0 1px var(--hot-input-border-color);

    /* Manual Move */
    --hot-manualMove-guideline-color: #757575;
    --hot-manualMove-guideline-size: 2px;
    --hot-manualMove-backlight-color: rgba(52, 52, 52, 0.2);

    /* Nested Rows */
    --hot-nestedrows-start: 7px;
    --hot-nestedrows-levels-padding: 11px;

    /* Renderer Autocomplete Arrow */
    --hot-autocomplete-arrow-color: #bbbbbb;
    --hot-autocomplete-arrow-hover-color: #777777;
    --hot-autocomplete-arrow-invalid-color: #555555;
    --hot-autocomplete-arrow-invalid-hover-color: #1a1a1a;
    --hot-autocomplete-arrow-area-color: #d3d3d3;
}