.wtHolder {
  position: relative;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.3em;
  font-size: 13px;
}

.wtHolder table,
.wtHolder tbody,
.wtHolder thead,
.wtHolder td,
.wtHolder th,
.wtHolder div {
  box-sizing: content-box;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
}

.wtHolder table {
  border-collapse: separate;
  /*it must be separate, otherwise there are offset miscalculations in WebKit: http://stackoverflow.com/questions/2655987/border-collapse-differences-in-ff-and-webkit*/
  /*position: relative;*/
  /*this actually only changes appearance of user selection - does not make text unselectable
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  -ms-user-select: none;
  /*user-select: none; /*no browser supports unprefixed version*/
  border-spacing: 0;
  margin: 0;
  border-width: 0;
  table-layout: fixed;
  width: 0;
  outline-width: 0;
  /* reset bootstrap table style. for more info see: https://github.com/handsontable/handsontable/issues/224 */
  max-width: none;
  max-height: none;
}

.wtHolder col {
  width: 50px;
}

.wtHolder col.rowHeader {
  width: 50px;
}

.wtHolder th,
.wtHolder td {
  border-right: 1px solid #CCC;
  border-bottom: 1px solid #CCC;
  height: 22px;
  empty-cells: show;
  line-height: 21px;
  padding: 0 4px 0 4px;
  /* top, bottom padding different than 0 is handled poorly by FF with HTML5 doctype */
  background-color: #FFF;
  vertical-align: top;
  overflow: hidden;
  outline-width: 0;
  white-space: pre-line;
  /* preserve new line character in cell */
}

.wtHolder th:last-child {
  /*Foundation framework fix*/
  border-right: 1px solid #CCC;
  border-bottom: 1px solid #CCC;
}

.wtHolder tr:first-child th.htNoFrame,
.wtHolder th:first-child.htNoFrame,
.wtHolder th.htNoFrame {
  border-left-width: 0;
  background-color: white;
  border-color: #FFF;
}

.wtHolder th:first-child,
.wtHolder td:first-child,
.wtHolder .htNoFrame + th,
.wtHolder .htNoFrame + td {
  border-left: 1px solid #CCC;
}

.wtHolder tr:first-child th,
.wtHolder tr:first-child td {
  border-top: 1px solid #CCC;
}

.wtHolder thead tr:last-child th {
  border-bottom-width: 0;
}

.wtHolder thead tr.lastChild th {
  border-bottom-width: 0;
}

.wtHolder th {
  background-color: #EEE;
  color: #222;
  text-align: center;
  font-weight: normal;
  white-space: nowrap;
}

.wtHolder th .small {
  font-size: 12px;
}

.wtHolder thead th {
  padding: 0;
}

.wtHolder th.active {
  background-color: #CCC;
}

.wtHolder thead th .relative {
  position: relative;
  padding: 2px 4px;
}

/* border line */
.wtHolder .wtBorder {
  position: absolute;
  font-size: 0;
}

.wtHolder td.area {
  background-color: #EEF4FF;
}

/* fill handle */
.wtHolder .wtBorder.corner {
  font-size: 0;
  cursor: crosshair;
}

.wtHolder .htBorder.htFillBorder {
  background: red;
  width: 1px;
  height: 1px;
}

.ht_master .wtHolder {
  overflow: auto;
}

.ht_clone_left .wtHolder {
  overflow-x: hidden;
  overflow-y: auto;
}

.ht_clone_top .wtHolder,
.ht_clone_bottom .wtHolder {
  overflow-x: auto;
  overflow-y: hidden;
}

/* used for testing */
.testOverflowHidden {
  overflow: hidden;
}

.wtSpreader {
  width: 0; /* must be 0, otherwise, while scrolling replacing nodes triggers new scroll position before table render is finished */
}
