.handsontable.theme-modern {
    /* Base Colors */
    --hot-foreground-color: #2b2b2b;
    --hot-foreground-color-active: #1a1a1a;
    --hot-read-only-text: #666666;
    --hot-placeholder-text: #888888;
    --hot-background-color: #f7f7f7;
    --hot-border-color: #dcdcdc;
    --hot-separator-color: #e0e0e0;

    /* Sizing */
    --hot-base-padding: 6px;

    /* Cell */
    --hot-cell-height: 24px;
    --hot-cell-line-height: 23px;
    --hot-cell-vertical-padding: 2px;

    /* Font */
    --hot-font-family: "Helvetica Neue", Arial, sans-serif;
    --hot-base-font-size: 14px;

    /* Input Fields */
    --hot-input-border-color: #007bff;

    /* Links */
    --hot-link-accent-color: #007bff;

    /* Highlights */
    --hot-area-color: #0056b3;
    --hot-column-resizer-color: #50b6f7;

    /* Header */
    --hot-header-background-color: #f5f5f5;
    --hot-header-foreground-color: #2b2b2b;
    --hot-header-highlight-background-color: #e5e5e5; 
    --hot-header-highlight-active-background-color: #aad4ff; 
    --hot-header-current-color: #409eff;
    --hot-header-vertical-padding: 3px;
    --hot-header-line-height: var(--hot-cell-line-height);

    --hot-resizer-width: 6px;

    /* Listbox */
    --hot-listbox-background-current-color: #f0f0f0;

    /* Dropdown */
    --hot-dropdown-button-color: #888888;
    --hot-dropdown-button-hover-color: #555555;
    --hot-dropdown-button-radius: 3px;
    --hot-dropdown-button-padding: 4px;
    --hot-dropdown-button-background-active: #c8e6c9;
    --hot-dropdown-button-background-active-color: #2e7d32;
    --hot-dropdown-button-border-active-color: #66bb6a;

    /* Dropdown Menu */
    --hot-dropdown-menu-item-padding: 5px 8px 0;
    --hot-dropdown-menu-item-inner-padding: 12px;
    --hot-dropdown-menu-item-active: #e0e0e0;

    /* Context Menu */
    --hot-contextmenu-item-inner-padding: 12px 8px;
    --hot-contextmenu-item-current-background-color: #ececec;

    /* Comments */
    --hot-comment-indicator-size: 7px;
    --hot-comment-textarea-shadow: rgba(0, 0, 0, 0.1) 0 2px 4px, rgba(0, 0, 0, 0.2) 0 1px 2px;
    --hot-comment-textarea-border-size: 2px;
    --hot-comment-textarea-padding: 6px;
    --hot-comment-textarea-height: 100px;
    --hot-comment-textarea-width: 220px;

    /* Input */
    --hot-form-input-wrapper-padding: 4px 0 8px 0;
    --hot-form-input-radius: 3px;
    --hot-form-input-border-color: #c4c4c4;

    /* Button */
    --hot-button-background-color: #f1f1f1;
    --hot-button-font-size: .8em;
    --hot-button-height: 20px;
    --hot-button-width: 70px;
    --hot-button-hover-border-color: #b9b9b9;

    --hot-button-primary-border-color: #0d6efd;
    --hot-button-primary-background-color: #0d6efd;
    --hot-button-primary-hover-border-color: #0b5ed7;
    --hot-button-primary-focus-border-color: #5c9eff;
    --hot-button-primary-focus-background-color: #86b6ff;
    --hot-button-primary-focus-text-color: #000;

    /* Select */
    --hot-select-wrapper-margin: 0 0 8px;
    --hot-select-background-color: #f8f9fa;
    --hot-select-padding: 4px 20px 4px 10px;

    /* Checkbox */
    --hot-checkbox-margin-bottom-end: 6px;

    /* Hidden Dimensions */
    --hot-hidden-dimension-indicator-margin-row: 3px;
    --hot-hidden-dimension-indicator-color-highlighted: #f0f0f0;
}