.handsontable.theme-funky {
    /* Base Colors */
    --hot-foreground-color: #000000;
    --hot-background-color: #f5f5f5;
    --hot-border-color: #666666;
    --hot-separator-color: #999999;

    /* Cell */
    --hot-cell-height: 22px;
    --hot-cell-line-height: 21px;

    /* Input Fields */
    --hot-input-border-color: #888888;

    /* Link */
    --hot-link-accent-color: #ff4136;

    /* Area */
    --hot-area-color: #0074d9;

    /* Column Resizer */
    --hot-column-resizer-color: #777777;

    /* Editor */
    --hot-editor-text-color: var(--hot-foreground-color);
    --hot-editor-background-color: var(--hot-background-color);

    /* Search */
    --hot-search-highlight-color: #ff851b;
    --hot-search-highlight-background-color: #dddddd;
    --hot-invalid-background-color: #ff4136;

    /* Header */
    --hot-header-background-color: #dddddd;
    --hot-header-foreground-color: #000000;
    --hot-header-active-background-color: var(--hot-border-color);
    --hot-header-active-text-color: var(--hot-foreground-color);
    --hot-header-highlight-background-color: #eeeeee; 
    --hot-header-highlight-active-background-color: #8eb0e7; 
    --hot-header-current-color: #ff4136;

    /* Dropdown */
    --hot-dropdown-button-background: var(--hot-button-background-color);
    --hot-dropdown-button-color: #666666;
    --hot-dropdown-button-hover-color: #000000;
    --hot-dropdown-button-border-color: #666666;
    --hot-dropdown-button-background-active: #dddddd;
    --hot-dropdown-button-background-active-color: #ff4136;
    --hot-dropdown-button-border-active-color: #ff4136;
    --hot-dropdown-border-color: var(--hot-border-color);

    /* Context Menu */
    --hot-contextmenu-border-color: var(--hot-dropdown-border-color);
    --hot-contextmenu-background-color: var(--hot-dropdown-menu-background);
    --hot-contextmenu-item-current-background-color: #aaaaaa;

    /* Filters */
    --hot-filters-menu-background: var(--hot-dropdown-menu-background);
    --hot-filters-border-color: var(--hot-dropdown-button-border-color);
    --hot-filters-menu-item-active: #aaaaaa;

    /* Button */
    --hot-button-background-color: #aaaaaa;
    --hot-button-text-color: var(--hot-foreground-color);
    --hot-button-hover-background-color: #cccccc;
    --hot-button-hover-text-color: var(--hot-button-text-color);

    --hot-button-primary-border-color: #ff4136;
    --hot-button-primary-background-color: #aaaaaa;
    --hot-button-primary-text-color: #000000;
    --hot-button-primary-hover-background-color: #cccccc;

    /* Select */
    --hot-select-background-color: #cccccc;
    --hot-select-border-color: #777777;
    --hot-select-hover-border-color: #000000;
    --hot-select-text-color: #000000;
}