.dark .handsontable,
.handsontable.dark {
    /* Base Colors */
    --hot-foreground-color: #ffffff;
    --hot-background-color: #1e1e1e;
    --hot-border-color: #555555;
    --hot-separator-color: #444444;

    /* Cell */
    --hot-cell-height: 22px;
    --hot-cell-line-height: 21px;

    /* Input Fields */
    --hot-input-border-color: #5292F7;

    /* Link */
    --hot-link-accent-color: #d4af37;

    /* Area */
    --hot-area-color: #005eff;

    /* Column Resizer */
    --hot-column-resizer-color: #666666;

    /* Editor */
    --hot-editor-text-color: var(--hot-foreground-color);
    --hot-editor-background-color: var(--hot-background-color);

    /* Search */
    --hot-search-highlight-color: #ffd700;
    --hot-search-highlight-background-color: #333333;
    --hot-invalid-background-color: #ff0000;

    /* Header */
    --hot-header-background-color: #333333;
    --hot-header-foreground-color: #ffffff;
    --hot-header-active-background-color: var(--hot-border-color);
    --hot-header-active-text-color: var(--hot-foreground-color);
    --hot-header-highlight-background-color: #444444; 
    --hot-header-highlight-active-background-color: #8eb0e7; 
    --hot-header-current-color: #d4af37;

    /* Dropdown */
    --hot-dropdown-button-background: var(--hot-button-background-color);
    --hot-dropdown-button-color: #bbbbbb;
    --hot-dropdown-button-hover-color: #ffffff;
    --hot-dropdown-button-border-color: #bbbbbb;
    --hot-dropdown-button-background-active: #333333;
    --hot-dropdown-button-background-active-color: #d4af37;
    --hot-dropdown-button-border-active-color: #d4af37;
    --hot-dropdown-border-color: var(--hot-border-color);

    /* Context Menu */
    --hot-contextmenu-border-color: var(--hot-dropdown-border-color);
    --hot-contextmenu-background-color: var(--hot-dropdown-menu-background);
    --hot-contextmenu-item-current-background-color: #555555;

    /* Filters */
    --hot-filters-menu-background: var(--hot-dropdown-menu-background);
    --hot-filters-border-color: var(--hot-dropdown-button-border-color);
    --hot-filters-menu-item-active: #555555;

    /* Button */
    --hot-button-background-color: #555555;
    --hot-button-text-color: var(--hot-foreground-color);
    --hot-button-hover-background-color: #777777;
    --hot-button-hover-text-color: var(--hot-button-text-color);

    --hot-button-primary-border-color: #d4af37;
    --hot-button-primary-background-color: #666666;
    --hot-button-primary-text-color: #ffffff;
    --hot-button-primary-hover-background-color: #777777;

    /* Select */
    --hot-select-background-color: #444444;
    --hot-select-border-color: #777777;
    --hot-select-hover-border-color: #ffffff;
    --hot-select-text-color: #ffffff;
}