@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

/* theme vars */
$frozen-size: 2px;

/* overwrites vars */
.handsontable.theme-modern,
.theme-modern .handsontable {

    /* Base Colors */
    --hot-foreground-color: #222222;
    --hot-foreground-color-active: #B5B5B9;
    --hot-read-only-text: #777777;
    --hot-placeholder-text: #999999;
    --hot-background-color: #ffffff;
    --hot-border-color: #D1D1D5;
    --hot-separator-color: #EFEFF3;
    --hot-accent-color: #1A42E8;

    /* Sizing */
    --hot-border-horizontal-size: 1px;
    --hot-border-vertical-size: 1px;
    --hot-base-padding: 4px;

    /* Cell */
    --hot-cell-height: 20px;
    --hot-cell-line-height: 20px;
    --hot-cell-horizontal-padding: 8px;
    --hot-cell-vertical-padding: 4px;

    /* Font */
    --hot-font-family: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Helvetica Neue", Arial, sans-serif;
    --hot-base-font-size: 14px;

    /* Input Fields */
    --hot-input-border-color: #5292F7; //htInput

    --hot-link-accent-color: var(--hot-accent-color);
    --hot-link-color: var(--hot-link-accent-color);
    --hot-mobile-focus-color: var(--hot-input-border-color);
    --hot-area-color: var(--hot-accent-color);
    --hot-column-resizer-color: #34a9db;
    --hot-column-resizer-guide-color: #777777;
    --hot-editor-text-color: var(--hot-foreground-color-active);
    --hot-editor-background-color: var(--hot-background-color);
    
    /* Search */
    --hot-search-highlight-color: #583707;
    --hot-search-highlight-background-color: #fcedd9;
    --hot-invalid-background-color: #ffbeba;

    /* Header */
    --hot-header-background-color: #F7F7F9;
    --hot-header-foreground-color: #5D5D5D;
    --hot-header-active-background-color: #EFEFF3;
    --hot-header-active-text-color: var(--hot-foreground-color-active);
    --hot-header-highlight-background-color: #EFEFF3; 
    --hot-header-highlight-active-background-color: #353535; 
    --hot-header-current-color: #171717;
    --hot-header-horizontal-padding: var(--hot-cell-horizontal-padding);
    --hot-header-vertical-padding: var(--hot-cell-vertical-padding);
    --hot-header-line-height: var(--hot-cell-line-height);

    --hot-resizer-width: 5px;

    /* Listbox */
    --hot-lsitbox-border-color: var(--hot-border-color);
    --hot-lsitbox-background-color: var(--hot-background-color);
    --hot-lsitbox-background-current-color: #eeeeee;
    --hot-lsitbox-border-size: 1px;

    /* Dropdown */
    --hot-dropdown-button-background: none;
    --hot-dropdown-button-color:#bbbbbb;
    --hot-dropdown-button-hover-color: #777777;
    --hot-dropdown-button-border-size: 0;
    --hot-dropdown-button-border-color: #bbbbbb;
    --hot-dropdown-button-radius: 4px;
    --hot-dropdown-button-padding: 8px;
    --hot-dropdown-button-margin: 8px;
    --hot-dropdown-button-background-active: none;
    --hot-dropdown-button-background-active-color: none;
    --hot-dropdown-button-border-active-color: none;
    --hot-dropdown-border-color: none;
    --hot-dropdown-border-width: 0px;

    --hot-dropdown-menu-background: var(--hot-background-color);
    --hot-dropdown-menu-item-padding: 8px;
    --hot-dropdown-menu-item-inner-padding: 8px; //left&right
    --hot-dropdown-menu-item-active:#EFEFF3;
    --hot-dropdown-separator-color: var(--hot-separator-color);
    --hot-dropdown-separator-size: 1px;

    /* Context Menu */
    --hot-contextmenu-border-color: var(--hot-dropdown-border-color);
    --hot-contextmenu-border-width: var(--hot-dropdown-border-width);
    --hot-contextmenu-background-color: var(--hot-dropdown-menu-background);
    --hot-contextmenu-item-padding: var(--hot-dropdown-menu-item-padding);
    --hot-contextmenu-item-inner-padding: 10px 6px; //left&right
    --hot-contextmenu-item-current-background-color:f3f3f3;
    --hot-contextmenu-separator-color: var(--hot-dropdown-separator-color);
    --hot-contextmenu-separator-size: var(--hot-dropdown-separator-size);

    /* Filters */
    --hot-filters-menu-background: var(--hot-dropdown-menu-background);
    --hot-filters-border-color: var(--hot-dropdown-button-border-color);
    --hot-filters-border-width: var(--hot-dropdown-border-width);
    --hot-filters-menu-item-active: var(--hot-dropdown-menu-item-active);
    --hot-filters-separator-color: var(--hot-dropdown-separator-color);
    --hot-filters-separator-size: var(--hot-dropdown-separator-size);
    --hot-filters-menu-item-inner-padding: var(--hot-dropdown-menu-item-inner-padding); //left&right

    --hot-filters-menu-filtering-border-width: 1px;
    --hot-filters-menu-filtering-border-color: var(--hot-border-color);
    --hot-filters-menu-filtering-border-style: solid;
    --hot-filters-menu-filtering-height: 160px;

    --hot-filters-menu-label-font-size: 12px;
    --hot-filters-menu-label-line-height: 20px;
    --hot-filters-menu-label-padding: 8px 0 2px;
    --hot-filters-menu-action-bar-padding: 8px 0 0;
    --hot-filters-menu-action-bar-align: center;
    --hot-filters-menu-conditional-input-padding: 0 0 5px 0;
    --hot-filters-menu-conditional-border-width: 1px;
    --hot-filters-menu-conditional-border-color: var(--hot-border-color);
    --hot-filters-menu-conditional-border-style: solid;
    --hot-filters-menu-value-border-width: var(--hot-filters-menu-conditional-border-width);
    --hot-filters-menu-value-border-color: var(--hot-separator-color);
    --hot-filters-menu-value-border-style: var(--hot-filters-menu-conditional-border-style);
    --hot-filters-menu-value-search-padding: 0;
    --hot-filters-menu-input-font-size: var(--hot-button-font-size);
    --hot-filters-menu-input-padding: 6px 12px;
    --hot-filters-menu-operators-padding: 4px;
    
    /* Comments */
    --hot-comment-indicator-size: 6px;
    --hot-comment-indicator-color: var(--hot-foreground-color-active);
    --hot-comment-textarea-background-color: var(--hot-background-color);
    --hot-comment-textarea-shadow: rgba(0, 0, 0, 0.117647) 0 1px 3px, rgba(0, 0, 0, 0.239216) 0 1px 2px;
    --hot-comment-textarea-border-color: var(--hot-border-color);
    --hot-comment-textarea-border-size: 3px;
    --hot-comment-textarea-padding: 5px;
    --hot-comment-textarea-height: 90px;
    --hot-comment-textarea-width: 215px;
    --hot-comment-textarea-font-size: calc(var(--hot-base-font-size) - 1px);
    --hot-comment-textarea-font-family: monospace;
    --hot-comment-textarea-focus-color: var(--hot-input-border-color);
    --hot-comment-textarea-focus-shadow: rgba(0, 0, 0, 0.117647) 0 1px 3px, rgba(0, 0, 0, 0.239216) 0 1px 2px, inset 0 0 0 1px var(--hot-input-border-color);

    /* Input */
    --hot-form-input-wrapper-padding: 3px 0 7px 0;
    --hot-form-input-radius: 4px;
    --hot-form-input-border-color: #d2d1d1;
    --hot-form-input-border-size: 1px;

    /* Button */
    --hot-button-background-color: #eeeeee;
    --hot-button-text-color: var(--hot-foreground-color-active);
    --hot-button-font-size: 12px;
    --hot-button-font-weight: bold;
    --hot-button-height: 19px;
    --hot-button-width: 64px;
    --hot-button-radius: var(--hot-input-radius);
    --hot-button-border-color: var(--hot-input-border-color);
    --hot-button-border-size: var(--hot-input-border-size);
    --hot-button-hover-border-color: #b9b9b9;
    --hot-button-hover-background-color: var(--hot-button-background-color);
    --hot-button-hover-text-color: var(--hot-button-text-color);
    --hot-button-margin: 10px;

    --hot-button-primary-border-color: #0f9d58;
    --hot-button-primary-background-color: #18804e;
    --hot-button-primary-text-color: #fff;
    --hot-button-primary-hover-border-color: #1a6f46;
    --hot-button-primary-hover-background-color: var(--hot-button-primary-background-color);
    --hot-button-primary-hover-text-color: var(--hot-button-primary-text-color);
    --hot-button-primary-focus-border-color: #7cb878;
    --hot-button-primary-focus-background-color: #92dd8d;
    --hot-button-primary-focus-text-color: #000;

    /* Select */
    --hot-select-wrapper-margin: 2px 0 0;
    --hot-select-background-color: #fff;
    --hot-select-radius: var(--hot-form-input-radius);
    --hot-select-border-color: var(--hot-form-input-border-color);
    --hot-select-border-size: var(--hot-form-input-border-size);
    --hot-select-font-size: var(--hot-button-font-size);
    --hot-select-padding: 6px 20px 6px 12px;
    --hot-select-font-weight: normal;
    --hot-select-hover-border-color: var(--hot-button-hover-border-color);
    --hot-select-hover-background-color: var(--hot-select-background-color);
    --hot-select-hover-text-color: var(--hot-button-text-color);
    --hot-select-text-color: var(--hot-foreground-color);
    
    /* Radio */
    --hot-radio-wrapper-margin: 8px;
    --hot-radio-margin: 0.5ex;

    /* Checkbox */
    --hot-checkbox-margin-top: 0;
    --hot-checkbox-margin-bottom: 0;
    --hot-checkbox-margin-bottom-start: 0;
    --hot-checkbox-margin-bottom-end: 8px;
    --hot-checkbox-height: 16px;

    /* Hidden Dimensions */
    --hot-hidden-dimension-indicator-margin-column: 1px;
    --hot-hidden-dimension-indicator-margin-row: 2px;
    --hot-hidden-dimension-indicator-color: #bbbbbb;
    --hot-hidden-dimension-indicator-color-highlighted: #eeeeee;
    
    /* Manual Move */
    --hot-manualMove-guideline-color: #757575;
    --hot-manualMove-guideline-size: 2px;
    --hot-manualMove-backlight-color: rgba(52, 52, 52, 0.2);

    /* Nested Rows */
    --hot-nestedrows-start: 7px;
    --hot-nestedrows-levels-padding: 11px;

    /* Renderer Autocomplete Arrow */
    --hot-AutocompleteArrow-color: #bbbbbb;
    --hot-AutocompleteArrow-hover-color: #777;
    --hot-AutocompleteArrow-invalid-color: #555555;
    --hot-AutocompleteArrow-invalid-hover-color: #1a1a1a;
    --hot-AutocompleteArrow-area-color: #d3d3d3;

    /*
        Custom Syles 
    */

    .handsontable {
        thead th { 
            height: var(--hot-cell-height) !important;
        }

        .changeType {
            height: 16px; 
            width: 16px;
            display: inline-block;
            margin: 2px;
            margin-inline-end: calc(2px - var(--hot-header-vertical-padding));
            position: relative;
            border-radius: 4px;

            &:before {
                content: "";
                display: block;
                width: 0;
                height: 0;
                border-style: solid;
                border-width: 4px 3px 0 3px;
                border-color: transparent;
                border-top-color: var(--hot-read-only-text);
                position: absolute;
                left: 5px;
                top: 6px;
            }

            &:hover { 
                background-color: var(--hot-border-color);
                &:before {
                    border-top-color: white;
                }
            }
        }

        th { 
            //height: auto !important;
            box-sizing: border-box;
        }

        tbody th.current, 
        thead th.current {
            background-color: var(--hot-header-current-color);
            color: #B5B5B9;
        }

        tbody th.ht__active_highlight, 
        thead th.ht__active_highlight {
            border-color: var(--hot-foreground-color);

            &:before {
                background: var(--hot-accent-color)
            }
        }

        /* thin border highlight */
        tbody th, thead th {
            position: relative;
            overflow: visible;

            &.ht__highlight {                 
                &:before { 
                    content:'';
                    display: block;;
                    position: absolute;
                    left: -1px;
                    bottom: -1px;
                    right: -1px;
                    height: 1px;
                    background-color: var(--hot-accent-color);
                }
            }
        }

        tbody th.ht__highlight:before {
            width: 1px;
            height: auto;
            right: -1px;
            top: -1px;
            bottom: -1px;
            left: auto;
        }

        .wtBorder.area {
            background-color: #1A42E8 !important;
        }

        /* collaosible indicator */
        .collapsibleIndicator {
            transform: translate(0%, -50%);
            position: absolute;
            top: 50%;
            left: unset;
            right: 4px;
            overflow: hidden;
            text-indent: -100px;
            cursor:pointer;
            border-radius: 2px; ;
            width: 14px;
            height: 14px;
            border: 1px solid var(--hot-border-color);
            background-color: var(--hot-background-color);
            box-shadow: none;
        
            &:after, 
            &:before { 
                content: '';
                display: block;
                transform: translate(-50%, -50%);
                position: absolute; 
                width: 10px; 
                height: 2px; 
                top:50%; 
                left: 50%; 
                background-color: var(--hot-border-color);
            }
            &:before { 
                height: 10px; 
                width: 2px; 
                display: none;
            }
        
            &.expanded { 
                &:hover { 
                    &:after { 
                        background-color: var(--hot-accent-color);
                    }
                }
            }
            &.collapsed { 
                background-color: var(--hot-header-active-background-color);
                border-color: var(--hot-border-color);

                &:before, &:after { 
                    display: block;
                    background-color: var(--hot-border-color);
                }
        
                &:hover { 
                    &:before, &:after { 
                        background-color: var(--hot-accent-color);
                    }
                    background-color: var(--hot-header-active-background-color);
                    //border-color: var(--hot-accent-color);
                }
            }

            
        }
        
        .ht__active_highlight {
            .collapsibleIndicator {
                border: 1px solid #000000;
                background-color: #171717;

                &:hover { 
                    background-color: #373737;
                    &:before,
                    &:after {
                        background-color: #ffffff;
                    }
                }

                &:before,
                &:after {
                   // background: ;
                } 
                &.expanded { }
                &.collapsed { }
            }

            .changeType {
                &:hover {
                    background-color: #000000;
                }
            }
        } 
    }

    [dir=rtl].handsontable .collapsibleIndicator {
        right: unset;
        left: 4px;
    }

    /* Frozen border */
    // Start 
    .ht_clone_inline_start.ht_clone_left,
    .ht_clone_bottom_left_corner,
    .ht_clone_top_left_corner {
        tbody tr td:last-child,
        thead tr th:not(:first-child):last-child {    
            box-shadow: ($frozen-size * -1) 0 0 0 inset var(--hot-border-color) ; 
        }
        
    }
    // Start + Top
    .ht_clone_top_left_corner {
        tbody tr:last-child td:last-child {
            box-shadow: ($frozen-size * -1) ($frozen-size * -1) 0 0 inset var(--hot-border-color); 
        }
    }

    // Bottom 
    .ht_clone_bottom,
    .ht_clone_bottom_left_corner {
        tbody tr:first-child { 
            td, th {
                box-shadow: 0 $frozen-size 0 0 inset var(--hot-border-color) ; 
            }
        }
    } 
    .ht_clone_bottom_left_corner {
        tbody tr:first-child td:last-child {
            box-shadow: ($frozen-size * -1) $frozen-size 0 0 inset var(--hot-border-color) ; 
        }
    }

    // Top
    .ht_clone_top,
    .ht_clone_top_left_corner {
        tbody tr:last-child { 
            td, th {
                box-shadow: 0 ($frozen-size * -1) 0 0 inset var(--hot-border-color) ; 
            }
        }
    }

    /* htAutocompleteArrow */
    .handsontable {
        .htAutocompleteArrow { 
            width: 16px; 
            height: 16px; 
            font-size: 0;
            position: relative;
            top: 50%;
            transform: translateY(-50%);

            &:after {
                width: 4px;
                height: 4px;
                content:'';
                display: block;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: rotate(45deg) translate(-100%);
                border-right: 1px solid var(--hot-read-only-text);
                border-bottom: 1px solid var(--hot-read-only-text)
            }
        }
    }

    /* dropdown */
    &.htDropdownMenu table.htCore {
        border-radius: 8px;
        overflow: hidden;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.12);
        padding: 8px 0;
    }
    &.htDropdownMenu  .htCustomMenuRenderer .table.htCore {
        box-shadow: none;
    }

    .htSeparator { 
        margin: 8px 0;
    }
}