.handsontable.theme-dark {
    --hot-foreground-color: #cccccc;
    --hot-foreground-color-active: #ffffff;
    --hot-read-only-text: #aaaaaa;
    --hot-placeholder-text: #888888;
    --hot-background-color: #222222;
    --hot-border-color: #444444;
    --hot-separator-color: #555555;
    --hot-header-background-color: #333333;
    --hot-header-foreground-color: #dddddd;
    --hot-header-active-background-color: var(--hot-border-color);
    --hot-header-active-text-color: var(--hot-foreground-color-active);
    --hot-header-highlight-background-color: #444444;
    --hot-header-highlight-active-background-color: #3a4b69;
    --hot-header-current-color: #6bafff;
    --hot-input-border-color: #9abfff;
    --hot-link-accent-color: #66aaff;
    --hot-invalid-background-color: #ff6666;
    --hot-mobile-focus-color: var(--hot-input-border-color);
    --hot-column-resizer-color: #56b0db;
    --hot-column-resizer-guide-color: #999999;
    --hot-area-color: #3399ff;
    --hot-link-color: var(--hot-link-accent-color);
    --hot-editor-text-color: var(--hot-foreground-color-active);
    --hot-editor-background-color: var(--hot-background-color);
    --hot-search-highlight-color: #e0ac8d;
    --hot-search-highlight-background-color: #4a3a2d;
    --hot-lsitbox-border-color: var(--hot-border-color);
    --hot-lsitbox-background-color: var(--hot-background-color);
    --hot-lsitbox-background-current-color: #555555;
    --hot-contextmenu-border-color: var(--hot-border-color);
    --hot-contextmenu-background-color: var(--hot-background-color);
    --hot-contextmenu-item-current-background-color: #666666;
    --hot-dropdown-button-background: #555555;
    --hot-dropdown-button-color: #bbbbbb;
    --hot-dropdown-button-hover-color: #dddddd;
    --hot-dropdown-button-border-color: #666666;
    --hot-dropdown-menu-background: var(--hot-background-color);
    --hot-dropdown-menu-item-active: #555555;
    --hot-filters-menu-background: var(--hot-background-color);
    --hot-filters-border-color: #666666;
}