.handsontable {
  font-size: 13px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Helvetica Neue', Arial, sans-serif;
  font-weight: 400;

  td .progressBar {
    background: #37bc6c;
    height: 10px;
  }

  td.star {
    color: #fcb515;
  }

  .htCore tr.selected td {
    background: #edf3fd;
  }
}

.handsontable.ht-theme-main-dark {
  .htCore tr.selected td {
    background: #081b3d;
  }
}

.handsontable.ht-theme-horizon-dark {
  .htCore tr.selected td {
    background: #3a2901;
  }
}
