.handsontable .progressBar {
  background: #37bc6c !important;
  height: 10px;
}

.handsontable .star {
  color: #fcb515 !important;
}

.ht-wrapper .handsontable .htCore tr.selected td {
  background: #edf3fd !important;
}