<div>
  <hot-table
    class="hot"
    id="root"
    [data]="dataset"
    height="250"
    [afterGetColHeader]="alignHeaders"
    [colHeaders]="colHeaders"
    [rowHeaders]="true"
    [dropdownMenu]="true"
    [hiddenColumns]="hiddenColumns"
    [contextMenu]="true"
    [mergeCells]="true"
    [multiColumnSorting]="true"
    [filters]="true"
    [afterOnCellMouseDown]="changeCheckboxCell"
    [afterGetColHeader]="alignHeaders"
    [afterGetRowHeader]="drawCheckboxInRowHeaders"
    [beforeRenderer]="addClassesToRows"
    [manualRowMove]="true"
    [navigableHeaders]="true"
    [comments]="true"
    [manualColumnMove]="true"
    [customBorders]="true"
    [autoWrapCol]="true"
    [autoWrapRow]="true"
    licenseKey="non-commercial-and-evaluation"
  >
    <hot-column data="1" type="numeric"></hot-column>
    <hot-column data="2"></hot-column>
    <hot-column data="3"></hot-column>
    <hot-column data="4" type="numeric"></hot-column>
    <hot-column data="5"></hot-column>
    <hot-column data="6"></hot-column>
    <hot-column data="7"></hot-column>
    <hot-column data="8"></hot-column>
    <hot-column data="9"></hot-column>
    <hot-column data="10"></hot-column>

   
  </hot-table>
</div>
