.columnSorting.sortAction {
    display: inline-flex;
    align-items: center;
    gap: 0;
    //position: absolute;
    inset: 0;
    //padding: var(--hot-header-vertical-padding) var(--hot-header-horizontal-padding);

    &:hover { 
        //background: rgba(0,0,0,.04);
        text-decoration: none;
    }

    &:before { 
        position: static;
        order: 1;
        //display: none;
        width: 16px;
        height: 16px;
        margin: 0; 
        padding: 0;
    }

    &.descending:before {
        display: inline-block; 
        @include icon('icon-arrow-narrow-down', 16px, var(--hot-foreground-color));
    }
    &.ascending:before { 
        display: inline-block;
        @include icon('icon-arrow-narrow-up', 16px, var(--hot-foreground-color));
    }

    &:after {
        position: static;
        order: 2;
        margin-left: -5px;
        padding-inline-start: 0;
    }
}