@keyframes marching-ants {
    0% {
        background-position: 0 0, 8px 100%, 0 8px, 100% 0;
    }
    100% {
        background-position: 8px 0, 0 100%, 0 0, 100% 8px;
    }
}

.wtBorder{
    &.area {
        background-color: var(--hot-accent-color) !important;
    }
    &.fill {
        background-image: 
        linear-gradient(90deg, white 50%, transparent 50%), 
        linear-gradient(90deg, white 50%, transparent 50%), 
        linear-gradient(0, white 50%, transparent 50%), 
        linear-gradient(0, white 50%, transparent 50%);
        background-repeat: repeat-x, repeat-x, repeat-y, repeat-y;
        background-size: 8px 2px,0px 0px,2px 8px,0px 0px;
        animation: marching-ants 600ms infinite linear;
        background-color: var(--hot-accent-color) !important;
    }
    &.current {
        background-color: var(--hot-accent-color) !important;
    }
}