/* dropdown */
&.htDropdownMenu table.htCore {
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.12);
    padding: 8px 0;
}
&.htDropdownMenu  .htCustomMenuRenderer .table.htCore {
    box-shadow: none;
}

/* contextMenu */
&.htContextMenu .htCore { 
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.12);
    padding: 8px 0;
    border-radius: 8px;
    margin-bottom: 16px;

    tbody tr td {
        position: relative;

        &.current {
            background: var(--hot-header-background-color);
        }

        .htSeparator {
            height: auto !important;
            border: none;
            padding: 4px 0;
            margin: 0;

            .htItemWrapper { 
                border-top: var(--hot-contextmenu-separator-size) solid var(--hot-contextmenu-separator-color); 
                margin: 0;
            }
        }
    }
}

/* dropdownMenu */
&.htDropdownMenu table.htCore {
    tbody tr td {
        position: relative;
    }
}

/* dropdown button */
.changeType {
    height: 16px; 
    width: 16px;
    display: inline-block;
    margin: 2px;
    margin-inline-end: calc(0px - var(--hot-header-vertical-padding));
    position: relative;
    border-radius: var(--hot-border-radius);
    z-index: 1;

    &:before {
        width: 4px;
        height: 4px;
        content: "";
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        margin-left: .5px;
        transform: rotate(45deg) translate(-100%);
        border-right: 1px solid var(--hot-read-only-text);
        border-bottom: 1px solid var(--hot-read-only-text);
    }

    &:hover { 
        background-color: var(--hot-background-color);
        box-shadow: 0 0 0 1px var(--hot-border-color);

        &:before {
            border-color: var(--hot-foreground-color);
        }
    }
}

/* filter */
.htUIClearAll a,
.htUISelectAll a {
    padding: 8px;
    display: inline-block;
    text-decoration: none;
}
.htUIMultipleSelect .ht_master .wtHolder {
    overflow-y: auto;
    background: transparent;

    .htCore {
        box-shadow: none;
    }
}