/* collaosible indicator */
.collapsibleIndicator, 
.ht_nestingButton {
    transform: translate(0%, -50%);
    position: absolute;
    top: 50%;
    left: unset;
    right: 4px;
    overflow: hidden;
    text-indent: -100px;
    cursor:pointer;
    border-radius: var(--hot-border-radius); ;
    width: 14px;
    height: 14px;
    border: 1px solid var(--hot-border-color);
    background-color: var(--hot-background-color);
    box-shadow: none;

    &:after, 
    &:before { 
        content: '';
        display: block;
        transform: translate(-50%, -50%);
        position: absolute; 
        width: 10px; 
        height: 2px; 
        top:50%; 
        left: 50%; 
        background-color: var(--hot-border-color);
        border-radius: var(--hot-border-radius);
    }
    
    &:before { 
        height: 10px; 
        width: 2px; 
        display: none;
    }

    &.expanded { 
        &:hover { 
            &:after { 
                background-color: var(--hot-accent-color);
            }
        }
    }
    &.collapsed,
    &.ht_nestingExpand { 
        background-color: var(--hot-header-active-background-color);
        border-color: var(--hot-border-color);

        &:before, &:after { 
            display: block;
            background-color: var(--hot-border-color);
        }

        &:hover { 
            &:before, &:after { 
                background-color: var(--hot-accent-color);
            }
            background-color: var(--hot-header-active-background-color);
        }
    }   
}
