/* select */
.htSelectEditor  {
    -webkit-appearance: none !important;
    border-color: var(--hot-accent-color);
    background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iOCIgaGVpZ2h0PSI4IiB2aWV3Qm94PSIwIDAgOCA4IiBmaWxsPSJub25lIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPgo8cGF0aCBmaWxsLXJ1bGU9ImV2ZW5vZGQiIGNsaXAtcnVsZT0iZXZlbm9kZCIgZD0iTTAuNDY0NTc3IDIuNTM1MTZMNC4wMDAxMSA2LjA3MDY5TDcuNTM1NjQgMi41MzUxNkw2LjgyODU0IDEuODI4MDVMNC4wMDAxMSA0LjY1NjQ4TDEuMTcxNjggMS44MjgwNUwwLjQ2NDU3NyAyLjUzNTE2WiIgZmlsbD0iIzc3Nzc3NyIvPgo8L3N2Zz4K");
    background-repeat: no-repeat;
    background-size: 36px 8px;
    background-position: right center;
    background-clip: border-box;
    padding-right: 26px;        
}

/* listbox */
.listbox {
    .ht_master {
        overflow: visible;

        .wtHolder {
            overflow: visible;
        }
    }

    table {
        border:0;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.12);
        border-radius: 8px;
        overflow: hidden;

        thead th { height: auto !important;
            text-align: left;
            
            > div { 
                padding-top: 8px; 
                padding-bottom: 8px; 
            }

            &:first-child {
                padding-left: 8px;
            }
        }
        tbody td {
            &:first-child {
                padding-left: 16px;
            }
            &:last-child {
                padding-right: 16px;
            }
        }
    }

    .ht_clone_top { 
        .wtHider {
            overflow: hidden;
        }

        table { 
            border-radius: 0;
        }
    }
}

/* submenu */
.htSubmenu :after {
    width: 4px;
    height: 4px;
    content:'';
    display: block;
    position: absolute;
    top: 50%;
    right: 16px;
    transform: rotate(45deg) translate(-100%);
    border-right: 1px solid var(--hot-read-only-text);
    border-top: 1px solid var(--hot-read-only-text)
}

/* checkbox label */
.htCheckboxRendererLabel {
    display: flex;
    align-items: center;
    gap: 4px;
    position: relative;
    cursor: pointer;
}

/* checkbox */
.htCheckboxRendererInput {
    position: relative;
    height: var(--hot-checkbox-height);
    width: var(--hot-checkbox-height);
    cursor: pointer;
    appearance: none;

    &:checked::before {
        background-color: var(--hot-accent-color);
        border-color: var(--hot-accent-color);
    }

    &::before {
        pointer-events: none;
        content: '';
        border: 1px solid var(--hot-border-color);
        border-radius: var(--hot-border-radius);
        width: var(--hot-checkbox-height);
        height: var(--hot-checkbox-height);
        display: inline-block;
        box-sizing: border-box;
        background-color: var(--hot-background-color);
        transition: all .5s ease-in-out ;
    }
    &::after { 
        pointer-events: none;
        content: '';
        width: 6px;
        height: 10px;
        position: absolute;
        left: calc(var(--hot-checkbox-height) * .5);
        top: 6.5px;
        border-left: 2px solid var(--hot-background-color);
        border-top: 2px solid var(--hot-background-color);
        transform: translate(-50%, -50%) rotate(-135deg);
        box-sizing: border-box;
        transition: all .2s ease-in-out ;
    }
}   

/* button */
.htUIInput.htUIButton {
    input {
        border-radius: var(--hot-border-radius);
        padding: var(--hot-button-padding);
        box-sizing: border-box;
        outline: none !important;

        &:focus-visible {
            border-color: var(--hot-accent-color);
        }
    }

    &.htUIButtonOK {
        input {
            &:focus-visible {
                border-color: var(--hot-button-primary-focus-border-color);
            }
        }
    }
}