.ht_nestingButton { 
    position: relative;
    order: -1;
    transform: none;
    top: 0;
    margin-right: 4px;
}

.ht_nestingLevels { 
    // overflow: hidden !important;

    > .relative {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.ht_nestingLevel_empty {
    border-bottom: 1px solid var(--hot-border-color);
    height: calc(var(--hot-cell-line-height) / 2 );
    position: relative;
    width: 8px;
    align-self: start;

    &:first-child { 
        margin-left: -2px;
        width: 4px;

        &:before { 
            content: '';
            display: block;
            border-left: 1px solid var(--hot-border-color);
            height: calc(var(--hot-cell-line-height) * .5 + 3px);
            position: absolute;
            bottom: 0;
            left: 0;
        }
    }
    + .rowHeader {
        margin-left: 6px;
    }

    + .ht_nestingLevel_empty {
        border-left: 0;
        border-bottom: 1px solid var(--hot-border-color);
    }
}

[dir=rtl].handsontable .collapsibleIndicator {
    right: unset;
    left: 4px;
}