/*
  Icon Font
*/
@mixin output {
  [class^="ht-icons"],
  [class*="ht-icons"] {
    font-family: "ht-icons" !important;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 18px;
    vertical-align: middle;
    margin-right: 5px;
  }
}
