@use "sass:color";

@use "./base";
@use "./mobile";
@use "./z-index-map";

/* Walkontable migration */
@mixin base-styles() {
  @include base.output();
  @include mobile.output();
  @include z-index-map.output();
}
