@use "sass:color";
@use "utils/main/icons";

@mixin light {
  --ht-font-size: 13px;
  --ht-line-height: 21px;
  --ht-font-weight: 400;
  --ht-letter-spacing: 0;
  --ht-gap-size: 2px;
  --ht-icon-size: 12px;
  --ht-table-transition: 0s;
  --ht-border-color: #cccccc;
  --ht-accent-color: #5292f7;
  --ht-foreground-color: #373737;
  --ht-foreground-secondary-color: #777777;
  --ht-background-color: #ffffff;
  --ht-placeholder-color: #999999;
  --ht-read-only-color: #777777;
  --ht-disabled-color: #999999;
  --ht-shadow-color: #cccccc;
  --ht-shadow-x: 1px;
  --ht-shadow-y: 1px;
  --ht-shadow-blur: 0;
  --ht-cell-horizontal-border-color: #cccccc;
  --ht-cell-vertical-border-color: #cccccc;
  --ht-wrapper-border-width: 0;
  --ht-wrapper-border-radius: 0;
  --ht-wrapper-border-color: #cccccc;
  --ht-row-header-odd-background-color: #f0f0f0;
  --ht-row-header-even-background-color: #f0f0f0;
  --ht-row-cell-odd-background-color: rgba(255, 255, 255, 0);
  --ht-row-cell-even-background-color: rgba(255, 255, 255, 0);
  --ht-cell-horizontal-padding: 6px;
  --ht-cell-vertical-padding: 1px;
  --ht-cell-editor-border-width: 2px;
  --ht-cell-editor-border-color: #5292f7;
  --ht-cell-editor-foreground-color: #0f0f10;
  --ht-cell-editor-background-color: #ffffff;
  --ht-cell-editor-shadow-blur-radius: 0;
  --ht-cell-editor-shadow-color: #5292f7;
  --ht-cell-success-background-color: rgba(55, 188, 108, 0.20);
  --ht-cell-error-background-color: rgba(250, 77, 50, 0.20);
  --ht-cell-read-only-background-color: rgba(255, 255, 255, 0);
  --ht-cell-selection-border-color: #5292f7;
  --ht-cell-selection-background-color: #8eb0e7;
  --ht-cell-autofill-size: 6px;
  --ht-cell-autofill-border-width: 1px;
  --ht-cell-autofill-border-radius: 0;
  --ht-cell-autofill-border-color: #ffffff;
  --ht-cell-autofill-background-color: #5292f7;
  --ht-cell-autofill-fill-border-color: #373737;
  --ht-cell-mobile-handle-size: 12px;
  --ht-cell-mobile-handle-border-width: 1px;
  --ht-cell-mobile-handle-border-radius: 6px;
  --ht-cell-mobile-handle-border-color: #5292f7;
  --ht-cell-mobile-handle-background-color: rgba(82, 146, 247, 0.40);
  --ht-resize-indicator-color: #999999;
  --ht-move-backlight-color: rgba(55, 55, 55, 0.25);
  --ht-move-indicator-color: #999999;
  --ht-hidden-indicator-color: #999999;
  --ht-scrollbar-border-radius: 8px;
  --ht-scrollbar-track-color: #f0f0f0;
  --ht-scrollbar-thumb-color: rgba(55, 55, 55, 0.40);
  --ht-header-font-weight: 400;
  --ht-header-foreground-color: #373737;
  --ht-header-background-color: #f0f0f0;
  --ht-header-highlighted-shadow-size: 0;
  --ht-header-highlighted-foreground-color: #373737;
  --ht-header-highlighted-background-color: #dcdcdc;
  --ht-header-active-border-color: #cccccc;
  --ht-header-active-foreground-color: #0f0f10;
  --ht-header-active-background-color: #8eb0e7;
  --ht-header-filter-background-color: rgba(55, 188, 108, 0.20);
  --ht-header-row-foreground-color: #373737;
  --ht-header-row-background-color: #f0f0f0;
  --ht-header-row-highlighted-foreground-color: #373737;
  --ht-header-row-highlighted-background-color: #dcdcdc;
  --ht-header-row-active-foreground-color: #0f0f10;
  --ht-header-row-active-background-color: #8eb0e7;
  --ht-checkbox-size: 12px;
  --ht-checkbox-border-radius: 2px;
  --ht-checkbox-border-color: #999999;
  --ht-checkbox-background-color: #ffffff;
  --ht-checkbox-icon-color: rgba(255, 255, 255, 0);
  --ht-checkbox-focus-border-color: #999999;
  --ht-checkbox-focus-background-color: #ffffff;
  --ht-checkbox-focus-icon-color: rgba(255, 255, 255, 0);
  --ht-checkbox-focus-ring-color: #5292f7;
  --ht-checkbox-disabled-border-color: #999999;
  --ht-checkbox-disabled-background-color: #c6c6c6;
  --ht-checkbox-disabled-icon-color: rgba(255, 255, 255, 0);
  --ht-checkbox-checked-border-color: #3e7ee1;
  --ht-checkbox-checked-background-color: #5292f7;
  --ht-checkbox-checked-icon-color: #ffffff;
  --ht-checkbox-checked-focus-border-color: #ffffff;
  --ht-checkbox-checked-focus-background-color: #5292f7;
  --ht-checkbox-checked-focus-icon-color: #ffffff;
  --ht-checkbox-checked-disabled-border-color: #999999;
  --ht-checkbox-checked-disabled-background-color: #c6c6c6;
  --ht-checkbox-checked-disabled-icon-color: #999999;
  --ht-checkbox-indeterminate-border-color: #3e7ee1;
  --ht-checkbox-indeterminate-background-color: #5292f7;
  --ht-checkbox-indeterminate-icon-color: #ffffff;
  --ht-checkbox-indeterminate-focus-border-color: #ffffff;
  --ht-checkbox-indeterminate-focus-background-color: #5292f7;
  --ht-checkbox-indeterminate-focus-icon-color: #ffffff;
  --ht-checkbox-indeterminate-disabled-border-color: #999999;
  --ht-checkbox-indeterminate-disabled-background-color: #c6c6c6;
  --ht-checkbox-indeterminate-disabled-icon-color: #999999;
  --ht-radio-size: 12px;
  --ht-radio-border-color: #999999;
  --ht-radio-background-color: #ffffff;
  --ht-radio-icon-color: rgba(255, 255, 255, 0);
  --ht-radio-focus-border-color: #999999;
  --ht-radio-focus-background-color: #ffffff;
  --ht-radio-focus-icon-color: rgba(255, 255, 255, 0);
  --ht-radio-focus-ring-color: #5292f7;
  --ht-radio-disabled-border-color: #999999;
  --ht-radio-disabled-background-color: #c6c6c6;
  --ht-radio-disabled-icon-color: rgba(255, 255, 255, 0);
  --ht-radio-checked-border-color: #5292f7;
  --ht-radio-checked-background-color: #ffffff;
  --ht-radio-checked-icon-color: #5292f7;
  --ht-radio-checked-focus-border-color: #3e7ee1;
  --ht-radio-checked-focus-background-color: #ffffff;
  --ht-radio-checked-focus-icon-color: #5292f7;
  --ht-radio-checked-disabled-border-color: #999999;
  --ht-radio-checked-disabled-background-color: #c6c6c6;
  --ht-radio-checked-disabled-icon-color: #999999;
  --ht-icon-button-border-radius: 2px;
  --ht-icon-button-large-border-radius: 2px;
  --ht-icon-button-large-padding: 2px;
  --ht-icon-button-border-color: #c6c6c6;
  --ht-icon-button-background-color: #f0f0f0;
  --ht-icon-button-icon-color: #999999;
  --ht-icon-button-hover-border-color: #777777;
  --ht-icon-button-hover-background-color: #f0f0f0;
  --ht-icon-button-hover-icon-color: #777777;
  --ht-icon-button-active-border-color: #c6c6c6;
  --ht-icon-button-active-background-color: #f0f0f0;
  --ht-icon-button-active-icon-color: #999999;
  --ht-icon-button-active-hover-border-color: #777777;
  --ht-icon-button-active-hover-background-color: #f0f0f0;
  --ht-icon-button-active-hover-icon-color: #777777;
  --ht-collapse-button-border-radius: 16px;
  --ht-collapse-button-open-border-color: #c6c6c6;
  --ht-collapse-button-open-background-color: #ffffff;
  --ht-collapse-button-open-icon-color: #999999;
  --ht-collapse-button-open-icon-active-color: #999999;
  --ht-collapse-button-open-hover-border-color: #c6c6c6;
  --ht-collapse-button-open-hover-background-color: #ffffff;
  --ht-collapse-button-open-hover-icon-color: #999999;
  --ht-collapse-button-open-hover-icon-active-color: #999999;
  --ht-collapse-button-close-border-color: #c6c6c6;
  --ht-collapse-button-close-background-color: #f0f0f0;
  --ht-collapse-button-close-icon-color: #999999;
  --ht-collapse-button-close-icon-active-color: #999999;
  --ht-collapse-button-close-hover-border-color: #c6c6c6;
  --ht-collapse-button-close-hover-background-color: #f0f0f0;
  --ht-collapse-button-close-hover-icon-color: #999999;
  --ht-collapse-button-close-hover-icon-active-color: #999999;
  --ht-button-border-radius: 2px;
  --ht-button-horizontal-padding: 8px;
  --ht-button-vertical-padding: 2px;
  --ht-primary-button-border-color: rgba(255, 255, 255, 0);
  --ht-primary-button-foreground-color: #ffffff;
  --ht-primary-button-background-color: #5292f7;
  --ht-primary-button-disabled-border-color: rgba(255, 255, 255, 0);
  --ht-primary-button-disabled-foreground-color: #999999;
  --ht-primary-button-disabled-background-color: #dcdcdc;
  --ht-primary-button-hover-border-color: rgba(255, 255, 255, 0);
  --ht-primary-button-hover-foreground-color: #ffffff;
  --ht-primary-button-hover-background-color: #3e7ee3;
  --ht-primary-button-focus-border-color: #ffffff;
  --ht-primary-button-focus-foreground-color: #ffffff;
  --ht-primary-button-focus-background-color: #5292f7;
  --ht-secondary-button-border-color: rgba(255, 255, 255, 0);
  --ht-secondary-button-foreground-color: #373737;
  --ht-secondary-button-background-color: #ffffff;
  --ht-secondary-button-disabled-border-color: rgba(255, 255, 255, 0);
  --ht-secondary-button-disabled-foreground-color: #999999;
  --ht-secondary-button-disabled-background-color: #dcdcdc;
  --ht-secondary-button-hover-border-color: rgba(255, 255, 255, 0);
  --ht-secondary-button-hover-foreground-color: #373737;
  --ht-secondary-button-hover-background-color: #f0f0f0;
  --ht-secondary-button-focus-border-color: rgba(255, 255, 255, 0);
  --ht-secondary-button-focus-foreground-color: #373737;
  --ht-secondary-button-focus-background-color: #ffffff;
  --ht-comments-textarea-horizontal-padding: 8px;
  --ht-comments-textarea-vertical-padding: 2px;
  --ht-comments-textarea-border-width: 1px;
  --ht-comments-textarea-border-color: #cccccc;
  --ht-comments-textarea-foreground-color: #373737;
  --ht-comments-textarea-background-color: #ffffff;
  --ht-comments-textarea-focus-border-width: 1px;
  --ht-comments-textarea-focus-border-color: #5292f7;
  --ht-comments-textarea-focus-foreground-color: #373737;
  --ht-comments-textarea-focus-background-color: #ffffff;
  --ht-comments-indicator-size: 6px;
  --ht-comments-indicator-color: #373737;
  --ht-license-horizontal-padding: 8px;
  --ht-license-vertical-padding: 4px;
  --ht-license-foreground-color: #373737;
  --ht-license-background-color: #f0f0f0;
  --ht-link-color: #3e7ee3;
  --ht-link-hover-color: #3e7ee3;
  --ht-input-border-width: 1px;
  --ht-input-border-radius: 2px;
  --ht-input-horizontal-padding: 8px;
  --ht-input-vertical-padding: 2px;
  --ht-input-border-color: #cccccc;
  --ht-input-foreground-color: #373737;
  --ht-input-background-color: #f0f0f0;
  --ht-input-hover-border-color: #cccccc;
  --ht-input-hover-foreground-color: #373737;
  --ht-input-hover-background-color: #f0f0f0;
  --ht-input-disabled-border-color: #cccccc;
  --ht-input-disabled-foreground-color: #999999;
  --ht-input-disabled-background-color: #c6c6c6;
  --ht-input-focus-border-color: #5292f7;
  --ht-input-focus-foreground-color: #373737;
  --ht-input-focus-background-color: #f0f0f0;
  --ht-menu-border-width: 1px;
  --ht-menu-border-radius: 0;
  --ht-menu-horizontal-padding: 0;
  --ht-menu-vertical-padding: 2px;
  --ht-menu-item-horizontal-padding: 8px;
  --ht-menu-item-vertical-padding: 2px;
  --ht-menu-border-color: #cccccc;
  --ht-menu-shadow-x: 1px;
  --ht-menu-shadow-y: 1px;
  --ht-menu-shadow-blur: 0;
  --ht-menu-shadow-color: #cccccc;
  --ht-menu-item-hover-color: rgba(55, 55, 55, 0.04);
  --ht-menu-item-active-color: rgba(55, 55, 55, 0.08);
  --ht-dialog-semi-transparent-background-color: rgba(255, 255, 255, 0.80);
  --ht-dialog-solid-background-color: #ffffff;
  --ht-dialog-content-padding-horizontal: 8px;
  --ht-dialog-content-padding-vertical: 8px;
  --ht-dialog-content-border-radius: 8px;
  --ht-dialog-content-background-color: #f0f0f0;
  --ht-pagination-bar-foreground-color: #373737;
  --ht-pagination-bar-background-color: #f0f0f0;
  --ht-pagination-bar-horizontal-padding: 8px;
  --ht-pagination-bar-vertical-padding: 4px;
}

@mixin dark {
  --ht-border-color: #404040;
  --ht-accent-color: #7aadff;
  --ht-foreground-color: #dcdcdc;
  --ht-foreground-secondary-color: #999999;
  --ht-background-color: #0f0f10;
  --ht-placeholder-color: #777777;
  --ht-read-only-color: #999999;
  --ht-disabled-color: #777777;
  --ht-shadow-color: #404040;
  --ht-cell-horizontal-border-color: #404040;
  --ht-cell-vertical-border-color: #404040;
  --ht-wrapper-border-color: #404040;
  --ht-row-header-odd-background-color: #222222;
  --ht-row-header-even-background-color: #222222;
  --ht-row-cell-odd-background-color: rgba(0, 0, 0, 0);
  --ht-row-cell-even-background-color: rgba(0, 0, 0, 0);
  --ht-cell-editor-border-color: #7aadff;
  --ht-cell-editor-foreground-color: #ffffff;
  --ht-cell-editor-background-color: #0f0f10;
  --ht-cell-editor-shadow-color: #7aadff;
  --ht-cell-success-background-color: rgba(66, 190, 101, 0.30);
  --ht-cell-error-background-color: rgba(255, 42, 52, 0.30);
  --ht-cell-read-only-background-color: rgba(0, 0, 0, 0);
  --ht-cell-selection-border-color: #7aadff;
  --ht-cell-selection-background-color: #6985b9;
  --ht-cell-autofill-border-color: #0f0f10;
  --ht-cell-autofill-background-color: #7aadff;
  --ht-cell-autofill-fill-border-color: #dcdcdc;
  --ht-cell-mobile-handle-border-color: #7aadff;
  --ht-cell-mobile-handle-background-color: rgba(122, 173, 255, 0.40);
  --ht-resize-indicator-color: #777777;
  --ht-move-backlight-color: rgba(220, 220, 220, 0.25);
  --ht-move-indicator-color: #777777;
  --ht-hidden-indicator-color: #777777;
  --ht-scrollbar-track-color: #222222;
  --ht-scrollbar-thumb-color: rgba(220, 220, 220, 0.40);
  --ht-header-foreground-color: #dcdcdc;
  --ht-header-background-color: #222222;
  --ht-header-highlighted-foreground-color: #dcdcdc;
  --ht-header-highlighted-background-color: #313131;
  --ht-header-active-border-color: #404040;
  --ht-header-active-foreground-color: #ffffff;
  --ht-header-active-background-color: #6985b9;
  --ht-header-filter-background-color: rgba(66, 190, 101, 0.30);
  --ht-header-row-foreground-color: #dcdcdc;
  --ht-header-row-background-color: #222222;
  --ht-header-row-highlighted-foreground-color: #dcdcdc;
  --ht-header-row-highlighted-background-color: #313131;
  --ht-header-row-active-foreground-color: #ffffff;
  --ht-header-row-active-background-color: #6985b9;
  --ht-checkbox-border-color: #777777;
  --ht-checkbox-background-color: #0f0f10;
  --ht-checkbox-icon-color: rgba(0, 0, 0, 0);
  --ht-checkbox-focus-border-color: #777777;
  --ht-checkbox-focus-background-color: #0f0f10;
  --ht-checkbox-focus-icon-color: rgba(0, 0, 0, 0);
  --ht-checkbox-focus-ring-color: #7aadff;
  --ht-checkbox-disabled-border-color: #777777;
  --ht-checkbox-disabled-background-color: #5c5c5c;
  --ht-checkbox-disabled-icon-color: rgba(0, 0, 0, 0);
  --ht-checkbox-checked-border-color: #8ec1ff;
  --ht-checkbox-checked-background-color: #7aadff;
  --ht-checkbox-checked-icon-color: #0f0f10;
  --ht-checkbox-checked-focus-border-color: #0f0f10;
  --ht-checkbox-checked-focus-background-color: #7aadff;
  --ht-checkbox-checked-focus-icon-color: #0f0f10;
  --ht-checkbox-checked-disabled-border-color: #777777;
  --ht-checkbox-checked-disabled-background-color: #0f0f10;
  --ht-checkbox-checked-disabled-icon-color: #777777;
  --ht-checkbox-indeterminate-border-color: #8ec1ff;
  --ht-checkbox-indeterminate-background-color: #7aadff;
  --ht-checkbox-indeterminate-icon-color: #0f0f10;
  --ht-checkbox-indeterminate-focus-border-color: #0f0f10;
  --ht-checkbox-indeterminate-focus-background-color: #7aadff;
  --ht-checkbox-indeterminate-focus-icon-color: #0f0f10;
  --ht-checkbox-indeterminate-disabled-border-color: #777777;
  --ht-checkbox-indeterminate-disabled-background-color: #5c5c5c;
  --ht-checkbox-indeterminate-disabled-icon-color: #777777;
  --ht-radio-border-color: #777777;
  --ht-radio-background-color: #0f0f10;
  --ht-radio-icon-color: rgba(0, 0, 0, 0);
  --ht-radio-focus-border-color: #777777;
  --ht-radio-focus-background-color: #0f0f10;
  --ht-radio-focus-icon-color: rgba(0, 0, 0, 0);
  --ht-radio-focus-ring-color: #7aadff;
  --ht-radio-disabled-border-color: #777777;
  --ht-radio-disabled-background-color: #5c5c5c;
  --ht-radio-disabled-icon-color: rgba(0, 0, 0, 0);
  --ht-radio-checked-border-color: #7aadff;
  --ht-radio-checked-background-color: #0f0f10;
  --ht-radio-checked-icon-color: #7aadff;
  --ht-radio-checked-focus-border-color: #8ec1ff;
  --ht-radio-checked-focus-background-color: #0f0f10;
  --ht-radio-checked-focus-icon-color: #7aadff;
  --ht-radio-checked-disabled-border-color: #777777;
  --ht-radio-checked-disabled-background-color: #5c5c5c;
  --ht-radio-checked-disabled-icon-color: #777777;
  --ht-icon-button-border-color: #5c5c5c;
  --ht-icon-button-background-color: #222222;
  --ht-icon-button-icon-color: #777777;
  --ht-icon-button-hover-border-color: #999999;
  --ht-icon-button-hover-background-color: #313131;
  --ht-icon-button-hover-icon-color: #999999;
  --ht-icon-button-active-border-color: #5c5c5c;
  --ht-icon-button-active-background-color: #222222;
  --ht-icon-button-active-icon-color: #777777;
  --ht-icon-button-active-hover-border-color: #999999;
  --ht-icon-button-active-hover-background-color: #222222;
  --ht-icon-button-active-hover-icon-color: #999999;
  --ht-collapse-button-open-border-color: #5c5c5c;
  --ht-collapse-button-open-background-color: #0f0f10;
  --ht-collapse-button-open-icon-color: #777777;
  --ht-collapse-button-open-icon-active-color: #777777;
  --ht-collapse-button-open-hover-border-color: #5c5c5c;
  --ht-collapse-button-open-hover-background-color: #0f0f10;
  --ht-collapse-button-open-hover-icon-color: #777777;
  --ht-collapse-button-open-hover-icon-active-color: #777777;
  --ht-collapse-button-close-border-color: #5c5c5c;
  --ht-collapse-button-close-background-color: #222222;
  --ht-collapse-button-close-icon-color: #777777;
  --ht-collapse-button-close-icon-active-color: #777777;
  --ht-collapse-button-close-hover-border-color: #5c5c5c;
  --ht-collapse-button-close-hover-background-color: #222222;
  --ht-collapse-button-close-hover-icon-color: #777777;
  --ht-collapse-button-close-hover-icon-active-color: #777777;
  --ht-primary-button-border-color: rgba(0, 0, 0, 0);
  --ht-primary-button-foreground-color: #0f0f10;
  --ht-primary-button-background-color: #7aadff;
  --ht-primary-button-disabled-border-color: rgba(0, 0, 0, 0);
  --ht-primary-button-disabled-foreground-color: #777777;
  --ht-primary-button-disabled-background-color: #313131;
  --ht-primary-button-hover-border-color: rgba(0, 0, 0, 0);
  --ht-primary-button-hover-foreground-color: #0f0f10;
  --ht-primary-button-hover-background-color: #6a9bff;
  --ht-primary-button-focus-border-color: #0f0f10;
  --ht-primary-button-focus-foreground-color: #0f0f10;
  --ht-primary-button-focus-background-color: #7aadff;
  --ht-secondary-button-border-color: rgba(0, 0, 0, 0);
  --ht-secondary-button-foreground-color: #dcdcdc;
  --ht-secondary-button-background-color: #0f0f10;
  --ht-secondary-button-disabled-border-color: rgba(0, 0, 0, 0);
  --ht-secondary-button-disabled-foreground-color: #777777;
  --ht-secondary-button-disabled-background-color: #313131;
  --ht-secondary-button-hover-border-color: rgba(0, 0, 0, 0);
  --ht-secondary-button-hover-foreground-color: #dcdcdc;
  --ht-secondary-button-hover-background-color: #222222;
  --ht-secondary-button-focus-border-color: rgba(0, 0, 0, 0);
  --ht-secondary-button-focus-foreground-color: #dcdcdc;
  --ht-secondary-button-focus-background-color: #0f0f10;
  --ht-comments-textarea-border-color: #404040;
  --ht-comments-textarea-foreground-color: #dcdcdc;
  --ht-comments-textarea-background-color: #0f0f10;
  --ht-comments-textarea-focus-border-color: #7aadff;
  --ht-comments-textarea-focus-foreground-color: #dcdcdc;
  --ht-comments-textarea-focus-background-color: #0f0f10;
  --ht-comments-indicator-color: #dcdcdc;
  --ht-license-foreground-color: #dcdcdc;
  --ht-license-background-color: #222222;
  --ht-link-color: #6a9bff;
  --ht-link-hover-color: #6a9bff;
  --ht-input-border-color: #404040;
  --ht-input-foreground-color: #dcdcdc;
  --ht-input-background-color: #222222;
  --ht-input-hover-border-color: #404040;
  --ht-input-hover-foreground-color: #dcdcdc;
  --ht-input-hover-background-color: #222222;
  --ht-input-disabled-border-color: #404040;
  --ht-input-disabled-foreground-color: #777777;
  --ht-input-disabled-background-color: #5c5c5c;
  --ht-input-focus-border-color: #7aadff;
  --ht-input-focus-foreground-color: #dcdcdc;
  --ht-input-focus-background-color: #222222;
  --ht-menu-border-color: #404040;
  --ht-menu-shadow-color: #404040;
  --ht-menu-item-hover-color: rgba(220, 220, 220, 0.12);
  --ht-menu-item-active-color: rgba(220, 220, 220, 0.16);
  --ht-dialog-semi-transparent-background-color: rgba(0, 0, 0, 0.80);
  --ht-dialog-solid-background-color: #0f0f10;
  --ht-dialog-content-background-color: #222222;
  --ht-pagination-bar-foreground-color: #dcdcdc;
  --ht-pagination-bar-background-color: #222222;
}

.ht-theme-classic,
.ht-theme-classic-dark,
.ht-theme-classic-dark-auto {
  @include light();
}

/* Dark mode */
.ht-theme-classic-dark {
  @include dark();
}

/* Auto dark mode */
@media (prefers-color-scheme: dark) {
  .ht-theme-classic-dark-auto {
    @include dark();
  }
}

/* Icons */
[class*=ht-theme-classic] {
  @include icons.output();
}
