@use "sass:color";
@use "utils/main/icons";

@mixin light {
  --ht-font-size: 12px;
  --ht-line-height: 20px;
  --ht-font-weight: 400;
  --ht-letter-spacing: 0px;
  --ht-border-radius: 4px;
  --ht-border-width: 1px;
  --ht-gap-size: 4px;
  --ht-icon-size: 16px;
  --ht-background-color: #ffffff;
  --ht-border-color: #e5e5e9;
  --ht-accent-color: #1a42e8;
  --ht-foreground-color: #222222;
  --ht-placeholder-color: #999999;
  --ht-read-only-color: #888888;
  --ht-disabled-color: #999999;
  --ht-table-transition: 0s;
  --ht-cell-horizontal-border-color: #e5e5e9;
  --ht-cell-vertical-border-color: #e5e5e9;
  --ht-cell-horizontal-border-width: 1px;
  --ht-cell-vertical-border-width: 1px;
  --ht-cell-vertical-padding: 8px;
  --ht-cell-horizontal-padding: 4px;
  --ht-cell-editor-foreground-color: #000000;
  --ht-cell-editor-border-color: #1a42e8;
  --ht-cell-editor-shadow-blur-radius: 8px;
  --ht-cell-editor-shadow-color: rgba(17, 61, 201, 0.6);
  --ht-cell-editor-border-width: 2px;
  --ht-cell-editor-background-color: #ffffff;
  --ht-cell-search-background-color: rgba(251, 233, 82, 0.8);
  --ht-cell-error-background-color: rgba(250, 77, 50, 0.2);
  --ht-cell-success-background-color: rgba(55, 188, 108, 0.2);
  --ht-cell-warning-background-color: rgba(251, 233, 82, 0.2);
  --ht-cell-informational-background-color: rgba(39, 194, 255, 0.2);
  --ht-cell-selection-border-color: #1a42e8;
  --ht-cell-selection-background-color: #1a42e8;
  --ht-cell-autofill-size: 6px;
  --ht-cell-autofill-border-width: 1px;
  --ht-cell-autofill-border-radius: 0px;
  --ht-cell-autofill-background-color: #1a42e8;
  --ht-cell-autofill-border-color: #ffffff;
  --ht-checkbox-size: 16px;
  --ht-checkbox-border-color: #e5e5e9;
  --ht-checkbox-background-color: rgba(255, 255, 255, 0);
  --ht-checkbox-icon-color: rgba(255, 255, 255, 0);
  --ht-checkbox-focus-background-color: #ffffff;
  --ht-checkbox-focus-border-color: #e5e5e9;
  --ht-checkbox-focus-icon-color: rgba(255, 255, 255, 0);
  --ht-checkbox-focus-ring-color: #1a42e8;
  --ht-checkbox-disabled-background-color: #d1d1d5;
  --ht-checkbox-disabled-border-color: #e5e5e9;
  --ht-checkbox-disabled-icon-color: rgba(255, 255, 255, 0);
  --ht-checkbox-hover-background-color: #ffffff;
  --ht-checkbox-hover-border-color: #e5e5e9;
  --ht-checkbox-hover-icon-color: rgba(34, 34, 34, 0.08);
  --ht-checkbox-checked-background-color: #1a42e8;
  --ht-checkbox-checked-border-color: #e5e5e9;
  --ht-checkbox-checked-icon-color: #ffffff;
  --ht-checkbox-checked-focus-background-color: #1a42e8;
  --ht-checkbox-checked-focus-border-color: #ffffff;
  --ht-checkbox-checked-focus-icon-color: #ffffff;
  --ht-checkbox-checked-disabled-background-color: #d1d1d5;
  --ht-checkbox-checked-disabled-border-color: #e5e5e9;
  --ht-checkbox-checked-disabled-icon-color: #999999;
  --ht-checkbox-checked-hover-background-color: #1a42e8;
  --ht-checkbox-checked-hover-border-color: rgba(255, 255, 255, 0.24);
  --ht-checkbox-checked-hover-icon-color: #ffffff;
  --ht-checkbox-indeterminate-background-color: #1a42e8;
  --ht-checkbox-indeterminate-border-color: #e5e5e9;
  --ht-checkbox-indeterminate-icon-color: #ffffff;
  --ht-checkbox-indeterminate-disabled-background-color: #d1d1d5;
  --ht-checkbox-indeterminate-disabled-border-color: #e5e5e9;
  --ht-checkbox-indeterminate-disabled-icon-color: #aeaeae;
  --ht-checkbox-indeterminate-hover-background-color: #1a42e8;
  --ht-checkbox-indeterminate-hover-border-color: rgba(255, 255, 255, 0.24);
  --ht-checkbox-indeterminate-hover-icon-color: #ffffff;
  --ht-checkbox-indeterminate-focus-background-color: #1a42e8;
  --ht-checkbox-indeterminate-focus-border-color: #ffffff;
  --ht-checkbox-indeterminate-focus-icon-color: #ffffff;
  --ht-header-active-background-color: #e1e5f7;
  --ht-header-active-foreground-color: #222222;
  --ht-header-active-border-color: #1a42e8;
  --ht-header-highlighted-foreground-color: #000000;
  --ht-header-highlighted-background-color: #eeeef0;
  --ht-header-highlighted-shadow-size: 0px;
  --ht-header-background-color: #f7f7f9;
  --ht-header-row-background-color: #f7f7f9;
  --ht-header-font-weight: 400;
  --ht-header-foreground-color: #222222;
  --ht-frozen-shadow-size: 2px;
  --ht-frozen-shadow-color: #e5e5e9;
  --ht-row-odd-background-color: #f7f7f9;
  --ht-row-hover-background-color: rgba(34, 34, 34, 0.05);
  --ht-row-collapse-indicator-border-color: #e5e5e9;
  --ht-row-even-background-color: #ffffff;
  --ht-resize-indicator-color: #999999;
  --ht-icon-button-background-color: rgba(255, 255, 255, 0);
  --ht-icon-button-icon-color: rgba(34, 34, 34, 0.4);
  --ht-icon-button-hover-background-color: rgba(34, 34, 34, 0.08);
  --ht-icon-button-hover-icon-color: rgba(34, 34, 34, 0.4);
  --ht-icon-button-focus-background-color: rgba(255, 255, 255, 0);
  --ht-icon-button-focus-icon-color: #1a42e8;
  --ht-icon-button-border-radius: 2px;
  --ht-icon-button-disabled-background-color: rgba(153, 153, 153, 0.32);
  --ht-icon-button-disabled-icon-color: #999999;
  --ht-collapse-button-border-radius: 4px;
  --ht-collapse-button-open-background-color: #ffffff;
  --ht-collapse-button-open-border-color: #e5e5e9;
  --ht-collapse-button-open-icon-color: #999999;
  --ht-collapse-button-open-hover-background-color: #f7f7f9;
  --ht-collapse-button-open-hover-border-color: #e5e5e9;
  --ht-collapse-button-open-hover-icon-color: #1a42e8;
  --ht-collapse-button-open-focus-background-color: #f7f7f9;
  --ht-collapse-button-open-focus-border-color: #e5e5e9;
  --ht-collapse-button-open-focus-icon-color: #1a42e8;
  --ht-collapse-button-close-icon-color: #666666;
  --ht-collapse-button-close-background-color: rgba(34, 34, 34, 0.08);
  --ht-collapse-button-close-border-color: #e5e5e9;
  --ht-collapse-button-close-hover-background-color: #666666;
  --ht-collapse-button-close-hover-border-color: #666666;
  --ht-collapse-button-close-hover-icon-color: #ffffff;
  --ht-collapse-button-close-focus-background-color: rgba(34, 34, 34, 0.08);
  --ht-collapse-button-close-focus-border-color: #e5e5e9;
  --ht-collapse-button-close-focus-icon-color: #1a42e8;
  --ht-primary-button-background-color: #1a42e8;
  --ht-primary-button-border-color: rgba(255, 255, 255, 0);
  --ht-primary-button-foreground-color: #ffffff;
  --ht-primary-button-disabled-background-color: rgba(153, 153, 153, 0.32);
  --ht-primary-button-disabled-foreground-color: #999999;
  --ht-primary-button-disabled-border-color: rgba(255, 255, 255, 0);
  --ht-primary-button-hover-background-color: #1535bc;
  --ht-primary-button-hover-foreground-color: #ffffff;
  --ht-primary-button-hover-border-color: rgba(255, 255, 255, 0);
  --ht-primary-button-focus-background-color: #1a42e8;
  --ht-primary-button-focus-foreground-color: #ffffff;
  --ht-primary-button-focus-border-color: #ffffff;
  --ht-secondary-button-background-color: #ffffff;
  --ht-secondary-button-foreground-color: #1a42e8;
  --ht-secondary-button-border-color: #e5e5e9;
  --ht-secondary-button-disabled-background-color: #eeeef0;
  --ht-secondary-button-disabled-foreground-color: #999999;
  --ht-secondary-button-disabled-border-color: #e5e5e9;
  --ht-secondary-button-hover-background-color: #e5e5e9;
  --ht-secondary-button-hover-foreground-color: #1a42e8;
  --ht-secondary-button-hover-border-color: #e5e5e9;
  --ht-secondary-button-focus-background-color: #ffffff;
  --ht-secondary-button-focus-foreground-color: #1a42e8;
  --ht-secondary-button-focus-border-color: #e5e5e9;
  --ht-button-vertical-padding: 12px;
  --ht-button-horizontal-padding: 6px;
  --ht-button-border-radius: 4px;
  --ht-move-backlight-color: rgba(34, 34, 34, 0.06);
  --ht-move-indicator-color: #1a42e8;
  --ht-comments-indicator-size: 6px;
  --ht-comments-indicator-color: #1a42e8;
  --ht-comments-textarea-horizontal-padding: 4px;
  --ht-comments-textarea-background-color: #f7f7f9;
  --ht-comments-textarea-border-width: 0px;
  --ht-comments-textarea-border-color: #e5e5e9;
  --ht-comments-textarea-foreground-color: #222222;
  --ht-comments-textarea-focus-background-color: #ffffff;
  --ht-comments-textarea-focus-border-color: #1a42e8;
  --ht-comments-textarea-focus-border-width: 1px;
  --ht-comments-textarea-focus-foreground-color: #222222;
  --ht-comments-textarea-vertical-padding: 8px;
  --ht-comments-font-size: 10px;
  --ht-comments-line-height: 16px;
  --ht-license-background-color: #f7f7f9;
  --ht-license-font-size: 10px;
  --ht-license-line-height: 18px;
  --ht-license-vertical-padding: 16px;
  --ht-license-horizontal-padding: 8px;
  --ht-license-foreground-color: #222222;
  --ht-link-color: #1a42e8;
  --ht-link-hover-color: #3e67ec;
  --ht-input-background-color: #eeeef0;
  --ht-input-border-color: #e5e5e9;
  --ht-input-foreground-color: #222222;
  --ht-input-border-width: 1px;
  --ht-input-disabled-background-color: rgba(153, 153, 153, 0.32);
  --ht-input-disabled-border-color: #e5e5e9;
  --ht-input-disabled-foreground-color: #999999;
  --ht-input-hover-background-color: #eeeef0;
  --ht-input-hover-border-color: #1a42e8;
  --ht-input-hover-foreground-color: #222222;
  --ht-input-focus-background-color: #ffffff;
  --ht-input-focus-border-color: #1a42e8;
  --ht-input-focus-foreground-color: #222222;
  --ht-input-horizontal-padding: 6px;
  --ht-input-vertical-padding: 12px;
  --ht-input-border-radius: 4px;
  --ht-label-font-size: 10px;
  --ht-label-line-height: 14px;
  --ht-menu-shadow-blur: 16px;
  --ht-menu-shadow-x: 0px;
  --ht-menu-shadow-y: 8px;
  --ht-menu-shadow-color: rgba(0, 0, 0, 0.08);
  --ht-menu-border-color: #e5e5e9;
  --ht-menu-border-width: 0px;
  --ht-menu-border-radius: 8px;
  --ht-menu-vertical-padding: 8px;
  --ht-menu-horizontal-padding: 0px;
  --ht-menu-item-horizontal-padding: 8px;
  --ht-menu-item-vertical-padding: 12px;
  --ht-menu-item-hover-color: rgba(34, 34, 34, 0.05);
  --ht-menu-item-active-color: rgba(26, 66, 232, 0.08);
  --ht-hidden-indicator-color: #999999;
  --ht-wrapper-border-width: 1px;
  --ht-wrapper-border-radius: 0px;
  --ht-scrollbar-thumb-color: #999999;
  --ht-scrollbar-track-color: #f7f7f9;
  --ht-scrollbar-border-radius: 8px;
}

@mixin dark {
  --ht-background-color: #121316;
  --ht-border-color: #222326;
  --ht-accent-color: #6d9af1;
  --ht-foreground-color: #acadae;
  --ht-placeholder-color: #68696c;
  --ht-read-only-color: #68696c;
  --ht-disabled-color: #68696c;
  --ht-cell-editor-foreground-color: #ffffff;
  --ht-cell-editor-border-color: #6d9af1;
  --ht-cell-editor-shadow-color: rgba(109, 154, 241, 0.5);
  --ht-cell-editor-background-color: #121316;
  --ht-cell-search-background-color: rgba(251, 233, 82, 0.4);
  --ht-cell-informational-background-color: rgba(69, 114, 201, 0.2);
  --ht-cell-selection-border-color: #6d9af1;
  --ht-cell-selection-background-color: #6d9af1;
  --ht-cell-autofill-background-color: #6d9af1;
  --ht-cell-autofill-border-color: #121316;
  --ht-checkbox-border-color: #222326;
  --ht-checkbox-focus-background-color: #121316;
  --ht-checkbox-focus-border-color: #222326;
  --ht-checkbox-focus-ring-color: #6d9af1;
  --ht-checkbox-disabled-background-color: #36373a;
  --ht-checkbox-disabled-border-color: #222326;
  --ht-checkbox-hover-background-color: #121316;
  --ht-checkbox-hover-border-color: #222326;
  --ht-checkbox-hover-icon-color: rgba(172, 173, 174, 0.08);
  --ht-checkbox-checked-background-color: #6d9af1;
  --ht-checkbox-checked-border-color: #222326;
  --ht-checkbox-checked-icon-color: #121316;
  --ht-checkbox-checked-focus-background-color: #6d9af1;
  --ht-checkbox-checked-focus-border-color: #000000;
  --ht-checkbox-checked-focus-icon-color: #121316;
  --ht-checkbox-checked-disabled-background-color: #36373a;
  --ht-checkbox-checked-disabled-border-color: #222326;
  --ht-checkbox-checked-disabled-icon-color: #68696c;
  --ht-checkbox-checked-hover-background-color: #6d9af1;
  --ht-checkbox-checked-hover-border-color: rgba(0, 0, 0, 0.24);
  --ht-checkbox-checked-hover-icon-color: #121316;
  --ht-checkbox-indeterminate-background-color: #6d9af1;
  --ht-checkbox-indeterminate-border-color: #222222;
  --ht-checkbox-indeterminate-icon-color: #121316;
  --ht-checkbox-indeterminate-disabled-background-color: #36373a;
  --ht-checkbox-indeterminate-disabled-border-color: #222326;
  --ht-checkbox-indeterminate-disabled-icon-color: #727272;
  --ht-checkbox-indeterminate-hover-background-color: #6d9af1;
  --ht-checkbox-indeterminate-hover-border-color: rgba(0, 0, 0, 0.24);
  --ht-checkbox-indeterminate-hover-icon-color: #121316;
  --ht-checkbox-indeterminate-focus-background-color: #6d9af1;
  --ht-checkbox-indeterminate-focus-border-color: #000000;
  --ht-checkbox-indeterminate-focus-icon-color: #121316;
  --ht-header-active-background-color: #212536;
  --ht-header-active-foreground-color: #acadae;
  --ht-header-active-border-color: #222326;
  --ht-header-highlighted-foreground-color: #acadae;
  --ht-header-highlighted-background-color: #232326;
  --ht-header-background-color: #19191c;
  --ht-header-row-background-color: #19191c;
  --ht-header-foreground-color: #acadae;
  --ht-frozen-shadow-color: #343436;
  --ht-row-odd-background-color: #232326;
  --ht-row-hover-background-color: rgba(239, 239, 243, 0.05);
  --ht-row-collapse-indicator-border-color: #222326;
  --ht-row-even-background-color: #121316;
  --ht-resize-indicator-color: #68696c;
  --ht-icon-button-background-color: rgba(0, 0, 0, 0);
  --ht-icon-button-icon-color: rgba(255, 255, 255, 0.4);
  --ht-icon-button-hover-background-color: rgba(255, 255, 255, 0.08);
  --ht-icon-button-hover-icon-color: rgba(255, 255, 255, 0.4);
  --ht-icon-button-focus-background-color: rgba(0, 0, 0, 0);
  --ht-icon-button-focus-icon-color: #27c2ff;
  --ht-icon-button-disabled-background-color: rgba(104, 105, 108, 0.32);
  --ht-icon-button-disabled-icon-color: #68696c;
  --ht-collapse-button-open-background-color: #000000;
  --ht-collapse-button-open-border-color: #222326;
  --ht-collapse-button-open-icon-color: #666666;
  --ht-collapse-button-open-hover-background-color: #19191c;
  --ht-collapse-button-open-hover-border-color: #222326;
  --ht-collapse-button-open-hover-icon-color: #6d9af1;
  --ht-collapse-button-open-focus-background-color: #19191c;
  --ht-collapse-button-open-focus-border-color: #222326;
  --ht-collapse-button-open-focus-icon-color: #6d9af1;
  --ht-collapse-button-close-icon-color: #999999;
  --ht-collapse-button-close-background-color: rgba(255, 255, 255, 0.08);
  --ht-collapse-button-close-border-color: #222326;
  --ht-collapse-button-close-hover-background-color: #999999;
  --ht-collapse-button-close-hover-border-color: #999999;
  --ht-collapse-button-close-hover-icon-color: #000000;
  --ht-collapse-button-close-focus-background-color: rgba(255, 255, 255, 0.08);
  --ht-collapse-button-close-focus-border-color: #222326;
  --ht-collapse-button-close-focus-icon-color: #6d9af1;
  --ht-primary-button-background-color: #6d9af1;
  --ht-primary-button-foreground-color: #121316;
  --ht-primary-button-disabled-background-color: rgba(104, 105, 108, 0.32);
  --ht-primary-button-disabled-foreground-color: #68696c;
  --ht-primary-button-hover-background-color: #7ca4f2;
  --ht-primary-button-hover-foreground-color: #121316;
  --ht-primary-button-focus-background-color: #6d9af1;
  --ht-primary-button-focus-foreground-color: #121316;
  --ht-primary-button-focus-border-color: #121316;
  --ht-secondary-button-background-color: #121316;
  --ht-secondary-button-foreground-color: #6d9af1;
  --ht-secondary-button-border-color: #222326;
  --ht-secondary-button-disabled-background-color: #232326;
  --ht-secondary-button-disabled-foreground-color: #68696c;
  --ht-secondary-button-disabled-border-color: #222326;
  --ht-secondary-button-hover-background-color: #222326;
  --ht-secondary-button-hover-foreground-color: #6d9af1;
  --ht-secondary-button-hover-border-color: #222326;
  --ht-secondary-button-focus-background-color: #121316;
  --ht-secondary-button-focus-foreground-color: #6d9af1;
  --ht-secondary-button-focus-border-color: #222326;
  --ht-move-backlight-color: rgba(172, 173, 174, 0.06);
  --ht-move-indicator-color: #6d9af1;
  --ht-comments-indicator-color: #6d9af1;
  --ht-comments-textarea-background-color: #19191c;
  --ht-comments-textarea-border-color: #222326;
  --ht-comments-textarea-foreground-color: #acadae;
  --ht-comments-textarea-focus-background-color: #121316;
  --ht-comments-textarea-focus-border-color: #6d9af1;
  --ht-comments-textarea-focus-foreground-color: #acadae;
  --ht-license-background-color: #19191c;
  --ht-license-foreground-color: #acadae;
  --ht-link-color: #6d9af1;
  --ht-link-hover-color: #4572c9;
  --ht-input-background-color: #232326;
  --ht-input-border-color: #222326;
  --ht-input-foreground-color: #acadae;
  --ht-input-disabled-background-color: rgba(104, 105, 108, 0.32);
  --ht-input-disabled-border-color: #222326;
  --ht-input-disabled-foreground-color: #68696c;
  --ht-input-hover-background-color: #232326;
  --ht-input-hover-border-color: #6d9af1;
  --ht-input-hover-foreground-color: #acadae;
  --ht-input-focus-background-color: #121316;
  --ht-input-focus-border-color: #6d9af1;
  --ht-input-focus-foreground-color: #acadae;
  --ht-menu-shadow-color: rgba(0, 0, 0, 0.8);
  --ht-menu-border-color: #222326;
  --ht-menu-item-hover-color: rgba(239, 239, 243, 0.05);
  --ht-menu-item-active-color: rgba(109, 154, 241, 0.08);
  --ht-hidden-indicator-color: #68696c;
  --ht-scrollbar-thumb-color: #68696c;
  --ht-scrollbar-track-color: #19191c;
}

.ht-theme-main,
.ht-theme-main-dark,
.ht-theme-main-dark-auto {
  @include light();
  @include icons.output();
}

.ht-theme-main-dark {
  @include dark();
}

/* Auto dark mode */
@media (prefers-color-scheme: dark) {
  .ht-theme-main-dark-auto {
    @include dark();
  }
}
