@use "sass:color";
@use "utils/main/icons";

@mixin light {
  /* Typography and spacing */
  --ht-font-size: 14px;
  --ht-line-height: 20px;
  --ht-font-weight: 400;
  --ht-letter-spacing: 0px;

  /* Borders and gaps */
  --ht-border-radius: 4px;
  --ht-border-width: 1px;
  --ht-gap-size: 4px;

  /* Icon sizes */
  --ht-icon-size: 16px;

  /* Colors: background, borders, and text */
  --ht-background-color: #ffffff;
  --ht-border-color: #e7e7e9;
  --ht-accent-color: #1a42e8;
  --ht-foreground-color: #222222;
  --ht-placeholder-color: #999999;
  --ht-read-only-color: #6a6a6a;
  --ht-disabled-color: #999999;

  /* Table transition and padding */
  --ht-table-transition: 0.15s;
  --ht-cell-vertical-border-width: 1px;
  --ht-cell-horizontal-border-width: 1px;
  --ht-cell-horizontal-padding: 8px;
  --ht-cell-vertical-padding: 4px;

  /* Cell editor styling */
  --ht-cell-editor-foreground-color: #000000;
  --ht-cell-editor-border-color: #1a42e8;
  --ht-cell-editor-shadow-blur-radius: 0px;
  --ht-cell-editor-shadow-color: rgba(17, 61, 201, 0.6);
  --ht-cell-editor-border-width: 2px;
  --ht-cell-editor-background-color: #ffffff;

  /* Cell search, error, and conditional formatting colors */
  --ht-cell-search-background-color: rgba(251, 233, 82, 0.8);
  --ht-cell-error-background-color: rgba(250, 77, 50, 0.2);
  --ht-cell-success-background-color: rgba(55, 188, 108, 0.2);
  --ht-cell-warning-background-color: rgba(251, 233, 82, 0.2);
  --ht-cell-informational-background-color: rgba(39, 194, 255, 0.2);

  /* Selection */
  --ht-cell-selection-border-color: #1a42e8;
  --ht-cell-selection-background-color: #1a42e8;

  /* Cell autofill data */
  --ht-cell-autofill-size: 6px;
  --ht-cell-autofill-border-width: 1px;
  --ht-cell-autofill-border-radius: 0px;
  --ht-cell-autofill-background-color: #1a42e8;
  --ht-cell-autofill-border-color: #ffffff;
  --ht-cell-vertical-border-color: #e7e7e9;

  /* Cell borders */
  --ht-cell-horizontal-border-color: #e7e7e9;

  /* Checkbox styling */
  --ht-checkbox-size: 16px;
  --ht-checkbox-border-color: #d1d1d5;
  --ht-checkbox-background-color: #ffffff;
  --ht-checkbox-icon-color: rgba(255, 255, 255, 0);
  --ht-checkbox-focus-background-color: #ffffff;
  --ht-checkbox-focus-border-color: #d1d1d5;
  --ht-checkbox-focus-icon-color: rgba(255, 255, 255, 0);
  --ht-checkbox-focus-ring-color: #1a42e8;

  /* Checkbox states: disabled, hover, checked, indeterminate */
  --ht-checkbox-disabled-background-color: #d1d1d5;
  --ht-checkbox-disabled-border-color: #e7e7e9;
  --ht-checkbox-disabled-icon-color: rgba(255, 255, 255, 0);
  --ht-checkbox-checked-background-color: #1a42e8;
  --ht-checkbox-checked-border-color: #1a42e8;
  --ht-checkbox-checked-icon-color: #ffffff;
  --ht-checkbox-checked-focus-background-color: #1a42e8;
  --ht-checkbox-checked-focus-border-color: #ffffff;
  --ht-checkbox-checked-focus-icon-color: #ffffff;
  --ht-checkbox-checked-disabled-background-color: #d1d1d5;
  --ht-checkbox-checked-disabled-border-color: #e7e7e9;
  --ht-checkbox-checked-disabled-icon-color: #999999;
  --ht-checkbox-indeterminate-background-color: #1a42e8;
  --ht-checkbox-indeterminate-border-color: #e5e5e9;
  --ht-checkbox-indeterminate-icon-color: #ffffff;
  --ht-checkbox-indeterminate-disabled-background-color: #d1d1d5;
  --ht-checkbox-indeterminate-disabled-border-color: #e7e7e9;
  --ht-checkbox-indeterminate-disabled-icon-color: #aeaeae;
  --ht-checkbox-indeterminate-focus-background-color: #1a42e8;
  --ht-checkbox-indeterminate-focus-border-color: #ffffff;
  --ht-checkbox-indeterminate-focus-icon-color: #ffffff;

  /* Header styling */
  --ht-header-active-background-color: #1a42e8;
  --ht-header-active-foreground-color: #ffffff;
  --ht-header-active-border-color: #2e56fc;
  --ht-header-highlighted-foreground-color: #000000;
  --ht-header-highlighted-background-color: #ebebed;
  --ht-header-highlighted-shadow-size: 0px;
  --ht-header-background-color: #f7f7f9;
  --ht-header-row-background-color: #f7f7f9;
  --ht-header-font-weight: 400;
  --ht-header-foreground-color: #222222;
  --ht-header-filter-background-color: rgba(55, 188, 108, 0.2);

  /* Frozen rows and columns styling */
  --ht-frozen-shadow-size: 2px;
  --ht-frozen-shadow-color: #e5e5e9;

  /* Odd and even row backgrounds */
  --ht-row-odd-background-color: rgba(34, 34, 34, 0);
  --ht-row-hover-background-color: rgba(34, 34, 34, 0.05);
  --ht-row-collapse-indicator-border-color: #e7e7e9;
  --ht-row-even-background-color: rgba(34, 34, 34, 0);

  /* Resize indicator */
  --ht-resize-indicator-color: #6a6a6a;
  --ht-icon-button-background-color: rgba(255, 255, 255, 0);
  --ht-icon-button-icon-color: rgba(34, 34, 34, 0.6);
  --ht-icon-active-button-icon-color: #ffffff;
  --ht-icon-button-hover-background-color: rgba(34, 34, 34, 0.08);
  --ht-icon-button-hover-icon-color: rgba(34, 34, 34, 0.4);
  --ht-icon-button-focus-background-color: rgba(255, 255, 255, 0);
  --ht-icon-button-focus-icon-color: #1a42e8;
  --ht-icon-button-border-radius: 2px;
  --ht-icon-button-disabled-background-color: rgba(153, 153, 153, 0.32);
  --ht-icon-button-disabled-icon-color: #999999;
  --ht-collapse-button-border-radius: 4px;
  --ht-collapse-button-open-background-color: #ffffff;
  --ht-collapse-button-open-border-color: #e7e7e9;
  --ht-collapse-button-open-icon-color: #999999;
  --ht-collapse-button-open-icon-active-color: #999999;
  --ht-collapse-button-open-hover-background-color: #f7f7f9;
  --ht-collapse-button-open-hover-border-color: #e7e7e9;
  --ht-collapse-button-open-hover-icon-color: #999999;
  --ht-collapse-button-open-hover-icon-active-color: #999999;
  --ht-collapse-button-open-focus-background-color: #f7f7f9;
  --ht-collapse-button-open-focus-border-color: #e7e7e9;
  --ht-collapse-button-open-focus-icon-color: #1a42e8;
  --ht-collapse-button-close-icon-color: #666666;
  --ht-collapse-button-close-background-color: rgba(34, 34, 34, 0.08);
  --ht-collapse-button-close-border-color: #e7e7e9;
  --ht-collapse-button-close-icon-active-color: #666666;
  --ht-collapse-button-close-hover-background-color: rgba(34, 34, 34, 0.08);
  --ht-collapse-button-close-hover-border-color: #e7e7e9;
  --ht-collapse-button-close-hover-icon-color: #666666;
  --ht-collapse-button-close-hover-icon-active-color: #666666;
  --ht-collapse-button-close-focus-background-color: rgba(34, 34, 34, 0.08);
  --ht-collapse-button-close-focus-border-color: #e7e7e9;
  --ht-collapse-button-close-focus-icon-color: #1a42e8;

  /* Buttons */
  --ht-primary-button-background-color: #1a42e8;
  --ht-primary-button-border-color: rgba(255, 255, 255, 0);
  --ht-primary-button-foreground-color: #ffffff;
  --ht-primary-button-disabled-background-color: rgba(153, 153, 153, 0.32);
  --ht-primary-button-disabled-foreground-color: #999999;
  --ht-primary-button-disabled-border-color: rgba(255, 255, 255, 0);
  --ht-primary-button-hover-background-color: #1535bc;
  --ht-primary-button-hover-foreground-color: #ffffff;
  --ht-primary-button-hover-border-color: rgba(255, 255, 255, 0);
  --ht-primary-button-focus-background-color: #1a42e8;
  --ht-primary-button-focus-foreground-color: #ffffff;
  --ht-primary-button-focus-border-color: #ffffff;
  --ht-secondary-button-background-color: #ffffff;
  --ht-secondary-button-foreground-color: #222222;
  --ht-secondary-button-border-color: #e7e7e9;
  --ht-secondary-button-disabled-background-color: #ebebed;
  --ht-secondary-button-disabled-foreground-color: #999999;
  --ht-secondary-button-disabled-border-color: #e7e7e9;
  --ht-secondary-button-hover-background-color: #f7f7f9;
  --ht-secondary-button-hover-foreground-color: #222222;
  --ht-secondary-button-hover-border-color: #e7e7e9;
  --ht-secondary-button-focus-background-color: #ffffff;
  --ht-secondary-button-focus-foreground-color: #222222;
  --ht-secondary-button-focus-border-color: #e7e7e9;
  --ht-button-horizontal-padding: 12px;
  --ht-button-vertical-padding: 6px;
  --ht-button-border-radius: 4px;
  --ht-move-backlight-color: rgba(34, 34, 34, 0.06);
  --ht-move-indicator-color: #1a42e8;

  /* Comments styling */
  --ht-comments-indicator-size: 6px;
  --ht-comments-indicator-color: #1a42e8;
  --ht-comments-textarea-vertical-padding: 4px;
  --ht-comments-textarea-background-color: #f7f7f9;
  --ht-comments-textarea-border-width: 0px;
  --ht-comments-textarea-border-color: #e7e7e9;
  --ht-comments-textarea-foreground-color: #222222;
  --ht-comments-textarea-focus-background-color: #ffffff;
  --ht-comments-textarea-focus-border-color: #1a42e8;
  --ht-comments-textarea-focus-border-width: 1px;
  --ht-comments-textarea-focus-foreground-color: #222222;
  --ht-comments-textarea-horizontal-padding: 8px;
  --ht-license-background-color: #f7f7f9;
  --ht-license-horizontal-padding: 16px;
  --ht-license-vertical-padding: 8px;
  --ht-license-foreground-color: #222222;
  --ht-link-color: #1a42e8;
  --ht-link-hover-color: #3e67ec;

  /* Input fields */
  --ht-input-background-color: #f7f7f9;
  --ht-input-border-color: #e7e7e9;
  --ht-input-foreground-color: #222222;
  --ht-input-border-width: 1px;
  --ht-input-disabled-background-color: rgba(153, 153, 153, 0.32);
  --ht-input-disabled-border-color: #e7e7e9;
  --ht-input-disabled-foreground-color: #999999;
  --ht-input-hover-background-color: #ffffff;
  --ht-input-hover-border-color: #e7e7e9;
  --ht-input-hover-foreground-color: #222222;
  --ht-input-focus-background-color: #ffffff;
  --ht-input-focus-border-color: #1a42e8;
  --ht-input-focus-foreground-color: #222222;
  --ht-input-vertical-padding: 6px;
  --ht-input-horizontal-padding: 12px;
  --ht-input-border-radius: 4px;
  --ht-menu-shadow-blur: 16px;
  --ht-menu-shadow-x: 0px;
  --ht-menu-shadow-y: 8px;
  --ht-menu-shadow-color: rgba(0, 0, 0, 0.08);
  --ht-menu-border-color: #e7e7e9;
  --ht-menu-border-width: 1px;
  --ht-menu-border-radius: 4px;
  --ht-menu-horizontal-padding: 0px;
  --ht-menu-vertical-padding: 8px;
  --ht-menu-item-vertical-padding: 4px;
  --ht-menu-item-horizontal-padding: 12px;
  --ht-menu-item-hover-color: rgba(34, 34, 34, 0.05);
  --ht-menu-item-active-color: rgba(0, 0, 0, 0.08);
  --ht-hidden-indicator-color: #6a6a6a;
  --ht-wrapper-border-width: 1px;
  --ht-wrapper-border-radius: 0px;

  /* Scrollbars */
  --ht-scrollbar-thumb-color: #999999;
  --ht-scrollbar-track-color: #f7f7f9;
  --ht-scrollbar-border-radius: 8px;
}

@mixin dark {
  --ht-background-color: #0f0f10;
  --ht-border-color: #313132;
  --ht-accent-color: #6d9af1;
  --ht-foreground-color: #f3f3f3;
  --ht-placeholder-color: #68696c;
  --ht-read-only-color: #9a9b9e;
  --ht-disabled-color: #68696c;
  --ht-cell-editor-foreground-color: #ffffff;
  --ht-cell-editor-border-color: #6d9af1;
  --ht-cell-editor-shadow-color: rgba(109, 154, 241, 0.5);
  --ht-cell-editor-background-color: #0f0f10;
  --ht-cell-search-background-color: rgba(255, 231, 34, 0.3);
  --ht-cell-error-background-color: rgba(255, 42, 52, 0.3);
  --ht-cell-success-background-color: rgba(66, 190, 101, 0.3);
  --ht-cell-warning-background-color: rgba(241, 194, 28, 0.3);
  --ht-cell-informational-background-color: rgba(39, 194, 255, 0.3);
  --ht-cell-selection-border-color: #6d9af1;
  --ht-cell-selection-background-color: #95c2ff;
  --ht-cell-autofill-background-color: #6d9af1;
  --ht-cell-autofill-border-color: #0f0f10;
  --ht-cell-vertical-border-color: #313132;
  --ht-cell-horizontal-border-color: #313132;
  --ht-checkbox-border-color: #404144;
  --ht-checkbox-background-color: #0f0f10;
  --ht-checkbox-focus-background-color: #0f0f10;
  --ht-checkbox-focus-border-color: #404144;
  --ht-checkbox-focus-ring-color: #6d9af1;
  --ht-checkbox-disabled-background-color: #404144;
  --ht-checkbox-disabled-border-color: #313132;
  --ht-checkbox-checked-background-color: #6d9af1;
  --ht-checkbox-checked-border-color: undefined;
  --ht-checkbox-checked-icon-color: #f3f3f3;
  --ht-checkbox-checked-focus-background-color: #6d9af1;
  --ht-checkbox-checked-focus-border-color: #000000;
  --ht-checkbox-checked-focus-icon-color: #0f0f10;
  --ht-checkbox-checked-disabled-background-color: #36373a;
  --ht-checkbox-checked-disabled-border-color: #313132;
  --ht-checkbox-checked-disabled-icon-color: #68696c;
  --ht-checkbox-indeterminate-background-color: #6d9af1;
  --ht-checkbox-indeterminate-border-color: #222222;
  --ht-checkbox-indeterminate-icon-color: #0f0f10;
  --ht-checkbox-indeterminate-disabled-background-color: #36373a;
  --ht-checkbox-indeterminate-disabled-border-color: #313132;
  --ht-checkbox-indeterminate-disabled-icon-color: #727272;
  --ht-checkbox-indeterminate-focus-background-color: #6d9af1;
  --ht-checkbox-indeterminate-focus-border-color: #000000;
  --ht-checkbox-indeterminate-focus-icon-color: #0f0f10;
  --ht-header-active-background-color: #6d9af1;
  --ht-header-active-foreground-color: #0f0f10;
  --ht-header-active-border-color: #5986dd;
  --ht-header-highlighted-foreground-color: #f3f3f3;
  --ht-header-highlighted-background-color: #262627;
  --ht-header-background-color: #1e1e1f;
  --ht-header-row-background-color: #1e1e1f;
  --ht-header-foreground-color: #f3f3f3;
  --ht-header-filter-background-color: rgba(66, 190, 101, 0.3);
  --ht-frozen-shadow-color: #48484a;
  --ht-row-odd-background-color: rgba(239, 239, 243, 0);
  --ht-row-hover-background-color: rgba(239, 239, 243, 0.12);
  --ht-row-collapse-indicator-border-color: #313132;
  --ht-row-even-background-color: rgba(239, 239, 243, 0);
  --ht-resize-indicator-color: #999999;
  --ht-icon-button-background-color: rgba(0, 0, 0, 0);
  --ht-icon-button-icon-color: rgba(255, 255, 255, 0.6);
  --ht-icon-active-button-icon-color: #0f0f10;
  --ht-icon-button-hover-background-color: rgba(255, 255, 255, 0.08);
  --ht-icon-button-hover-icon-color: rgba(255, 255, 255, 0.4);
  --ht-icon-button-focus-background-color: rgba(0, 0, 0, 0);
  --ht-icon-button-focus-icon-color: #27c2ff;
  --ht-icon-button-disabled-background-color: rgba(104, 105, 108, 0.32);
  --ht-icon-button-disabled-icon-color: #68696c;
  --ht-collapse-button-open-background-color: #000000;
  --ht-collapse-button-open-border-color: #313132;
  --ht-collapse-button-open-icon-color: #666666;
  --ht-collapse-button-open-icon-active-color: #666666;
  --ht-collapse-button-open-hover-background-color: #1e1e1f;
  --ht-collapse-button-open-hover-border-color: #313132;
  --ht-collapse-button-open-hover-icon-color: #666666;
  --ht-collapse-button-open-hover-icon-active-color: #666666;
  --ht-collapse-button-open-focus-background-color: #1e1e1f;
  --ht-collapse-button-open-focus-border-color: #313132;
  --ht-collapse-button-open-focus-icon-color: #6d9af1;
  --ht-collapse-button-close-icon-color: #999999;
  --ht-collapse-button-close-background-color: rgba(255, 255, 255, 0.08);
  --ht-collapse-button-close-border-color: #313132;
  --ht-collapse-button-close-icon-active-color: #999999;
  --ht-collapse-button-close-hover-background-color: rgba(255, 255, 255, 0.08);
  --ht-collapse-button-close-hover-border-color: #313132;
  --ht-collapse-button-close-hover-icon-color: #999999;
  --ht-collapse-button-close-hover-icon-active-color: #999999;
  --ht-collapse-button-close-focus-background-color: rgba(255, 255, 255, 0.08);
  --ht-collapse-button-close-focus-border-color: #313132;
  --ht-collapse-button-close-focus-icon-color: #6d9af1;
  --ht-primary-button-background-color: #6d9af1;
  --ht-primary-button-foreground-color: #0f0f10;
  --ht-primary-button-disabled-background-color: rgba(104, 105, 108, 0.32);
  --ht-primary-button-disabled-foreground-color: #68696c;
  --ht-primary-button-hover-background-color: #7ca4f2;
  --ht-primary-button-hover-foreground-color: #0f0f10;
  --ht-primary-button-focus-background-color: #6d9af1;
  --ht-primary-button-focus-foreground-color: #0f0f10;
  --ht-primary-button-focus-border-color: #0f0f10;
  --ht-secondary-button-background-color: #0f0f10;
  --ht-secondary-button-foreground-color: #f3f3f3;
  --ht-secondary-button-border-color: #313132;
  --ht-secondary-button-disabled-background-color: #262627;
  --ht-secondary-button-disabled-foreground-color: #68696c;
  --ht-secondary-button-disabled-border-color: #313132;
  --ht-secondary-button-hover-background-color: #1e1e1f;
  --ht-secondary-button-hover-foreground-color: #f3f3f3;
  --ht-secondary-button-hover-border-color: #313132;
  --ht-secondary-button-focus-foreground-color: #f3f3f3;
  --ht-secondary-button-focus-border-color: #313132;
  --ht-move-backlight-color: rgba(221, 221, 221, 0.12);
  --ht-move-indicator-color: #6d9af1;
  --ht-comments-indicator-color: #6d9af1;
  --ht-comments-textarea-background-color: #1e1e1f;
  --ht-comments-textarea-border-color: #313132;
  --ht-comments-textarea-foreground-color: #f3f3f3;
  --ht-comments-textarea-focus-background-color: #0f0f10;
  --ht-comments-textarea-focus-border-color: #6d9af1;
  --ht-comments-textarea-focus-foreground-color: #f3f3f3;
  --ht-license-background-color: #1e1e1f;
  --ht-license-foreground-color: #f3f3f3;
  --ht-link-color: #6d9af1;
  --ht-link-hover-color: #4572c9;
  --ht-input-background-color: #1e1e1f;
  --ht-input-border-color: #313132;
  --ht-input-foreground-color: #f3f3f3;
  --ht-input-disabled-background-color: rgba(104, 105, 108, 0.32);
  --ht-input-disabled-border-color: #313132;
  --ht-input-disabled-foreground-color: #68696c;
  --ht-input-hover-background-color: #0f0f10;
  --ht-input-hover-border-color: #313132;
  --ht-input-hover-foreground-color: #f3f3f3;
  --ht-input-focus-background-color: #0f0f10;
  --ht-input-focus-border-color: #6d9af1;
  --ht-input-focus-foreground-color: #f3f3f3;
  --ht-menu-shadow-color: rgba(0, 0, 0, 0.8);
  --ht-menu-border-color: #313132;
  --ht-menu-item-hover-color: rgba(239, 239, 243, 0.12);
  --ht-menu-item-active-color: rgba(239, 239, 243, 0.12);
  --ht-hidden-indicator-color: #999999;
  --ht-scrollbar-thumb-color: #68696c;
  --ht-scrollbar-track-color: #19191c;
}

.ht-theme-main,
.ht-theme-main-dark,
.ht-theme-main-dark-auto {
  @include light();
  @include icons.output();
}

.ht-theme-main-dark {
  @include dark();
}

/* Auto dark mode */
@media (prefers-color-scheme: dark) {
  .ht-theme-main-dark-auto {
    @include dark();
  }
}
