@use "sass:color";
@use "utils/main/icons";

@mixin light {
  --ht-font-size: 14px;
  --ht-line-height: 20px;
  --ht-font-weight: 400;
  --ht-gap-size: 6px;
  --ht-icon-size: 16px;
  --ht-table-transition: 0.2s;
  --ht-border-color: #2429b9;
  --ht-accent-color: #2429b9;
  --ht-foreground-color: #2429b9;
  --ht-background-color: #eeeef0;
  --ht-placeholder-color: #868686;
  --ht-read-only-color: #2429b9;
  --ht-disabled-color: #aeaeae;
  --ht-cell-horizontal-border-color: #2429b9;
  --ht-cell-vertical-border-color: #2429b9;
  --ht-wrapper-border-width: 1px;
  --ht-wrapper-border-radius: 0px;
  --ht-wrapper-border-color: #2429b9;
  --ht-row-header-odd-background-color: #eeeef0;
  --ht-row-header-even-background-color: #eeeef0;
  --ht-row-cell-odd-background-color: #eeeef0;
  --ht-row-cell-even-background-color: #eeeef0;
  --ht-cell-horizontal-padding: 12px;
  --ht-cell-vertical-padding: 8px;
  --ht-cell-editor-border-width: 2px;
  --ht-cell-editor-border-color: #2429b9;
  --ht-cell-editor-foreground-color: #000000;
  --ht-cell-editor-background-color: #eeeef0;
  --ht-cell-editor-shadow-blur-radius: 0px;
  --ht-cell-editor-shadow-color: #2429b9;
  --ht-cell-success-background-color: rgba(36, 41, 185, 0.30);
  --ht-cell-error-background-color: rgba(250, 77, 50, 0.30);
  --ht-cell-selection-border-color: #2429b9;
  --ht-cell-selection-background-color: #2429b9;
  --ht-cell-autofill-size: 6px;
  --ht-cell-autofill-border-width: 1px;
  --ht-cell-autofill-border-radius: 4px;
  --ht-cell-autofill-border-color: #eeeef0;
  --ht-cell-autofill-background-color: #2429b9;
  --ht-resize-indicator-color: #2429b9;
  --ht-move-backlight-color: rgba(36, 41, 185, 0.12);
  --ht-move-indicator-color: #2429b9;
  --ht-hidden-indicator-color: #2429b9;
  --ht-scrollbar-border-radius: 0px;
  --ht-scrollbar-track-color: #2429b9;
  --ht-scrollbar-thumb-color: #eeeef0;
  --ht-checkbox-size: 16px;
  --ht-checkbox-border-radius: 0px;
  --ht-checkbox-border-color: #2429b9;
  --ht-checkbox-background-color: #eeeef0;
  --ht-checkbox-icon-color: #eeeef0;
  --ht-checkbox-focus-border-color: #2429b9;
  --ht-checkbox-focus-background-color: #eeeef0;
  --ht-checkbox-focus-icon-color: #2429b9;
  --ht-checkbox-focus-ring-color: #2429b9;
  --ht-checkbox-disabled-border-color: #aeaeae;
  --ht-checkbox-disabled-background-color: #aeaeae;
  --ht-checkbox-disabled-icon-color: #eeeef0;
  --ht-checkbox-checked-border-color: #2429b9;
  --ht-checkbox-checked-background-color: #2429b9;
  --ht-checkbox-checked-icon-color: #eeeef0;
  --ht-checkbox-checked-focus-background-color: #2429b9;
  --ht-checkbox-checked-disabled-border-color: #aeaeae;
  --ht-checkbox-checked-disabled-background-color: #eeeef0;
  --ht-checkbox-checked-disabled-icon-color: #aeaeae;
  --ht-header-font-weight: 400;
  --ht-header-foreground-color: #2429b9;
  --ht-header-background-color: #eeeef0;
  --ht-header-active-border-color: #2429b9;
  --ht-header-active-foreground-color: #eeeef0;
  --ht-header-active-background-color: #2429b9;
  --ht-header-highlighted-shadow-size: 0px;
  --ht-header-highlighted-foreground-color: #2429b9;
  --ht-header-highlighted-background-color: #ffffff;
  --ht-header-filter-background-color: rgba(36, 41, 185, 0.30);
  --ht-header-row-background-color: #eeeef0;
  --ht-icon-button-border-radius: 0px;
  --ht-icon-button-border-color: #eeeef0;
  --ht-icon-button-background-color: #eeeef0;
  --ht-icon-button-icon-color: #2429b9;
  --ht-icon-button-hover-border-color: #eeeef0;
  --ht-icon-button-hover-background-color: #eeeef0;
  --ht-icon-button-hover-icon-color: #2429b9;
  --ht-icon-active-button-border-color: #2429b9;
  --ht-icon-active-button-background-color: #2429b9;
  --ht-icon-active-button-icon-color: #eeeef0;
  --ht-icon-active-button-hover-border-color: #2429b9;
  --ht-icon-active-button-hover-background-color: #2429b9;
  --ht-icon-active-button-hover-icon-color: #eeeef0;
  --ht-collapse-button-border-radius: 0px;
  --ht-collapse-button-open-border-color: #eeeef0;
  --ht-collapse-button-open-background-color: #eeeef0;
  --ht-collapse-button-open-icon-color: #2429b9;
  --ht-collapse-button-open-icon-active-color: #eeeef0;
  --ht-collapse-button-open-hover-border-color: #eeeef0;
  --ht-collapse-button-open-hover-background-color: #2429b9;
  --ht-collapse-button-open-hover-icon-color: #2429b9;
  --ht-collapse-button-open-hover-icon-active-color: #eeeef0;
  --ht-collapse-button-close-border-color: #eeeef0;
  --ht-collapse-button-close-background-color: #eeeef0;
  --ht-collapse-button-close-icon-color: #2429b9;
  --ht-collapse-button-close-icon-active-color: #eeeef0;
  --ht-collapse-button-close-hover-border-color: #eeeef0;
  --ht-collapse-button-close-hover-background-color: #eeeef0;
  --ht-collapse-button-close-hover-icon-color: #2429b9;
  --ht-collapse-button-close-hover-icon-active-color: #eeeef0;
  --ht-button-border-radius: 0px;
  --ht-button-horizontal-padding: 16px;
  --ht-button-vertical-padding: 0px;
  --ht-primary-button-border-color: #2429b9;
  --ht-primary-button-foreground-color: #eeeef0;
  --ht-primary-button-background-color: #2429b9;
  --ht-primary-button-disabled-border-color: #eeeef0;
  --ht-primary-button-disabled-foreground-color: #aeaeae;
  --ht-primary-button-disabled-background-color: #eeeef0;
  --ht-primary-button-hover-border-color: #2429b9;
  --ht-primary-button-hover-foreground-color: #eeeef0;
  --ht-primary-button-hover-background-color: #2429b9;
  --ht-primary-button-focus-foreground-color: #eeeef0;
  --ht-primary-button-focus-background-color: #2429b9;
  --ht-secondary-button-border-color: #eeeef0;
  --ht-secondary-button-foreground-color: #2429b9;
  --ht-secondary-button-background-color: #eeeef0;
  --ht-secondary-button-disabled-border-color: #eeeef0;
  --ht-secondary-button-disabled-foreground-color: #aeaeae;
  --ht-secondary-button-disabled-background-color: #eeeef0;
  --ht-secondary-button-hover-border-color: #eeeef0;
  --ht-secondary-button-hover-foreground-color: #2429b9;
  --ht-secondary-button-hover-background-color: #eeeef0;
  --ht-secondary-button-focus-border-color: #eeeef0;
  --ht-secondary-button-focus-foreground-color: #2429b9;
  --ht-secondary-button-focus-background-color: #eeeef0;
  --ht-comments-textarea-horizontal-padding: 12px;
  --ht-comments-textarea-vertical-padding: 8px;
  --ht-comments-indicator-size: 6px;
  --ht-comments-indicator-color: #2429b9;
  --ht-comments-textarea-border-width: 1px;
  --ht-comments-textarea-border-color: rgba(255, 255, 255, 0);
  --ht-comments-textarea-foreground-color: #2429b9;
  --ht-comments-textarea-background-color: #eeeef0;
  --ht-comments-textarea-focus-border-width: 1px;
  --ht-comments-textarea-focus-border-color: #2429b9;
  --ht-comments-textarea-focus-foreground-color: #2429b9;
  --ht-comments-textarea-focus-background-color: #eeeef0;
  --ht-license-horizontal-padding: 16px;
  --ht-license-vertical-padding: 16px;
  --ht-license-foreground-color: #2429b9;
  --ht-license-background-color: #eeeef0;
  --ht-input-border-width: 1px;
  --ht-input-border-radius: 0px;
  --ht-input-horizontal-padding: 16px;
  --ht-input-vertical-padding: 8px;
  --ht-input-border-color: #2429b9;
  --ht-input-foreground-color: #2429b9;
  --ht-input-background-color: #eeeef0;
  --ht-input-hover-border-color: #2429b9;
  --ht-input-hover-foreground-color: #2429b9;
  --ht-input-hover-background-color: #eeeef0;
  --ht-input-focus-border-color: #2429b9;
  --ht-input-focus-foreground-color: #2429b9;
  --ht-input-focus-background-color: #eeeef0;
  --ht-menu-border-width: 1px;
  --ht-menu-border-radius: 0px;
  --ht-menu-horizontal-padding: 0px;
  --ht-menu-vertical-padding: 12px;
  --ht-menu-item-horizontal-padding: 8px;
  --ht-menu-item-vertical-padding: 8px;
  --ht-menu-shadow-x: 0px;
  --ht-menu-shadow-y: 0px;
  --ht-menu-shadow-blur: 0px;
  --ht-menu-border-color: #2429b9;
  --ht-menu-shadow-color: #2429b9;
  --ht-menu-item-hover-color: #ffffff;
  --ht-menu-item-active-color: #ffffff;
}

@mixin dark {
  --ht-border-color: #8180d2;
  --ht-accent-color: #8180d2;
  --ht-foreground-color: #8180d2;
  --ht-background-color: #130f20;
  --ht-placeholder-color: #5d5d5d;
  --ht-read-only-color: #8180d2;
  --ht-disabled-color: #727272;
  --ht-cell-horizontal-border-color: #8180d2;
  --ht-cell-vertical-border-color: #8180d2;
  --ht-wrapper-border-color: #8180d2;
  --ht-row-header-odd-background-color: #130f20;
  --ht-row-header-even-background-color: #130f20;
  --ht-row-cell-odd-background-color: #130f20;
  --ht-row-cell-even-background-color: #130f20;
  --ht-cell-editor-border-color: #8180d2;
  --ht-cell-editor-foreground-color: #ffffff;
  --ht-cell-editor-background-color: #130f20;
  --ht-cell-editor-shadow-color: #8180d2;
  --ht-cell-success-background-color: rgba(129, 128, 210, 0.30);
  --ht-cell-error-background-color: rgba(251, 98, 75, 0.30);
  --ht-cell-selection-border-color: #8180d2;
  --ht-cell-selection-background-color: #8180d2;
  --ht-cell-autofill-border-color: #130f20;
  --ht-cell-autofill-background-color: #8180d2;
  --ht-resize-indicator-color: #8180d2;
  --ht-move-backlight-color: rgba(129, 128, 210, 0.12);
  --ht-move-indicator-color: #8180d2;
  --ht-hidden-indicator-color: #8180d2;
  --ht-scrollbar-track-color: #8180d2;
  --ht-scrollbar-thumb-color: #130f20;
  --ht-checkbox-border-color: #8180d2;
  --ht-checkbox-background-color: #130f20;
  --ht-checkbox-icon-color: #130f20;
  --ht-checkbox-focus-border-color: #8180d2;
  --ht-checkbox-focus-background-color: #130f20;
  --ht-checkbox-focus-icon-color: #8180d2;
  --ht-checkbox-focus-ring-color: #8180d2;
  --ht-checkbox-disabled-border-color: #727272;
  --ht-checkbox-disabled-background-color: #727272;
  --ht-checkbox-disabled-icon-color: #130f20;
  --ht-checkbox-checked-border-color: #8180d2;
  --ht-checkbox-checked-background-color: #8180d2;
  --ht-checkbox-checked-icon-color: #130f20;
  --ht-checkbox-checked-focus-background-color: #8180d2;
  --ht-checkbox-checked-disabled-border-color: #727272;
  --ht-checkbox-checked-disabled-background-color: #130f20;
  --ht-checkbox-checked-disabled-icon-color: #727272;
  --ht-header-foreground-color: #8180d2;
  --ht-header-background-color: #130f20;
  --ht-header-active-border-color: #476af7;
  --ht-header-active-foreground-color: #130f20;
  --ht-header-active-background-color: #8180d2;
  --ht-header-highlighted-foreground-color: #8180d2;
  --ht-header-highlighted-background-color: #000000;
  --ht-header-filter-background-color: rgba(129, 128, 210, 0.30);
  --ht-header-row-background-color: #130f20;
  --ht-icon-button-border-color: #130f20;
  --ht-icon-button-background-color: #130f20;
  --ht-icon-button-icon-color: #8180d2;
  --ht-icon-button-hover-border-color: #130f20;
  --ht-icon-button-hover-background-color: #130f20;
  --ht-icon-button-hover-icon-color: #8180d2;
  --ht-icon-active-button-border-color: #8180d2;
  --ht-icon-active-button-background-color: #8180d2;
  --ht-icon-active-button-icon-color: #130f20;
  --ht-icon-active-button-hover-border-color: #8180d2;
  --ht-icon-active-button-hover-background-color: #8180d2;
  --ht-icon-active-button-hover-icon-color: #130f20;
  --ht-collapse-button-open-border-color: #130f20;
  --ht-collapse-button-open-background-color: #130f20;
  --ht-collapse-button-open-icon-color: #8180d2;
  --ht-collapse-button-open-icon-active-color: #130f20;
  --ht-collapse-button-open-hover-border-color: #130f20;
  --ht-collapse-button-open-hover-background-color: #8180d2;
  --ht-collapse-button-open-hover-icon-color: #8180d2;
  --ht-collapse-button-open-hover-icon-active-color: #130f20;
  --ht-collapse-button-close-border-color: #130f20;
  --ht-collapse-button-close-background-color: #130f20;
  --ht-collapse-button-close-icon-color: #8180d2;
  --ht-collapse-button-close-icon-active-color: #130f20;
  --ht-collapse-button-close-hover-border-color: #130f20;
  --ht-collapse-button-close-hover-background-color: #130f20;
  --ht-collapse-button-close-hover-icon-color: #8180d2;
  --ht-collapse-button-close-hover-icon-active-color: #130f20;
  --ht-primary-button-border-color: #8180d2;
  --ht-primary-button-foreground-color: #130f20;
  --ht-primary-button-background-color: #8180d2;
  --ht-primary-button-disabled-border-color: #130f20;
  --ht-primary-button-disabled-foreground-color: #727272;
  --ht-primary-button-disabled-background-color: #130f20;
  --ht-primary-button-hover-border-color: #8180d2;
  --ht-primary-button-hover-foreground-color: #130f20;
  --ht-primary-button-hover-background-color: #8180d2;
  --ht-primary-button-focus-foreground-color: #130f20;
  --ht-primary-button-focus-background-color: #8180d2;
  --ht-secondary-button-border-color: #130f20;
  --ht-secondary-button-foreground-color: #8180d2;
  --ht-secondary-button-background-color: #130f20;
  --ht-secondary-button-disabled-border-color: #130f20;
  --ht-secondary-button-disabled-foreground-color: #727272;
  --ht-secondary-button-disabled-background-color: #130f20;
  --ht-secondary-button-hover-border-color: #130f20;
  --ht-secondary-button-hover-foreground-color: #8180d2;
  --ht-secondary-button-hover-background-color: #130f20;
  --ht-secondary-button-focus-border-color: #130f20;
  --ht-secondary-button-focus-foreground-color: #8180d2;
  --ht-secondary-button-focus-background-color: #130f20;
  --ht-comments-indicator-color: #8180d2;
  --ht-comments-textarea-foreground-color: #8180d2;
  --ht-comments-textarea-background-color: #130f20;
  --ht-comments-textarea-focus-border-color: #8180d2;
  --ht-comments-textarea-focus-foreground-color: #8180d2;
  --ht-comments-textarea-focus-background-color: #130f20;
  --ht-license-foreground-color: #8180d2;
  --ht-license-background-color: #130f20;
  --ht-input-border-color: #8180d2;
  --ht-input-foreground-color: #8180d2;
  --ht-input-background-color: #130f20;
  --ht-input-hover-border-color: #8180d2;
  --ht-input-hover-foreground-color: #8180d2;
  --ht-input-hover-background-color: #130f20;
  --ht-input-focus-border-color: #8180d2;
  --ht-input-focus-foreground-color: #8180d2;
  --ht-input-focus-background-color: #130f20;
  --ht-menu-border-color: #8180d2;
  --ht-menu-shadow-color: #8180d2;
  --ht-menu-item-hover-color: #000000;
  --ht-menu-item-active-color: #000000;
}

.ht-theme-nostalgia,
.ht-theme-nostalgia-dark,
.ht-theme-nostalgia-dark-auto {
  @include light();
}

/* Dark mode */
.ht-theme-nostalgia-dark {
  @include dark();
}

/* Auto dark mode */
@media (prefers-color-scheme: dark) {
  .ht-theme-nostalgia-dark-auto {
    @include dark();
  }
}

/* Icons */
[class*=ht-theme-nostalgia] {
  @include icons.output();
}
