@use "utils/horizon/variables";

.ht-theme-horizon,
.ht-theme-horizon-dark,
.ht-theme-horizon-dark-auto {
  @include variables.light();
  @include variables.theme();
}

/* Dark mode */
.ht-theme-horizon-dark {
  @include variables.dark();
}

/* Auto dark mode */
@media (prefers-color-scheme: dark) {
  .ht-theme-horizon-dark-auto {
    @include variables.dark();
  }
}
