@use "utils/main/variables";

.ht-theme-main,
.ht-theme-main-dark,
.ht-theme-main-dark-auto {
  @include variables.light();
  @include variables.theme();
}

/* Dark mode */
.ht-theme-main-dark {
  @include variables.dark();
}

/* Auto dark mode */
@media (prefers-color-scheme: dark) {
  .ht-theme-main-dark-auto {
    @include variables.dark();
  }
}