ul.icons-wrapper {
  margin-top: 50px;
  text-align: center;
}

ul.icons-wrapper > .col {
  margin: 0 0 1.4rem 0 !important;
  line-height: 1;
}

ul.icons-wrapper > .col svg {
  width: 48px;
  height: 48px;
  fill: rgba(0, 0, 0, 0.75);
}

ul.icons-wrapper > .col span {
  padding: 0 10px;
  display: block;
  white-space: nowrap;
  overflow: hidden;
  font-size: 12px;
  text-overflow: ellipsis;
  text-align: center;
}
