name: Build every package in different environments.

on:
  push:
    branches:
      - 'master'
      - 'develop'
      - 'release/**'
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

env:
  NODE_VERSION: 22
  PYTHON_VERSION: '3.11'

jobs:
  build-on-unix:
    name: Build all packages in ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    timeout-minutes: 60
    strategy:
      fail-fast: false
      matrix:
        os: [ ubuntu-latest, macos-latest ]
    steps:
      - uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11 # https://github.com/actions/checkout/releases/tag/v4.1.1

      # should resolve node-gyp issue we have been having with builds
      - name: Set up Python ${{ env.PYTHON_VERSION }}
        uses: actions/setup-python@61a6322f88396a6271a6ee3565807d608ecaddd1  # v4.7.0
        with:
         python-version: ${{ env.PYTHON_VERSION }}

      - uses: pnpm/action-setup@a7487c7e89a18df4991f7f222e4898a00d66ddda # v4.1.0
        name: Install pnpm

      - name: Use Node.js
        uses: actions/setup-node@49933ea5288caeca8642d1e84afbd3f7d6820020 # https://github.com/actions/setup-node/releases/tag/v4.4.0
        with:
          node-version-file: '.nvmrc'
          cache: 'pnpm'

      - name: Install the dependencies
        run: pnpm install

      - name: Build all packages
        run: npm run all build

  build-on-windows:
    name: Build all packages in windows-latest
    runs-on: windows-latest
    timeout-minutes: 60
    env:
      # Force npm operations to use the D drive (much faster)
      npm_config_cache: D:/npm-cache
      TEMP: D:/Temp
      TMP: D:/Temp
    steps:
      # Use D drive for checkout (much faster)
      - name: Checkout to D drive
        run: |
          mkdir D:/handsontable
          git clone -b $env:GITHUB_REF_NAME https://github.com/handsontable/handsontable D:/handsontable --depth 1

      # Create temp and cache directories on D drive
      - name: Setup D drive directories
        run: |
          mkdir D:/Temp -Force
          mkdir D:/npm-cache -Force

      - uses: pnpm/action-setup@a7487c7e89a18df4991f7f222e4898a00d66ddda # v4.1.0
        name: Install pnpm
        with:
          version: 10 # On Windows the `packageManager` field of `package.json` seems to not be recognized.

      - name: Use Node.js
        uses: actions/setup-node@49933ea5288caeca8642d1e84afbd3f7d6820020 # https://github.com/actions/setup-node/releases/tag/v4.4.0
        with:
          node-version: ${{ env.NODE_VERSION }}

      - name: Install the dependencies
        working-directory: D:/handsontable
        run: pnpm install

      - name: Build all packages
        working-directory: D:/handsontable
        run: npm run all build
