# This workflow asserts that new changelog entries get added within pull requests.
# See `/.changelogs/README.md` for more information.

name: Changelog

on:
  pull_request:
    types:
      # When new commits get pushed to the associated PR
      - synchronize

      # When a PR gets first opened
      - opened

      # When a PR gets edited, as in the title, body or the base branch gets changed
      - edited

env:
  NODE_VERSION: 16

jobs:
  check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@93ea575cb5d8a053eaa0ac8fa3b40d7e05a33cc8 # https://github.com/actions/checkout/releases/tag/v3.1.0

      - name: Use Node.js ${{ env.NODE_VERSION }}
        uses: actions/setup-node@8c91899e586c5b171469028077307d293428b516 # https://github.com/actions/setup-node/releases/tag/v3.5.1
        with:
          node-version: ${{ env.NODE_VERSION }}

      - name: Install dependencies
        run: npm ci --no-audit

      - name: Assert that a new changelog was added, or that the check is skipped
        env:
          TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: node .github/scripts/check-changelog

      - name: Check that all changelogs are valid
        run: bin/changelog consume --date 2050-01-01 --dry-run
