td.custom-cell {
  color: #fff !important;
  background-color: #254ac6 !important;
}
.custom-table thead th:nth-child(even),
.custom-table tbody tr:nth-child(odd) th {
  color: #fff !important;
  background-color: #254ac6 !important;
}